<div class="header-in bg-color1">
    <div class="cover-waku all-center-1280">
        <div class="waku">
            <div id="line-three" class="line-three-class">
                <input type="checkbox" id="navigation">
                <div class="line-three-in">
                    <div class="nav-wrapper">
                        <label class="cross" for="navigation">✖️</label>
                        <div class="header-logo-cover">
                            <div class="header-logo">
                                <a href="https://www.milktea-hair.com/#pagetop"><img src="/images/assets/milk-tea-new/header_mainlogo.png" alt="Milk tea"></a>
                            </div>
                        </div>
                        <div id="nav" class="nav-cover all-center-1280">
                            <ul class="ul-nav">
                                <li class="li-nav">
                                    <div class="width-nav">
                                        <a href="https://www.milktea-hair.com/#concept-jump">
                                            <div class="nav-anchor-flex-wrapper">
                                                <div class="nav-anchor-flex-cover">
                                                    <div class="nav-anchor-flex">
                                                        <div class="nav-design">CONCEPT</div>
                                                        <div class="nav-katakana-cover">
                                                            <div class="nav-katakana">コンセプト</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li class="li-nav">
                                    <div class="width-nav">
                                        <a href="https://www.milktea-hair.com/#stylist-jump">
                                            <div class="li-nav-in">
                                                <div class="nav-anchor-flex-cover">
                                                    <div class="nav-anchor-flex">
                                                        <div class="nav-design">STYLIST</div>
                                                        <div class="nav-katakana-cover">
                                                            <div class="nav-katakana">スタイリスト</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li class="li-nav">
                                    <div class="width-nav">
                                        <div class="li-nav-in">
                                            <div class="nav-anchor-flex-cover">
                                                <div class="nav-anchor-flex">
                                                    <a class="display-in" href="https://form.milktea-hair.com/contact.php">
                                                        <div class="nav-design">CONTACT</div>
                                                        <div class="nav-katakana-cover">
                                                            <div class="nav-katakana">お問い合わせ</div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div id="footer-jump-nav">
                                <div class="reserve-recruit-flex-cover all-center-1280">
                                    <div class="reserve-recruit-flex">
                                        <div class="wrapper">
                                            <div class="cover">
                                                <a href="<%= url_for(action: 'reserve', wkey: @website.wsite_hash_key) %>">
                                                    <div class="web-reserve pointer1">
                                                        <div class="web-reserve-in">
                                                            <img src="/images/assets/milk-tea-new/header_hpb_logo.png" alt="hotpepper logo">
                                                            <span class="web-reserve-text">WEB RESERVE</span>
                                                        </div>
                                                    </div>		
                                                </a>
                                            </div>
                                            <div class="cover pointer1">
                                                <a href="https://www.milktea-hair.com/#recruit-together"><div class="recruit-jump">RECRUIT</div></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="footer-under-nav"></div>
                        </div>
                    </div>
                </div>
                <label for="navigation">
                    <div class="three-image-cover">
                        <img src="/images/assets/milk-tea-new/menu_icon_80_80.png" alt="メニュー　ロゴ">
                    </div>
                </label>
            </div>
            <div class="header-logo-flex-cover">
                <div class="header-logo-flex">
                    <div class="header-logo">							
                        <a href="<%= url_for :action=>'home', :anchor=>'pagetop', :wkey=>@website.wsite_hash_key %>"><img src="/images/assets/milk-tea-new/header_mainlogo.png" alt="Milk tea ロゴ"></a>
                    </div>
                </div>
            </div>
            <div id="reserve-recruit" class="reserve-recruit-class">
                <div class="reserve-recruit-flex-cover no-display-sp">
                    <div class="reserve-recruit-flex">
                        <div class="wrapper">
                            <div class="cover">
                                <a href="<%= url_for(action: 'reserve', wkey: @website.wsite_hash_key) %>">
                                    <div class="web-reserve pointer1">
                                        <div class="web-reserve-in">
                                            <img src="/images/assets/milk-tea-new/header_hpb_logo.png" alt="hotpepper logo">
                                            <span class="web-reserve-text">WEB RESERVE</span>
                                        </div>
                                    </div>		
                                </a>
                            </div>
                            <div class="cover pointer1">
                                <a href="<%= url_for :action=>'home', :anchor=>'recruit-together', :wkey=>@website.wsite_hash_key %>"><div class="recruit-jump">RECRUIT</div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
