<!DOCTYPE html>
<html lang="ja"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<meta http-equiv="Content-Language" content="ja">
	<meta name="viewport" content="width=480">


	<title>美容室「Milk tea」</title>
	<meta name="title" content="美容室「Milk tea」">
	<link rel="stylesheet" type="text/css" href="/stylesheets/assets/milktea-new/style.css?hash=0216">
	<link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<script src="/javascripts/assets/milk-tea-new/jquery-3.3.1.js"></script>

<script>
$(document).ready(function(){
	$(".nav-wrapper a").click(function(){
		$('#navigation').click();
	});
});
</script>
</head>
<body id="page-index"><div id="bgLayer">
<div id="pagetop"></div>

	<header>
		<div class="header-in bg-color1">
    <div class="cover-waku all-center-1280">
        <div class="waku">
            <div id="line-three" class="line-three-class">
                <input type="checkbox" id="navigation">
                <div class="line-three-in">
                    <div class="nav-wrapper">
                        <label class="cross" for="navigation">✖️</label>
                        <div class="header-logo-cover">
                            <div class="header-logo">
                                <a href="https://www.milktea-hair.com/#pagetop"><img src="/images/assets/milk-tea-new/header_mainlogo.png" alt="Milk tea"></a>
                            </div>
                        </div>
                        <div id="nav" class="nav-cover all-center-1280">
                            <ul class="ul-nav">
                                <li class="li-nav">
                                    <div class="width-nav">
                                        <a href="https://www.milktea-hair.com/#concept-jump">
                                            <div class="nav-anchor-flex-wrapper">
                                                <div class="nav-anchor-flex-cover">
                                                    <div class="nav-anchor-flex">
                                                        <div class="nav-design">CONCEPT</div>
                                                        <div class="nav-katakana-cover">
                                                            <div class="nav-katakana">コンセプト</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li class="li-nav">
                                    <div class="width-nav">
                                        <a href="https://www.milktea-hair.com/#stylist-jump">
                                            <div class="li-nav-in">
                                                <div class="nav-anchor-flex-cover">
                                                    <div class="nav-anchor-flex">
                                                        <div class="nav-design">STYLIST</div>
                                                        <div class="nav-katakana-cover">
                                                            <div class="nav-katakana">スタイリスト</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li class="li-nav">
                                    <div class="width-nav">
                                        <div class="li-nav-in">
                                            <div class="nav-anchor-flex-cover">
                                                <div class="nav-anchor-flex">
                                                    <a class="display-in" href="https://form.milktea-hair.com/contact.php">
                                                        <div class="nav-design">CONTACT</div>
                                                        <div class="nav-katakana-cover">
                                                            <div class="nav-katakana">お問い合わせ</div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div id="footer-jump-nav">
                                <div class="reserve-recruit-flex-cover all-center-1280">
                                    <div class="reserve-recruit-flex">
                                        <div class="wrapper">
                                            <div class="cover">
                                                <a href="/bs_renderer/reserve?wkey=b578efc18880499bcf58893f6cbf74cd">
                                                    <div class="web-reserve pointer1">
                                                        <div class="web-reserve-in">
                                                            <img src="/images/assets/milk-tea-new/header_hpb_logo.png" alt="hotpepper logo">
                                                            <span class="web-reserve-text">WEB RESERVE</span>
                                                        </div>
                                                    </div>		
                                                </a>
                                            </div>
                                            <div class="cover pointer1">
                                                <a href="https://www.milktea-hair.com/#recruit-together"><div class="recruit-jump">RECRUIT</div></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="footer-under-nav"></div>
                        </div>
                    </div>
                </div>
                <label for="navigation">
                    <div class="three-image-cover">
                        <img src="/images/assets/milk-tea-new/menu_icon_80_80.png" alt="メニュー　ロゴ">
                    </div>
                </label>
            </div>
            <div class="header-logo-flex-cover">
                <div class="header-logo-flex">
                    <div class="header-logo">							
                        <a href="/bs_renderer/home?wkey=b578efc18880499bcf58893f6cbf74cd#pagetop"><img src="/images/assets/milk-tea-new/header_mainlogo.png" alt="Milk tea ロゴ"></a>
                    </div>
                </div>
            </div>
            <div id="reserve-recruit" class="reserve-recruit-class">
                <div class="reserve-recruit-flex-cover no-display-sp">
                    <div class="reserve-recruit-flex">
                        <div class="wrapper">
                            <div class="cover">
                                <a href="/bs_renderer/reserve?wkey=b578efc18880499bcf58893f6cbf74cd">
                                    <div class="web-reserve pointer1">
                                        <div class="web-reserve-in">
                                            <img src="/images/assets/milk-tea-new/header_hpb_logo.png" alt="hotpepper logo">
                                            <span class="web-reserve-text">WEB RESERVE</span>
                                        </div>
                                    </div>		
                                </a>
                            </div>
                            <div class="cover pointer1">
                                <a href="/bs_renderer/home?wkey=b578efc18880499bcf58893f6cbf74cd#recruit-together"><div class="recruit-jump">RECRUIT</div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

	</header>

	<main>
		<section>
			<div id="top">
				<div id="introduction" class="all-center-1280 sp-LR10">
					<div class="introduction-in">
						<div class="reserve-contents-flex-cover">
							<div class="reserve-contents-flex">
								<div class="reserve-contents">
									<div class="shop-logo"><img src="/images/assets/milk-tea-new/milktea_logo.png" alt="Milk tea Hair Garden"></div>
									<div class="icon-many-flex-cover">
										<div class="icon-many-flex">
											<div class="icon"><a href="tel:025-211-4595"><img src="/images/assets/milk-tea-new/phone_icon.png" alt="tel アイコン"></a></div>
											<div class="icon"><a href="https://0314.jbplt.jp/"><img src="/images/assets/milk-tea-new/mail_icon.png" alt="メール　アイコン"></a></div>
											<div class="icon"><a href="https://goo.gl/maps/HKSbcwcfJsbHmh1F8"><img src="/images/assets/milk-tea-new/pin_icon.png" alt="地図　アイコン"></a></div>
											<div class="icon"><a href="https://www.instagram.com/milkteagroup/"><img src="/images/assets/milk-tea-new/insta_icon.png" alt="インスタグラム　アイコン"></a></div>
											<div class="icon"><a href="https://beauty.hotpepper.jp/slnH000230521/coupon/"><img src="/images/assets/milk-tea-new/hpb_logo.png" alt="ホットペッパービューティー　アイコン"></a></div>
										</div>
									</div>
								</div>
								<div class="reserve-contents">
									<div class="shop-logo"><img src="/images/assets/milk-tea-new/milktea_daigaku_logo.png" alt="Milk tea Hair Garden"></div>
									<div class="icon-many-flex-cover">
										<div class="icon-many-flex">
											<div class="icon"><a href="tel:025-263-1633"><img src="/images/assets/milk-tea-new/phone_icon.png" alt="tel アイコン"></a></div>
											<div class="icon"><a href="https://0314.jbplt.jp/"><img src="/images/assets/milk-tea-new/mail_icon.png" alt="メール　アイコン"></a></div>
											<div class="icon"><a href="https://goo.gl/maps/EWowYNLwpkVPWyQW6"><img src="/images/assets/milk-tea-new/pin_icon.png" alt="地図　アイコン"></a></div>
											<div class="icon"><a href="https://www.instagram.com/milkteagroup/"><img src="/images/assets/milk-tea-new/insta_icon.png" alt="インスタグラム　アイコン"></a></div>
											<div class="icon"><a href="https://beauty.hotpepper.jp/slnH000348459/coupon/"><img src="/images/assets/milk-tea-new/hpb_logo.png" alt="ホットペッパービューティー　アイコン"></a></div>
										</div>
									</div>
								</div>
								<div class="reserve-contents">
									<div class="shop-logo"><img src="/images/assets/milk-tea-new/kinomama_logo.png" alt="Milk tea Hair Garden"></div>
									<div class="icon-many-flex-cover">
										<div class="icon-many-flex">
											<div class="icon"><a href="tel:025-288-5031"><img src="/images/assets/milk-tea-new/phone_icon.png" alt="tel アイコン"></a></div>
											<div class="icon"><a href="https://0314.jbplt.jp/"><img src="/images/assets/milk-tea-new/mail_icon.png" alt="メール　アイコン"></a></div>
											<div class="icon"><a href="https://goo.gl/maps/fyDSzTBSFCzrndBy5"><img src="/images/assets/milk-tea-new/pin_icon.png" alt="地図　アイコン"></a></div>
											<div class="icon"><a href="https://www.instagram.com/milkteagroup/"><img src="/images/assets/milk-tea-new/insta_icon.png" alt="インスタグラム　アイコン"></a></div>
											<div class="icon"><a href="https://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000424555"><img src="/images/assets/milk-tea-new/hpb_logo.png" alt="ホットペッパービューティー　アイコン"></a></div>
										</div>
									</div>
								</div>
								<div class="reserve-contents">
									<div class="shop-logo"><img src="/images/assets/milk-tea-new/fuwarica_logo.png" alt="Milk tea Hair Garden"></div>
									<div class="icon-many-flex-cover">
										<div class="icon-many-flex">
											<div class="icon"><a href="tel:025-378-3449"><img src="/images/assets/milk-tea-new/phone_icon.png" alt="tel アイコン"></a></div>
											<div class="icon"><a href="https://0314.jbplt.jp/"><img src="/images/assets/milk-tea-new/mail_icon.png" alt="メール　アイコン"></a></div>
											<div class="icon"><a href="https://goo.gl/maps/aHNCLJindmhv7EZe6"><img src="/images/assets/milk-tea-new/pin_icon.png" alt="地図　アイコン"></a></div>
											<div class="icon"><a href="https://www.instagram.com/milkteagroup/"><img src="/images/assets/milk-tea-new/insta_icon.png" alt="インスタグラム　アイコン"></a></div>
											<div class="icon"><a href="https://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000349275"><img src="/images/assets/milk-tea-new/hpb_logo.png" alt="ホットペッパービューティー　アイコン"></a></div>
										</div>
									</div>
								</div>
								<div class="reserve-contents">
									<div class="shop-logo"><img src="/images/assets/milk-tea-new/milktea_kameda_logo.png" alt="Milk tea Hair Garden"></div>
									<div class="icon-many-flex-cover">
										<div class="icon-many-flex">
											<div class="icon"><a href="tel:025-384-0692"><img src="/images/assets/milk-tea-new/phone_icon.png" alt="tel アイコン"></a></div>
											<div class="icon"><a href="https://0314.jbplt.jp/"><img src="/images/assets/milk-tea-new/mail_icon.png" alt="メール　アイコン"></a></div>
											<div class="icon"><a href="https://goo.gl/maps/WKii2jzPEpu3RbSp9"><img src="/images/assets/milk-tea-new/pin_icon.png" alt="地図　アイコン"></a></div>
											<div class="icon"><a href="https://www.instagram.com/milkteagroup/"><img src="/images/assets/milk-tea-new/insta_icon.png" alt="インスタグラム　アイコン"></a></div>
											<div class="icon"><a href="https://beauty.hotpepper.jp/slnH000536979/coupon/"><img src="/images/assets/milk-tea-new/hpb_logo.png" alt="ホットペッパービューティー　アイコン"></a></div>
										</div>
									</div>
								</div>
								<div class="reserve-contents">
									<div class="shop-logo"><img src="/images/assets/milk-tea-new/canele_logo.png" alt="Milk tea Hair Garden"></div>
									<div class="icon-many-flex-cover">
										<div class="icon-many-flex">
											<div class="icon"><a href="tel:025-369-5370"><img src="/images/assets/milk-tea-new/phone_icon.png" alt="tel アイコン"></a></div>
											<div class="icon"><a href="https://0314.jbplt.jp/"><img src="/images/assets/milk-tea-new/mail_icon.png" alt="メール　アイコン"></a></div>
											<div class="icon"><a href="https://goo.gl/maps/fQ5wsM8Af5f9yRUt6"><img src="/images/assets/milk-tea-new/pin_icon.png" alt="地図　アイコン"></a></div>
											<div class="icon"><a href="https://www.instagram.com/milkteagroup/"><img src="/images/assets/milk-tea-new/insta_icon.png" alt="インスタグラム　アイコン"></a></div>
											<div class="icon"><a href="https://beauty.hotpepper.jp/slnH000526228/coupon/"><img src="/images/assets/milk-tea-new/hpb_logo.png" alt="ホットペッパービューティー　アイコン"></a></div>
											</div>
									</div>
								</div>
								<div class="reserve-contents">
									<div class="shop-logo"><img src="/images/assets/milk-tea-new/milktea_chill_logo.png" alt="Milk tea Hair Garden"></div>
									<div class="icon-many-flex-cover">
										<div class="icon-many-flex">
											<div class="icon"><a href="tel:025-364-1145"><img src="/images/assets/milk-tea-new/phone_icon.png" alt="tel アイコン"></a></div>
											<div class="icon"><a href="https://maps.app.goo.gl/n5QgXe5C1YmNAQP1A"><img src="/images/assets/milk-tea-new/pin_icon.png" alt="地図　アイコン"></a></div>
											<div class="icon"><a href="https://www.instagram.com/milkteagroup/"><img src="/images/assets/milk-tea-new/insta_icon.png" alt="インスタグラム　アイコン"></a></div>
											<div class="icon"><a href="https://beauty.hotpepper.jp/slnH000693161/"><img src="/images/assets/milk-tea-new/hpb_logo.png" alt="ホットペッパービューティー　アイコン"></a></div>
										</div>
									</div>
								</div>
								<div class="reserve-contents">
									<div class="shop-logo"><img src="/images/assets/milk-tea-new/milktea_ukari_logo.png" alt="Milk tea Hair Garden"></div>
									<div class="icon-many-flex-cover">
										<div class="icon-many-flex">
											<div class="icon"><a href="tel:025-369-5370"><img src="/images/assets/milk-tea-new/phone_icon.png" alt="tel アイコン"></a></div>
											<div class="icon"><a href="https://maps.app.goo.gl/8sEECvnAf3SUfJQz6"><img src="/images/assets/milk-tea-new/pin_icon.png" alt="地図　アイコン"></a></div>
											<div class="icon"><a href="https://www.instagram.com/u_kari0601/"><img src="/images/assets/milk-tea-new/insta_icon.png" alt="インスタグラム　アイコン"></a></div>
											<div class="icon"><a href="https://beauty.hotpepper.jp/slnH000705022/"><img src="/images/assets/milk-tea-new/hpb_logo.png" alt="ホットペッパービューティー　アイコン"></a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<a id="concept-jump"></a>
				<div id="concept" class="all-center-1280">
					<div class="concept-in sp-LR15">
						<div class="caption-img-cover"><img src="/images/assets/milk-tea-new/concept.png" alt="concept">
							<div class="wrapper">
								<div class="cover">
									<div class="text-many">どこかヨーロッパの街角に並ぶカフェを思わせるような雰囲気<br>店内にはたくさんのかわいい雑貨達がお出迎え<br>「可愛い」が店内にあふれるように・・・そんな想いで Milktea を作りました。</div>
								</div>
								<div class="cover">
									<div class="text-many">お客様の可愛さを見つけるお手伝い<br>一緒に素敵なスタイルを見つけましょう！<br>私たちにお手伝いさせてください</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<a id="stylist-jump"></a>
				<div id="stylist" class="all-center-1280">
					<div class="stylist-in sp-LR15">
						<div class="caption-img-cover"><img src="/images/assets/milk-tea-new/stylist.png" alt="stylist">
							<div class="outer">
								<div class="wrapper-flex">
										<div class="cover pointer1"><a href="/staff?id=92&amp;wkey=b578efc18880499bcf58893f6cbf74cd"><img src="/photo/image/clip/41848/thumb/horii.jpg?1681765077" /></a></div>
										<div class="cover pointer1"><a href="/staff?id=99&amp;wkey=b578efc18880499bcf58893f6cbf74cd"><img src="/photo/image/clip/41849/thumb/sakaimayuko.jpg?1681765166" /></a></div>
										<div class="cover pointer1"><a href="/staff?id=453&amp;wkey=b578efc18880499bcf58893f6cbf74cd"><img src="/photo/image/clip/41869/thumb/endoshiho.jpg?1681765724" /></a></div>
										<div class="cover pointer1"><a href="/staff?id=569&amp;wkey=b578efc18880499bcf58893f6cbf74cd"><img src="/photo/image/clip/41851/thumb/abe_natsuki.jpg?1681765296" /></a></div>
										<div class="cover pointer1"><a href="/staff?id=660&amp;wkey=b578efc18880499bcf58893f6cbf74cd"><img src="/photo/image/clip/41852/thumb/uchiyamaharuho.jpg?1681765314" /></a></div>
										<div class="cover pointer1"><a href="/staff?id=248&amp;wkey=b578efc18880499bcf58893f6cbf74cd"><img src="/photo/image/clip/41853/thumb/yoko.jpg?1681765342" /></a></div>
										<div class="cover pointer1"><a href="/staff?id=512&amp;wkey=b578efc18880499bcf58893f6cbf74cd"><img src="/photo/image/clip/41854/thumb/sato.jpg?1681765356" /></a></div>
										<div class="cover pointer1"><a href="/staff?id=247&amp;wkey=b578efc18880499bcf58893f6cbf74cd"><img src="/photo/image/clip/41855/thumb/araikazuma.jpg?1681765373" /></a></div>
										<div class="cover pointer1"><a href="/staff?id=619&amp;wkey=b578efc18880499bcf58893f6cbf74cd"><img src="/photo/image/clip/41856/thumb/yamaguchi.jpg?1681765387" /></a></div>
										<div class="cover pointer1"><a href="/staff?id=620&amp;wkey=b578efc18880499bcf58893f6cbf74cd"><img src="/photo/image/clip/41857/thumb/ito.jpg?1681765402" /></a></div>
										<div class="cover pointer1"><a href="/staff?id=103&amp;wkey=b578efc18880499bcf58893f6cbf74cd"><img src="/photo/image/clip/41858/thumb/abekasumi.jpg?1681765433" /></a></div>
										<div class="cover pointer1"><a href="/staff?id=96&amp;wkey=b578efc18880499bcf58893f6cbf74cd"><img src="/photo/image/clip/41859/thumb/kobayashi.jpg?1681765458" /></a></div>
										<div class="cover pointer1"><a href="/staff?id=334&amp;wkey=b578efc18880499bcf58893f6cbf74cd"><img src="/photo/image/clip/41860/thumb/asai.jpg?1681765499" /></a></div>
										<div class="cover pointer1"><a href="/staff?id=572&amp;wkey=b578efc18880499bcf58893f6cbf74cd"><img src="/photo/image/clip/41879/thumb/sugiyama.jpg?1681844041" /></a></div>
										<div class="cover pointer1"><a href="/staff?id=335&amp;wkey=b578efc18880499bcf58893f6cbf74cd"><img src="/photo/image/clip/40018/thumb/sugiyama_prof.jpg?1668114205" /></a></div>
										<div class="cover pointer1"><a href="/staff?id=571&amp;wkey=b578efc18880499bcf58893f6cbf74cd"><img src="/photo/image/clip/41861/thumb/yamazaki.jpg?1681765513" /></a></div>
										<div class="cover pointer1"><a href="/staff?id=657&amp;wkey=b578efc18880499bcf58893f6cbf74cd"><img src="/photo/image/clip/41862/thumb/abekana.jpg?1681765533" /></a></div>
										<div class="cover pointer1"><a href="/staff?id=97&amp;wkey=b578efc18880499bcf58893f6cbf74cd"><img src="/photo/image/clip/41864/thumb/yokota.jpg?1681765573" /></a></div>
										<div class="cover pointer1"><a href="/staff?id=454&amp;wkey=b578efc18880499bcf58893f6cbf74cd"><img src="/photo/image/clip/41865/thumb/yoshii.jpg?1681765590" /></a></div>
										<div class="cover pointer1"><a href="/staff?id=621&amp;wkey=b578efc18880499bcf58893f6cbf74cd"><img src="/photo/image/clip/41866/thumb/masu.jpg?1681765619" /></a></div>
										<div class="cover pointer1"><a href="/staff?id=658&amp;wkey=b578efc18880499bcf58893f6cbf74cd"><img src="/photo/image/clip/41867/thumb/ono.jpg?1681765635" /></a></div>
										<div class="cover pointer1"><a href="/staff?id=659&amp;wkey=b578efc18880499bcf58893f6cbf74cd"><img src="/photo/image/clip/41868/thumb/yamagishi.jpg?1681765647" /></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div id="recruit-together" class="all-center-1280">
					<div class="recruit-together-in">
						<div class="caption-img-cover"><img src="/images/assets/milk-tea-new/recruit.png" alt="RECRUIT"></div>
						<div class="img-wrapper">
							<div class="img-cover">
								<img src="/images/assets/milk-tea-new/recruit_title.jpg" alt="スタッフ集合写真">
							</div>
							<div class="text-cover ">
								<span class="text pointer3">私たちと一緒に働きませんか？</span>
							</div>
						</div>
					</div>
				</div>

				<div id="side">
					<div class="contact-cover pointer1">
						<a class="contact" href="https://form.milktea-hair.com/contact.php">
							<div class="img-text-cover">
								<div class="img-text">
									<div class="img-cover"><img src="/images/assets/milk-tea-new/phone_50_50.png" alt="電話アイコン"></div>
									<div class="contact-text">今すぐ応募する</div>
								</div>
							</div>
						</a>
					</div>
				</div>

				<div id="content" class="all-center-1280">
					<div class="content-in">
						<div class="caption3-cover">
							<div class="caption3">CONTENT</div>
						</div>
						<div class="outer">
							<div class="wrapper">
								<div class="cover">
									<div class="contents">
										<a href="/bs_renderer/home?wkey=b578efc18880499bcf58893f6cbf74cd#concept-jumptop">
											<div class="contents-flex pointer1">
												<div class="image-cover"><img class="object" src="/images/assets/milk-tea-new/contents_message.jpg"></div>
												<div class="caption-cover">
													<div class="caption">
														<div class="caption-design-cover">
															<div class="caption-design">Message</div>
														</div>
														<div class="caption-katakana-cover">
															<div class="caption-katakana">理念・代表挨拶</div>
														</div>
														<div class="text-cover">
															<p class="text">Milk tea LLC 合同会社の企業理念です。</p>
														</div>
													</div>
												</div>
											</div>
										</a>
									</div>
								</div>
								<div class="cover">
									<div class="contents">
										<a href="/bs_renderer/home?wkey=b578efc18880499bcf58893f6cbf74cd#career-plan-jump">
											<div class="contents-flex pointer1">
												<div class="image-cover"><img class="object" src="/images/assets/milk-tea-new/contents_career.jpg"></div>
												<div class="caption-cover">
													<div class="caption">
														<div class="caption-design-cover">
															<div class="caption-design">Curriculum &amp; LIFE</div>
														</div>
														<div class="caption-katakana-cover">
															<div class="caption-katakana">キャリアプラン</div>
														</div>
														<div class="text-cover">
															<p class="text">ミルクティで何を身につけるのか？どんな未来があるのかをご紹介します。</p>
														</div>
													</div>
												</div>
											</div>
										</a>
									</div>
								</div>
								<div class="cover">
									<div class="contents">
										<a href="/bs_renderer/home?wkey=b578efc18880499bcf58893f6cbf74cd#benefit-jump">
											<div class="contents-flex pointer1">
												<div class="image-cover"><img class="object" src="/images/assets/milk-tea-new/benefit.jpg"></div>
												<div class="caption-cover">
													<div class="caption">
														<div class="caption-design-cover">
															<div class="caption-design">BENEFIT</div>
														</div>
														<div class="caption-katakana-cover">
															<div class="caption-katakana">福利厚生・給与案内</div>
														</div>
														<div class="text-cover">
															<p class="text">ミルクティはキャリアに関係なく、頑張りに見合ったお給料が稼げます。</p>
														</div>
													</div>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="math-look" class="all-center-1280">
					<div class="math-look-in">
						<div class="wrapper">
							<div class="cover">
								<div class="contents-relative">
									<div class="img-cover no-display-sp">
										<img src="/images/assets/milk-tea-new/see_numbers.jpg" alt="スタッフ集合写真">
									</div>
									<div class="img-cover no-display-pc">
										<img src="/images/assets/milk-tea-new/see_numbers_smartphone.jpg" alt="スタッフ集合写真">
									</div>
									<div class="text-cover-abso">
										<a href="/bs_renderer/home?wkey=b578efc18880499bcf58893f6cbf74cd#math-show-jump">
											<div class="detail-arrow pointer3"> 
												<div></div>
												<div class="detail">詳細を見る</div>
												<div class="arrow">→</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="observe" class="all-center-1280">
					<div class="observe-in">
						<div class="wrapper">
							<div class="cover">
								<div class="contents-relative">
									<div class="img-cover no-display-sp">
										<img src="/images/assets/milk-tea-new/salon_tour_bunner.jpg" alt="スタッフ集合写真">
									</div>
									<div class="img-cover no-display-pc">
										<img src="/images/assets/milk-tea-new/smartphone_salontour_img.jpg" alt="スタッフ集合写真">
									</div>
									<div class="salon-tour-cover no-display-pc">
										<div class="salon-tour-text1">SALON TOUR</div>
										<div class="salon-tour-text2">サロン見学随時募集</div>
									</div>
									<div class="text-wrapper-abso">
										<div class="text-cover-abso">
											<a href="https://form.milktea-hair.com/contact.php">
												<div class="detail-arrow pointer3"> 
													<div class="d-blank"></div>
													<div class="detail">お問い合せはこちらから</div>
													<div class="arrow">→</div>
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<a id="message-jump"></a>
				<div id="message-president" class="all-center-1280">
					<div class="message-president-in">
						<div class="wrapper">
							<div class="cover">
								<div class="contents-relative">
									<div class="caption-img-cover"><img src="/images/assets/milk-tea-new/message.png" alt="MESSAGE"></div>
									<div class="caption-mini-cover">
										<div class="caption-mini">美容師人生のスタート、再スタートはここから</div>
									</div>
									<div class="introduction-flex-cover sp-LR15">
										<div class="introduction-flex">
											<div class="img-cover-pre">
												<div class="img-cover"><img src="/images/assets/milk-tea-new/horii2.jpg" alt="女性"></div>
												<div class="company-pre">
													<div class="company">Milk tea LLC 合同会社</div>
													<div class="president-cover">
														<div class="president">代表取締役 堀井 淳太</div>
													</div>
												</div>
											</div>
											<div class="text-long">
												<div class="text-long-con">グループ全体で月平均 150 名以上のお客様を入客しております。<br>多くの入客ができますが、その日のスタッフ以上の掛け持ちはしませんのでお客様にもスタッフにも負担をかけない仕組みになっています！</div>
												<div class="text-long-con">プライベートの時間も大切にしてほしいので、<br>練習時間は 90 分と決めています。集中して行うことで合格率のアップと時間の有効活用ができます。</div>
												<div class="text-long-con">毎年、成人式と卒業式は大変多くのご予約をいただいております。<br>ヘアセットだけではなく、メイクや着付けも自店で行っているためトータルプロデュースを行うことができます！<br>メイクや着付けの練習も随時行っているため、メイクや着付けに興味がある方はスキルアップが可能になります。</div>
												<div class="text-long-con">着付けと聞くと女性スタッフがメインだと思いますが、当社では男性スタッフも事前の着物の確認をするので全スタッフでお客様のサポートをしております。</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="promise" class="all-center-1280">
					<div class="text-outer sp-LR15">
						<div class="text-wrapper">
							<div class="text-cover">
								<div class="text-contents-capion">［ ミルクティーの約束 ］</div>
								<div class="text-contents">
									<p class="text-sentence">『スタッフ一人一人が接客、気遣いを大切<br class="no-display-pc">にしています』<br>そして<br>お客様の可愛い、かっこいいを見つける<br class="no-display-pc">お手伝いを一緒にさせて頂けたらなと<br class="no-display-pc">思っています！</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="history" class="all-center-1280">
					<div class="history-in sp-LR15">
						<div class="caption">
							<div class="caption-design-cover">
								<div class="caption-design">History</div>
							</div>
							<div class="caption-katakana-cover">
								<div class="caption-katakana">浴　革</div>
							</div>
							<div class="caption-mini-cover">
								<div class="caption-mini">2012 年 新潟市中央区に Milktea OPEN</div>
								<div class="caption-mini">2014 年 新潟市中央区に Ruelle（ルエル）OPEN</div>
								<div class="caption-mini">2018 年新潟市西区に Milktea 新潟大学前店OPEN</div>
								<div class="caption-mini">2018 年新潟市西区に Fuwarica（フワリカ）OPEN</div>
								<div class="caption-mini">2018 年新潟市東区に Kinomama（キノママ）OPEN</div>
								<div class="caption-mini">2021 年 FC 店 Canele（カヌレ）OPEN</div>
								<div class="caption-mini">2021 年新潟市江南区に Milktea 亀田店OPEN</div>
							</div>
						</div>
					</div>
				</div>

				<div id="training" class="all-center-1280">
					<div class="training-in sp-LR15">
						<div class="caption">
							<div class="caption-img-cover"><img src="/images/assets/milk-tea-new/training_curriculum.png" alt="stylist"></div>
							<div class="caption-text-cover">
								<div class="caption-text">「習うより慣れろ」は昔の話。</div>
								<div class="caption-text">ミルクティにはしっかりした育成システムがあるから<br class="no-display-pc">心配いりません。</div>
								<div class="caption-text">入社後はカリキュラムにそって計画的に学べるので、着実にスキルをつけて<br>
									<span class="under color-training">2.5 年でスタイリストデビュー</span>を目指します。
								</div>
							</div>
						</div>
							<div class="outer">
								<div class="wrapper-flex">
									<div class="cover-out">
										<div class="cover">
											<div class="cover-in">
												<div class="img-cover"><img src="/images/assets/milk-tea-new/carriculam_1st.jpg" alt="アシスタント/レセプション"></div>
												<div class="text-cover">
													<div class="cover-year"><div class="year">入社１年目</div></div>
													<div class="cover-step"><div class="step">アシスタント/レセプション</div></div>
													<div class="cover-step-text">
														<div class="step-text">シャンプー、カラーなど基本の業務からマスターしていただきます。教育担当が中心となり丁寧に教えていくので、安心してくださいね。</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="cover-out">
										<div class="cover">
											<div class="cover-in">
												<div class="img-cover"><img src="/images/assets/milk-tea-new/carriculam_2nd.jpg" alt="カット基礎"></div>
												<div class="text-cover">
													<div class="cover-year"><div class="year">入社 1.5 年目</div></div>
													<div class="cover-step"><div class="step">カット基礎</div></div>
													<div class="cover-step-text">
														<div class="step-text">基本のアシスタント業務をやりながら、営業時間中に時間を設けてウィッグを使って少しずつカットの練習を始めていきます。教育担当が横についてアドバイスします。時間外の練習時間は 90 分と決まっています。</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="cover-out">
										<div class="cover">
											<div class="cover-in">
												<div class="img-cover"><img src="/images/assets/milk-tea-new/carriculam_3rd.jpg" alt="モデル"></div>
												<div class="text-cover">
													<div class="cover-year"><div class="year">入社2年目</div></div>
													<div class="cover-step"><div class="step">モデルカット</div></div>
													<div class="cover-step-text">
														<div class="step-text">月 10 人を目標にモデルさんのカットにチャレンジ。頭の形や髪質の違いなど、本物の髪を扱う難しさにぶつかると思いますが、段階ごとに教育担当が的確なアドバイスを行います。</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="cover-out">
										<div class="cover">
											<div class="cover-in">
												<div class="img-cover"><img src="/images/assets/milk-tea-new/carriculam_4th.jpg" alt="現場デビュー"></div>
												<div class="text-cover">
													<div class="cover-year"><div class="year">現場デビュー</div></div>
													<div class="cover-step"><div class="step">お客さまの担当をスタート</div></div>
													<div class="cover-step-text">
														<div class="step-text">Jr. スタイリストとしていよいよ現場デビュー。実際にお客さまを担当していきます。先輩がフォローするので安心してください。ミーティングを行いながら、慣れていきましょう。</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="cover-out">
										<div class="cover">
											<div class="cover-in">
												<div class="img-cover"><img src="/images/assets/milk-tea-new/5th_step.jpg" alt="一人前のスタイリスト"></div>
												<div class="text-cover">
													<div class="cover-year"><div class="year">ひとり立ち</div></div>
													<div class="cover-step"><div class="step">一人前のスタイリストに</div></div>
													<div class="cover-step-text">
														<div class="step-text">確かなスキルを身につけてほしいからスタイリストを名乗れるのは社内規定をクリアしたタイミングとしています。一人前のスタイリストとして長く活躍してください。</div>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

				<div id="out-training-cost" class="all-center-1280">
					<div class="out-training-in all-center-1280">
						<div class="wrapper">
							<div class="cover">
								<div class="contents">
									<div class="caption-cover">
										<div class="caption-img-cover"><img src="/images/assets/milk-tea-new/support.png" alt="SUPPORT"></div>
									</div>
									<div class="caption-mini-cover">
										<p class="caption-mini">外部研修の費用をサポート</p>
									</div>
									<div class="text-cover">
										<p class="text">スタイリストになった後がミルクティーではスタートだと思っています。引き続きあなたの成長を応援します！</p>
										<p class="text">メイク、まつ毛エクステ、ネイルを学びたいなど、希望があれば外部研修の費用を一部負担します。</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<a id="career-plan-jump"></a>
				<div id="career-plan" class="all-center-1280">
					<div class="career-plan-in sp-LR15">
						<div class="caption-img-cover">
							<div class="caption-img"><img src="/images/assets/milk-tea-new/career_plan.png" alt="CAREER PLAN"></div>
							<div class="caption-mini">気になるキャリアについて実際のスタッフがお伝えします。</div>
							<div class="caption-mini-small">※年数は目安です。意欲・スキルに応じて前後します。</div>
						</div>
						<div class="outer">
							<div class="wrapper-flex">

								<div class="cover">
									<div class="contents1">
										<div class="hover-stylist"></div>
										<div class="text-outer">
											<div class="text-wrapper">
												<div class="text-cover">
													<div class="text">
														<div class="text-in-top">
															<div class="position-cover">
																<div class="position">アシスタント / 入社 1 ～ 3 年目</div>
															</div>
															<div class="name-cover">
																<div class="name">
																	<span class="name-bold">吉井 萌</span>
																	<span class="position-title">Canele Assistant</span>
																</div>
																<div class="join-cover">
																	<div class="join">2020 年入社　新潟理容美容専門学校卒業</div>
																</div>
															</div>
														</div>
														<div class="comment-cover">
															<p class="comment">綺麗になるお手伝いをさせていただきながらスタイリストデビューを目指しています。</p>
														</div>
														<div class="policy-cover">
															<div class="policy">Policy</div>
															<p class="policy">お客様にとって良い時間を過ごしてもらうためにお客様お一人一人と向き合い心遣いを大切にしています。また、笑顔を忘れず丁寧な施術を心がけています。</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="cover">
									<div class="contents2">
										<div class="policy-cover no-display-pc">
											<div class="policy">Policy</div>
											<p class="policy">笑顔で丁寧な接客を<br class="no-display-pc">大切にお客様お一人<br class="no-display-pc">ひとりにあった髪の毛のアドバイス等もお伝えできるように心がけています。</p>
										</div>
										<div class="hover-stylist"></div>
										<div class="text-outer">
											<div class="text-wrapper">
												<div class="text-cover">
													<div class="text">
														<div class="text-in-top">
															<div class="position-cover">
																<div class="position">Jr. スタイリスト／入社 3 ～ 4 年目</div>
															</div>
															<div class="name-cover">
																<div class="name">
																	<span class="name-bold">石井 陽子</span>
																	<span class="position-title">Hatimitu Jr. Stylist</span>
																</div>
																<div class="join-cover">
																	<div class="join">加茂高校卒業</div>
																</div>
															</div>
														</div>
														<div class="comment-cover">
															<p class="comment">加茂市出身です！<br class="no-display-pc">スタッフからは「いしこ」と呼ばれています。<br class="no-display-pc">アニメが好きで最近は「ONE PIECE」にはまっています。</p>
														</div>
														<div class="policy-cover no-display-sp">
															<div class="policy">Policy</div>
															<p class="policy">笑顔で丁寧な接客を大切にお客様お一人ひとりにあった髪の毛のアドバイス等もお伝えできるように心がけています。</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="cover">
									<div class="contents3">
										<div class="hover-stylist"></div>
										<div class="text-outer">
											<div class="text-wrapper">
												<div class="text-cover">
													<div class="text">
														<div class="text-in-top">
															<div class="position-cover">
																<div class="position">トップスタイリスト／入社 7 年目～</div>
															</div>
															<div class="name-cover">
																<div class="name">
																	<span class="name-bold">坂井 真柚子</span>
																	<span class="position-title">Milktea stylist</span>
																</div>
																<div class="join-cover">
																	<div class="join">2016 年入社　新潟理容美容専門学校卒業</div>
																</div>
															</div>
														</div>
														<div class="comment-cover">
															<p class="comment">三条市出身で高校を卒業してから中央区で一人暮らしをしています。好きな食べ物はポップコーンです。シナモンやメープルなどの味が好きです。</p>
														</div>
														<div class="policy-cover">
															<div class="policy">Policy</div>
															<p class="policy">キレイな仕事を心がけています。ワゴンをぐちゃぐちゃな状態ではなくキレイな状態でやるなど。あとはタイムの意識。できるだけ早くスピーディーに終わらせることを心がけています。</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>


				<div id="case" class="all-center-1280">
					<div class="case-in sp-LR15">
						<div class="caption-img-cover">
							<div class="caption-img"><img src="/images/assets/milk-tea-new/life_stage.png" alt="CAREER PLAN"></div>
							<div class="caption-mini-cover">
								<div class="caption-mini">トップスタイリストになった後も、ずっと仲間として働いてほしいというのが私たちの願い。</div>
								<div class="caption-mini">これらは実際に活躍している先輩たちのキャリアの一例です。あなたならどんな道を目指しますか？</div>
							</div>
							<div class="caption-position-flex-cover">
								<div class="caption-position-flex">
									<div class="position-c-cover"><div class="position-c">幹部社員</div></div>
									<div class="position-c-cover"><div class="position-c">トップスタイリスト</div></div>
									<div class="position-c-cover"><div class="position-c">ママスタイリスト</div></div>
									<div class="position-c-cover"><div class="position-c">ＦＣ オーナー</div></div>
								</div>
							</div>
						</div>

						<div class="container-wrapper">
							<div class="container-cover">
								<div class="container">
									<div class="left">
										<div class="case no-display-pc">
											<img src="/images/assets/milk-tea-new/case_01.png" alt="Message">
										</div>
										<div class="upperbody">
											<div class="upperbody-image">
												<img src="/images/assets/milk-tea-new/asami.png" alt="浅見　直幸">
											</div>
											<div class="position position-right1">
												<img src="/images/assets/milk-tea-new/case1_asami_title.png" alt="中途採用　幹部社員">
											</div>
										</div>
										<div class="name-cover">
											<div class="name">
												<div class="name-c">
													<img src="/images/assets/milk-tea-new/graph.png" alt="グラフ">
													<span class="color1">浅</span>見 <span class="color1">直</span>幸<span class="small">の</span>
												</div>	
												<div class="timeline-cover"><div class="timeline bg1-strong">美容師年表</div></div>
											</div>
											<ul>
												<li>2018 年入社　ハリウッド美容専門学校卒業</li>
												<li>Fuwarica / オーナー</li>
											</ul>
										</div>
									</div>
									<div class="message">
										<div class="messa-case-cover">
											<div class="messa-case">
												<div class="message-text">
													<div class="caption">とりあえずやってみる！</div>
													<p>ミルクティーグループは一人一人のやりたいことや個性を伸ばせる会社だと思います。「とりあえずやってみる！」こんな言
葉を社内でよく聞きます。うまく行かなかった時や壁にぶつかった時はオーナーはじめ周りのスタッフたちが相談に乗ってくれます。「とりあえず興味があるこ
と」は挑戦してみましょう！</p>
												</div>
												<div class="case no-display-sp">
													<img src="/images/assets/milk-tea-new/case_01.png" alt="Message">
												</div>
											</div>
											<div class="chrono">
												<div class="chrono-in">
													<ul class="chronoul1">
														<li class="chrono19 p-t2">
															<div class="y19 bg1-thin">2011年</div>
															<div class="y19txt bg1-thin">
																<div>グループ代表の堀井と出会い<br class="no-display-sp">すぐに意気投合<br>飲み友達になる。</div>
															</div>
														</li>
														<li class="chrono19 p-t1">
															<div class="y19 bg1-strong">2015年</div>
															<div class="y19txt bg1-strong">
																<div>Fuwarica の前身 <br class="no-display-sp">Hair Salon Milk <br class="no-display-sp"> 開業</div>
															</div>
														</li>
														<li class="chrono19">
															<div class="y19 bg1-thin">2018年</div>
															<div class="y19txt bg1-thin">
																<div class="flex-j-fs">Milk tea LLC に参加<br>店名を<br class="no-display-sp">Fuwarica に変更</div>
															</div>
														</li>
													</ul>
													<div class="point-cover1"><img src="/images/assets/milk-tea-new/turning_point.png" alt="私のターニングポイント"></div>
												</div>
												<div class="padding-lr"><p class="b-color1">2018 年に Milk tea LLC に参加し、<span class="under">自分だけでなくスタッフ全員を考える視野の広さ</span>を身に付けることができました。グループ店ならではの面白さを感じています。</p></div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!--
							<div class="container-cover">
								<div class="container">
									<div class="left">
										<div class="case no-display-pc">
											<img src="/images/assets/milk-tea-new/case_02.png" alt="Message">
										</div>
										<div class="upperbody">
											<div class="upperbody-image">
												<img src="/images/assets/milk-tea-new/sekine.png" alt="関根 早紀">
											</div>
											<div class="position position-right2">
												<img src="/images/assets/milk-tea-new/case2_sekine_title.png" alt="アシスタント トップスタイリスト">
											</div>
										</div>
										<div class="name-cover">
											<div class="name">
												<img src="/images/assets/milk-tea-new/graph.png" alt="グラフ">
												<span class="color2">関</span>根 <span class="color2">早</span>紀<span class="small">の</span>
												<div class="timeline-cover"><div class="timeline bg2-strong">美容師年表</div></div>
											</div>
											<ul>
												<li>2016 年入社　ジャパン・ビューティ・アカデミー卒業</li>
												<li>Milktea stylist/ 店長　Aujua ソムリエ</li>
											</ul>
										</div>
									</div>
									<div class="message">
										<div class="messa-case-cover">
											<div class="messa-case">
												<div class="message-text">
													<div class="caption">美容師は唯一無二の仕事</div>
													<p>美容師は 1 
日立ちっぱなしだったり、なかなか休憩に入れなかったり大変なことも多いですがお客様から直接「ありがとう」と感謝されてまたお店に来てくれることが本当
に嬉しいですしやりがいを感じます。お客様を綺麗にして喜んで頂ける仕事は多くはないので唯一無二の仕事だと思います！</p>
												</div>
												<div class="case no-display-sp">
													<img src="/images/assets/milk-tea-new/case_02.png" alt="Message">
												</div>
											</div>
											<div class="chrono">
												<div class="chrono-in">
													<ul class="chronoul2">
														<li class="chrono-contents p-t4">
															<div class="y19 bg2-thin">2016年</div>
															<div class="y19txt bg2-thin">
																<div>入社</div>
															</div>
														</li>
														<li class="chrono19 p-t3">
															<div class="y19 bg2-strong">2018年</div>
															<div class="y19txt bg2-strong">
																<div>カラーリスト<br class="no-display-sp">デビュー<br></div>
															</div>
														</li>
														<li class="chrono19 p-t2">
															<div class="y19 bg2-thin">2019年</div>
															<div class="y19txt bg2-thin">
																<div>スタイリスト<br class="no-display-sp">デビュー</div>
															</div>
														</li>
														<li class="chrono19 p-t1">
															<div class="y19 bg2-strong">2020年</div>
															<div class="y19txt bg2-strong">
																<div>売上<br class="no-display-sp">100 万達成<br>オージュア<br class="no-display-sp">ソムリエ<br class="no-display-sp">取<span class="no-display-sp"> </span>得</div>
															</div>
														</li>
														<li class="chrono19 p-t0">
															<div class="y19 bg2-thin">2022年</div>
															<div class="y19txt bg2-thin">
																<div>店長候補</div>
															</div>
														</li>
													</ul>
													<div class="point-cover2"><img src="/images/assets/milk-tea-new/turning_point.png" alt="私のターニングポイント"></div>
												</div>
												<div class="padding-lr"><p class="b-color2">スタイリストとしてデビューした時。アシスタント時代から自分を知ってくださっているお客様や友人家族、たくさんの方に祝福していただきました。3 年 3 ヶ月のアシスタント期間を経て<span class="under">改めて美容師としてのスタート地点</span>に立ったんだなと実感した瞬間でした！</p></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							-->

							<div class="container-cover">
								<div class="container">
									<div class="left">
										<div class="case no-display-pc">
											<img src="/images/assets/milk-tea-new/case_03.png" alt="Message">
										</div>
										<div class="upperbody">
											<div class="upperbody-image">
												<img src="/images/assets/milk-tea-new/yokota.png" alt="横田渉">
											</div>
											<div class="position position-right1">
												<img src="/images/assets/milk-tea-new/case3_yokota_title.png" alt="店長　FCオーナー">
											</div>
										</div>
										<div class="name-cover">
											<div class="name">
												<img src="/images/assets/milk-tea-new/graph.png" alt="グラフ">
												<span class="color3">横</span>田 <span class="color3">渉 </span><span class="small">の</span>
												<div class="timeline-cover"><div class="timeline bg3-strong">美容師年表</div></div>
											</div>
											<ul>
												<li>2015 年入社　国際ビューティーモード専門学校卒業</li>
												<li>Canele / オーナー</li>
											</ul>
										</div>
									</div>
									<div class="message">
										<div class="messa-case-cover">
											<div class="messa-case">
												<div class="message-text">
													<div class="caption">お客様の人生に長くお付き合い</div>
													<p>美容師を続けていると、数年もしくは十数年のお付き合いになるお客様も増えてきます。成人式・卒業式・結婚式・お子様の入学式など・・・お客様のイベントに携わりながらお客様の人生に長くお付き合いできるのは美容師ならではです。</p>
												</div>
												<div class="case no-display-sp">
													<img src="/images/assets/milk-tea-new/case_03.png" alt="Message">
												</div>
											</div>
											<div class="chrono">
												<div class="chrono-in">
													<ul class="chronoul3">
														<li class="chrono19 p-t2">
															<div class="y19 bg3-thin">2008年</div>
															<div class="y19txt bg3-thin">
																<div>美容師として<br>働き始める</div>
															</div>
														</li>
														<li class="chrono19 p-t1">
															<div class="y19 bg3-strong"> </div>
															<div class="y19txt bg3-strong">
																<div>美容師として働き始めて、周りの美容師の友達がどんどん辞めていく中、周りの先輩たちが面白い人たちで辞めずに美容師として働くことができました。美容師は働くお店や一緒にいるスタッフで人生が左右されると思います。</div>
															</div>
														</li>
														<li class="chrono19 p-t0">
															<div class="y19 bg3-thin">2021年</div>
															<div class="y19txt bg3-thin">
																<div class="flex-s flex-j-fs">hair atelier Canele<br class="no-display-sp">オープン</div>
															</div>
														</li>
													</ul>
													<div class="point-cover3"><img src="/images/assets/milk-tea-new/turning_point.png" alt="私のターニングポイント"></div>
												</div>
													<div class="padding-lr"><p class="b-color3">ずっとお客様が大事だと思っていましたが、自分でお店を出した時に、自分はお客様だけでなくいろんな方に支えられて、今まで楽しく働いてこれたことを実感いたしました。</p></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div id="mother" class="all-center-1280">
					<div class="mother-in">
						<div class="contents">
							<div class="upper-flex sp-LR15">
								<div class="case no-display-pc">
									<img src="/images/assets/milk-tea-new/case_04.png" alt="Message">
								</div>
								<div class="left">
									<div class="upperbody">
										<div class="upperbody-image">
											<img src="/images/assets/milk-tea-new/sasagawa.png" alt="笹川彩恵">
										</div>
										<div class="position position-right1">
											<img src="/images/assets/milk-tea-new/case4_sasagawa_title.png" alt="店長　FCオーナー">
										</div>
									</div>
								</div>
								<div class="right">
									<div class="name">
										<div class="imaghe-cover no-display-sp"><img src="/images/assets/milk-tea-new/case_04.png" alt="CASE04"></div>
										<div class="name-contents-cover">
											<div class="name-contents">
												<span>笹</span>川 <span>彩</span>恵
											</div>
											<ul>
												<li>2012 年入社　恵比寿ビューティーカレッジ卒業</li>
												<li>Milk tea 亀田店／店長</li>
											</ul>
										</div>
									</div>
									<div class="fukidashi">
										<div class="fukidashi-in">ママスタッフはもちろん、美容師としてもたくさんの<br class="no-display-sp">体験をしているスタッフが多いので、仕事や家庭などの相談も<br class="no-display-sp">話しやすいと思います。子育てと仕事の両立は大変ですが<br class="no-display-sp">家族やスタッフの理解・協力がありサロンワークもお客様と<br class="no-display-sp">関わることでリフレッシュになり、毎日<br class="no-display-sp">充実した日々が過ごせています。</div>	
									</div>
								</div>
							</div>
							<div class="img-wrapper-schedule">
								<div class="img-cover-schedule"><img src="/images/assets/milk-tea-new/about_us_main_03_b.jpg" alt="ママスタイリスト 1 日のスケジュール"></div>
							</div>
							<div class="schedule-flex-cover">
								<div class="schedule-flex">									
									<div class="schedule">
										<dl>
											<dt>6:20</dt>
											<dd>起床／身支度</dd>
											<dt>7:00</dt>
											<dd>子供の身支度</dd>
											<dt>8:30</dt>
											<dd>サロン出勤<br>子供はパパが保育園ヘ</dd>
											<dt>9:00</dt>
											<dd>サロンワーク開始</dd>
										</dl>
										<dl>
											<dt>17:00</dt>
											<dd>業務終了</dd>
											<dt>17:40</dt>
											<dd>保育園へ<br>子供のお迎え</dd>
											<dt>18:00</dt>
											<dd>夕食準備・子供夕食</dd>
											<dt>19:00</dt>
											<dd>子供お風呂<br>遊びタイム</dd>
											<dt>20:00</dt>
											<dd>家族の団欒タイム</dd>
										</dl>
									</div>
									<div class="img-cover-cut">
										<img src="/images/assets/milk-tea-new/sasagawa_schedule.jpg" alt="美容スタッフ">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<a id="math-show-jump"></a>
				<div id="math-show" class="all-center-1280">
					<div class="math-show-in sp-LR15">
						<div class="caption">
							<div class="caption-text-cover">
								<div class="caption-text">数字でみるミルクティー</div>
							</div>
							<div class="caption-mini-cover">
								<div class="caption-mini">ミルクティのあれこれを数字でおしらせします。</div>
							</div>
						</div>
						<div class="contents-outer-all">
							<div class="contents-outer">
								<div class="contents-wrapper-flex">
									<div class="contents-cover">
										<div class="contents">
											<div class="img-cover"><img src="/images/assets/milk-tea-new/holiday_new.png" alt="年間休日108 日"></div>
											<div class="text-cover"><div class="text">完全週休 2 日制（毎週月曜日・他 1 日）&amp; <br> 有給休暇制度 &amp; 夏季冬季休暇あり！</div></div>
										</div>
									</div>
									<div class="contents-cover">
										<div class="contents">
											<div class="img-cover"><img src="/images/assets/milk-tea-new/salary.png" alt="初めてのお給料　新潟トップクラスの初任給　175,000 円"></div>
											<div class="text-cover"><div class="text">基本給、残業手当、アシスタント手当含む</div></div>
										</div>
									</div>
								</div>
							</div>

							<div class="contents2-flex-cover">
								<div class="contents2-flex">
									<div class="left">
										<div class="img-cover p-ajust"><img src="/images/assets/milk-tea-new/lengs_work.png" alt="勤続年数　1 年～2 年未満　３人　3 年～5 年未満　8人　5 年～10 年未満　３人　10 年以上　３人"></div>
									</div>
									<div class="right">
										<div class="img-cover"><img src="/images/assets/milk-tea-new/number_all_staff_img.jpg" alt="集合写真"></div>
										<div class="contents2-text-cover">
											<p class="contents2-text">若いスタッフで運営しているようなイメージとは裏腹に、中堅スタッフが一番多く占める結果に。10 年以上や近いスタッフも多く、ハイレベルな教育が受けられます。<br class="no-display-sp">だから『叶えたい夢』がミルクティにはあります！</p>
										</div>
									</div>
								</div>
							</div>

							<div class="contents-outer">
								<div class="contents-wrapper-flex">
									<div class="contents-cover">
										<div class="contents">
											<div class="img-cover"><img src="/images/assets/milk-tea-new/gender.png" alt="男女比率　男性35% 女性65%"></div>
										</div>
									</div>
									<div class="contents-cover">
										<div class="contents">
											<div class="img-cover"><img src="/images/assets/milk-tea-new/name_customers.png" alt="スタイリスト１年目最高指名数　106名　早いデビューでもちゃんと輝ける　しっかり学べるからデビュー後も安心！"></div>
											<div class="text-cover"><div class="text">しっかり学べるからデビュー後も安心 !</div></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<a id="benefit-jump"></a>
				<div id="full-time-recruit" class="all-center-1280">
					<div class="full-time-recruit-in sp-LR15">
						<div class="recruit-cover">
							<div class="recruit">
								<div class="recruit-title">
									<div class="recruit-title-t1"><img src="/images/assets/milk-tea-new/benefit.png" alt="BENEFIT ロゴ"></div>
									<div class="caption-mini-cover">
										<div class="caption-mini">社会保険完備で産休育休制度もあり安心して働ける環境です！</div>
									</div>
								</div>
								<div class="recruit-contents">
									<table class="recruit-table">
										<tbody>
											<tr class="recruit-tr"><th class="recruit-th"><div>
												<div class="th-icon-wrapper">
													<div class="th-icon-cover"><span>雇用形態</span></div>
												</div>
											</div></th>		
											<td class="recruit-td"><div class="td-text-wrapper">
												<div class="td-text-cover">
													<p class="td-p-top">正社員・パート</p>
												</div></div></td></tr>
											<tr class="recruit-tr"><th class="recruit-th">
												<div class="th-icon-wrapper">
													<div class="th-icon-cover"><span>職種</span></div>
												</div></th>
											<td class="recruit-td"><div class="td-text-wrapper">
												<div class="td-text-cover">スタイリスト / 店長・幹部候補 / アシスタント</div>
											</div></td></tr>
											<tr class="recruit-tr"><th class="recruit-th">
												<div class="th-icon-wrapper">
													<div class="th-icon-cover"><span>給与</span></div>
											</div></th>
											<td class="recruit-td"><div class="td-text-wrapper">
												<div class="td-text-cover-pa-top">
													<div class="td-text-cover">【 正社員 】スタイリスト / アシスタント / <br class="no-display-pc">( 中途、新卒採用 )<br>￥175,000 ～</div>
												</div>
												<div class="td-text-cover-pa-top">
													<div class="td-text-cover">【 パート 】スタイリスト / アシスタント <br>時給 ￥1,200 ～</div>
												</div>
											</div></td></tr>
											<tr class="recruit-tr"><th class="recruit-th">
												<div class="th-icon-wrapper">
													<div class="th-icon-cover"><span>福利厚生</span></div>
												</div></th>
											<td class="recruit-td">
												<div class="td-text-wrapper">
													<div class="td-text-cover">
														<p class="td-p-top">・社会保険完備　・雇用労災保険　・厚生年金</p>
														<p class="td-p-top">・社会保険　・年１回健康診断</p>
														<p class="td-p-top">・交通費（7,000 円） ・産休制度</p>
														<p class="td-p-top">・育児休暇　・独立支援制度</p>
														<span class="under color-training">・奨学金補助制度</span>
														<span class="under color-training">・住宅手当有</span>
													</div>
												</div>
												<div class="td-text-wrapper">
													<div class="td-text-cover">
														<p class="td-p-top">【 各種手当 】</p>
														<p class="td-p-top">・ボーナス/あり</p>
														<p class="td-p-top">・時間外手当/あり</p>
														<p class="td-p-top">・役職(リーダー)手当/カラーリスト、<br class="no-display-pc">アレンジリスト、オージュアソムリエ</p>
														<p class="td-p-top">→ ポジション、資格に応じて手当がプラスになります。</p>
													</div>
												</div>
											</td></tr>
											<tr class="recruit-tr"><th class="recruit-th">
												<div class="th-icon-wrapper">
													<div class="th-icon-cover"><span>休日</span></div>
												</div></th>
											<td class="recruit-td">
												<div class="td-text-wrapper">
													<div class="td-text-cover">
														<p class="td-p-top">・完全週休 2 日制 ( 月・他 1 日 ) 年間休日108日　<br class="no-display-pc">・有給休暇あり　・夏季冬季休暇あり</p>
														<p class="td-p-top">・慰安旅行　<br class="no-display-pc">・結婚式休暇　・忌引きあり</p>
													</div>
														<p class="td-p-top">・年2回シフトから日曜日休み可（2025年4月より）<br class="no-display-pc">・半休有</p>
													</div>
												</div>
											</td></tr>
											<tr class="recruit-tr"><th class="recruit-th">
												<div class="th-icon-wrapper">
													<div class="th-icon-cover"><span>応募資格</span></div>
											</div></th>
											<td class="recruit-td"><div class="td-text-wrapper">
												<div class="td-text-cover-pa-top">
													<div class="td-text-cover2">美容師免許をお持ちの方　・取得予定の方</div>
												</div>
											</div></td></tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
	</main>

	<footer>
		<div id="inquiry">
			<div class="wrapper-waku">
				<div class="cover-waku">
					<div class="inquery-text-tel-form">
						<div id="inquiry-text">
							<div class="sp-LR15">
								<div class="caption">
									<div class="caption-katakana-cover">
										<div class="caption-katakana">今すぐ問い合わせる♪</div>
									</div>
								</div>
								<div class="wrapper-text">
									<div class="cover-text">
										<p class="text">まずは気軽にお電話ください。</p>
										<p class="text">そしてよければ１度足を運んで下さい。</p>
										<p class="text">面接日時や色んな相談をさせて頂いた上、履歴書をご持参下さい。</p>
										<p class="text">下記にお電話いただくか、「今すぐ応募する」よりメールにてご連絡ください。</p>
										<p class="text">※パートさんも募集中です。(未経験歓迎 / 経験者大歓迎)</p>
									</div>
								</div>
							</div>
						</div>
						<div id="tel-form">
							<div class="outer-waku all-center-1280">
								<div class="wrapper-waku">
									<div class="cover-waku-cover">
										<div class="cover-waku pointer1">
											<a href="tel:025-211-4595">
												<div class="img-text-cover pointer1">
													<div class="img-text">
														<div class="img-cover"><img src="/images/assets/milk-tea-new/tel_50_50.png" alt="電話アイコン"></div>
														<div class="text">025-211-4595</div>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
								<div class="wrapper-waku">
									<div class="cover-waku-cover">
										<div class="cover-waku">
											<a href="https://form.milktea-hair.com/contact.php">
												<div class="img-text-cover pointer1">
													<div class="img-text">
														<div class="img-cover"><img src="/images/assets/milk-tea-new/phone_50_50.png" alt="電話アイコン"></div>
														<div class="text">今すぐ応募する</div>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>	
						</div>
					</div>
					<div id="footer-jump">
						<div class="wrapper sp-LR15">
							<div class="cover">
								<div class="contents-cover">
										<a class="contact pointer3" href="/bs_renderer/home?wkey=b578efc18880499bcf58893f6cbf74cd#pagetop">
											<div class="contents">
												<div class="text">TOP</div>
											</div>
										</a>
								</div>
								<div class="contents-cover">
										<a class="contact pointer3" href="/bs_renderer/home?wkey=b578efc18880499bcf58893f6cbf74cd#message-jump">
											<div class="contents">
												<div class="text">理念・代表挨拶</div>
											</div>
										</a>
								</div>
								<div class="contents-cover">
										<a class="contact pointer3" href="/bs_renderer/home?wkey=b578efc18880499bcf58893f6cbf74cd#career-plan-jump">
											<div class="contents">
												<div class="text">キャリアプラン</div>
											</div>
										</a>
								</div>
								<div class="contents-cover">
										<a class="contact pointer3 l-height" href="/bs_renderer/home?wkey=b578efc18880499bcf58893f6cbf74cd#benefit-jump">
											<div class="contents">
												<div class="text">福利厚生　給与案内</div>
											</div>
										</a>
								</div>
							</div>
						</div>
					</div>
					<div id="footer-under">
						<div class="wrapper-mini">
							<div class="cover-mini">
								<div class="contents-mini">c 2022 Milk tea LLC All rights Reserved.</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</footer>
	<div id="return-cover">
		<a href="/bs_renderer/home?wkey=b578efc18880499bcf58893f6cbf74cd#pagetop" class="return">∧</a>
	</div>

</div>
</body></html>
