<!DOCTYPE html>
<html lang="ja"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<meta http-equiv="Content-Language" content="ja">
	<meta name="viewport" content="width=480">
	<title>美容室「Milk tea」</title>
	<meta name="title" content="美容室「Milk tea」">
	<link rel="stylesheet" type="text/css" href="/stylesheets/assets/milktea-new/style.css?hash=0215">
	<link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<script src="/images/assets/milk-tea-new/jquery-3.3.1.js"></script>

<script>
$(document).ready(function(){
	$(".nav-wrapper a").click(function(){
		$('#navigation').click();
	});
});
</script>
</head>
<body id="page-index"><div id="bgLayer">
<div id="pagetop"></div>

	<header>
		<%= render :partial=>"#{LayoutScheme.asset_root}/milk-tea-new/header" %>
	</header>

	<main>
		<section>
			<div id="top">
				<div id="introduction" class="all-center-1280 sp-LR10">
					<div class="introduction-in">
						<div class="reserve-contents-flex-cover">
							<div class="reserve-contents-flex">
								<div class="reserve-contents">
									<div class="shop-logo"><img src="/images/assets/milk-tea-new/milktea_logo.png" alt="Milk tea Hair Garden"></div>
									<div class="icon-many-flex-cover">
										<div class="icon-many-flex">
											<div class="icon"><a href="tel:025-211-4595"><img src="/images/assets/milk-tea-new/phone_icon.png" alt="tel アイコン"></a></div>
											<div class="icon"><a href="https://0314.jbplt.jp/"><img src="/images/assets/milk-tea-new/mail_icon.png" alt="メール　アイコン"></a></div>
											<div class="icon"><a href="https://goo.gl/maps/HKSbcwcfJsbHmh1F8"><img src="/images/assets/milk-tea-new/pin_icon.png" alt="地図　アイコン"></a></div>
											<div class="icon"><a href="https://www.instagram.com/milkteagroup/"><img src="/images/assets/milk-tea-new/insta_icon.png" alt="インスタグラム　アイコン"></a></div>
											<div class="icon"><a href="https://beauty.hotpepper.jp/slnH000230521/coupon/"><img src="/images/assets/milk-tea-new/hpb_logo.png" alt="ホットペッパービューティー　アイコン"></a></div>
										</div>
									</div>
								</div>
								<div class="reserve-contents">
									<div class="shop-logo"><img src="/images/assets/milk-tea-new/milktea_daigaku_logo.png" alt="Milk tea Hair Garden"></div>
									<div class="icon-many-flex-cover">
										<div class="icon-many-flex">
											<div class="icon"><a href="tel:025-263-1633"><img src="/images/assets/milk-tea-new/phone_icon.png" alt="tel アイコン"></a></div>
											<div class="icon"><a href="https://0314.jbplt.jp/"><img src="/images/assets/milk-tea-new/mail_icon.png" alt="メール　アイコン"></a></div>
											<div class="icon"><a href="https://goo.gl/maps/EWowYNLwpkVPWyQW6"><img src="/images/assets/milk-tea-new/pin_icon.png" alt="地図　アイコン"></a></div>
											<div class="icon"><a href="https://www.instagram.com/milkteagroup/"><img src="/images/assets/milk-tea-new/insta_icon.png" alt="インスタグラム　アイコン"></a></div>
											<div class="icon"><a href="https://beauty.hotpepper.jp/slnH000348459/coupon/"><img src="/images/assets/milk-tea-new/hpb_logo.png" alt="ホットペッパービューティー　アイコン"></a></div>
										</div>
									</div>
								</div>
								<div class="reserve-contents">
									<div class="shop-logo"><img src="/images/assets/milk-tea-new/kinomama_logo.png" alt="Milk tea Hair Garden"></div>
									<div class="icon-many-flex-cover">
										<div class="icon-many-flex">
											<div class="icon"><a href="tel:025-288-5031"><img src="/images/assets/milk-tea-new/phone_icon.png" alt="tel アイコン"></a></div>
											<div class="icon"><a href="https://0314.jbplt.jp/"><img src="/images/assets/milk-tea-new/mail_icon.png" alt="メール　アイコン"></a></div>
											<div class="icon"><a href="https://goo.gl/maps/fyDSzTBSFCzrndBy5"><img src="/images/assets/milk-tea-new/pin_icon.png" alt="地図　アイコン"></a></div>
											<div class="icon"><a href="https://www.instagram.com/milkteagroup/"><img src="/images/assets/milk-tea-new/insta_icon.png" alt="インスタグラム　アイコン"></a></div>
											<div class="icon"><a href="https://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000424555"><img src="/images/assets/milk-tea-new/hpb_logo.png" alt="ホットペッパービューティー　アイコン"></a></div>
										</div>
									</div>
								</div>
								<div class="reserve-contents">
									<div class="shop-logo"><img src="/images/assets/milk-tea-new/fuwarica_logo.png" alt="Milk tea Hair Garden"></div>
									<div class="icon-many-flex-cover">
										<div class="icon-many-flex">
											<div class="icon"><a href="tel:025-378-3449"><img src="/images/assets/milk-tea-new/phone_icon.png" alt="tel アイコン"></a></div>
											<div class="icon"><a href="https://0314.jbplt.jp/"><img src="/images/assets/milk-tea-new/mail_icon.png" alt="メール　アイコン"></a></div>
											<div class="icon"><a href="https://goo.gl/maps/aHNCLJindmhv7EZe6"><img src="/images/assets/milk-tea-new/pin_icon.png" alt="地図　アイコン"></a></div>
											<div class="icon"><a href="https://www.instagram.com/milkteagroup/"><img src="/images/assets/milk-tea-new/insta_icon.png" alt="インスタグラム　アイコン"></a></div>
											<div class="icon"><a href="https://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000349275"><img src="/images/assets/milk-tea-new/hpb_logo.png" alt="ホットペッパービューティー　アイコン"></a></div>
										</div>
									</div>
								</div>
								<div class="reserve-contents">
									<div class="shop-logo"><img src="/images/assets/milk-tea-new/milktea_kameda_logo.png" alt="Milk tea Hair Garden"></div>
									<div class="icon-many-flex-cover">
										<div class="icon-many-flex">
											<div class="icon"><a href="tel:025-384-0692"><img src="/images/assets/milk-tea-new/phone_icon.png" alt="tel アイコン"></a></div>
											<div class="icon"><a href="https://0314.jbplt.jp/"><img src="/images/assets/milk-tea-new/mail_icon.png" alt="メール　アイコン"></a></div>
											<div class="icon"><a href="https://goo.gl/maps/WKii2jzPEpu3RbSp9"><img src="/images/assets/milk-tea-new/pin_icon.png" alt="地図　アイコン"></a></div>
											<div class="icon"><a href="https://www.instagram.com/milkteagroup/"><img src="/images/assets/milk-tea-new/insta_icon.png" alt="インスタグラム　アイコン"></a></div>
											<div class="icon"><a href="https://beauty.hotpepper.jp/slnH000536979/coupon/"><img src="/images/assets/milk-tea-new/hpb_logo.png" alt="ホットペッパービューティー　アイコン"></a></div>
										</div>
									</div>
								</div>
								<div class="reserve-contents">
									<div class="shop-logo"><img src="/images/assets/milk-tea-new/canele_logo.png" alt="Milk tea Hair Garden"></div>
									<div class="icon-many-flex-cover">
										<div class="icon-many-flex">
											<div class="icon"><a href="tel:025-369-5370"><img src="/images/assets/milk-tea-new/phone_icon.png" alt="tel アイコン"></a></div>
											<div class="icon"><a href="https://0314.jbplt.jp/"><img src="/images/assets/milk-tea-new/mail_icon.png" alt="メール　アイコン"></a></div>
											<div class="icon"><a href="https://goo.gl/maps/fQ5wsM8Af5f9yRUt6"><img src="/images/assets/milk-tea-new/pin_icon.png" alt="地図　アイコン"></a></div>
											<div class="icon"><a href="https://www.instagram.com/milkteagroup/"><img src="/images/assets/milk-tea-new/insta_icon.png" alt="インスタグラム　アイコン"></a></div>
											<div class="icon"><a href="https://beauty.hotpepper.jp/slnH000526228/coupon/"><img src="/images/assets/milk-tea-new/hpb_logo.png" alt="ホットペッパービューティー　アイコン"></a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
		</section>
	</main>


    <footer>
		<div id="inquiry">
			<div class="wrapper-waku">
				<div class="cover-waku">
					<div id="footer-under">
						<div class="wrapper-mini">
							<div class="cover-mini">
								<div class="contents-mini">c 2022 Milk tea LLC All rights Reserved.</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</footer>
    </div>
</body></html>
