<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>untime / みずとそらの美容室</title>
<link rel="icon" href="favicon.ico">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="css/bootstrap-reboot.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/pctb.css" rel="stylesheet" type="text/css" media="screen and (min-width:768px)">
<link href="css/sp.css" rel="stylesheet" type="text/css" media="screen and (max-width:767px)">
<script src="js/jquery-3.7.1.min.js"></script> 
<script src="js/main.js"></script>
</head>

<body class="page">
<div id="body-cover"></div>
<a id="page-top"></a>
<header id="page-header">
  <div class="inner-page-header container-l">
    <nav id="nav-main">
		<div class="item-salon">
			<h3><a href="index.html"><img src="images/iconHome.svg" width="8" height="8" alt="最初のページ"></a></h3>
		</div>
      <div class="item-salon">
        <h3>[untime]</h3>
        <ul>
          <li> <a href="https://beauty.hotpepper.jp/slnH000263980/"> <img src="images/logo_hp_wh.svg" width="150" height="75" alt="ホットペッパービューティー"> </a> </li>
          <li> <a href="https://www.instagram.com/untime.0303/"> <img src="images/icon_insta_wh.svg" width="48" height="48" alt="untime 公式インスタグラム"> </a> </li>
          <li> <a href=""> <img src="images/icon_line_wh.svg" width="48" height="48" alt="untime 公式LINE"> </a> </li>
        </ul>
      </div>
      <div class="item-salon">
        <h3>[みずとそらの美容室]</h3>
        <ul>
          <li> <a href="https://www.instagram.com/_mizusora_/"> <img src="images/icon_insta_wh.svg" width="48" height="48" alt="みずとそらの美容室 公式インスタグラム"> </a> </li>
          <li> <a href=""> <img src="images/icon_line_wh.svg" width="48" height="48" alt="みずとそらの美容室 公式LINE"> </a> </li>
        </ul>
      </div>
      <div class="item-salon">
        <ul>
          <li>
            <h3> <a href="archive.html"> [お知らせ] </a> </h3>
          </li>
        </ul>
      </div>
      <div class="item-salon">
        <h3><a href="https://www.bibe.work/shop/untime/">[リクルート]</a></h3>
        <ul>
          <li> <a href="https://www.bibe.work/shop/untime/">求人ページ</a> </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<div id="btn-menu-container">
  <div id="btn-menu">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<main id="page-main">
  <article>
    <header class="header-article">
      <h2><img src="images/logo_all_salons_bk_gray.png" width="1200" height="450" alt="ロゴ">お知らせ</h2>
    </header>
    <section id="sect-list-archive">
      <div class="container">
        <ul class="list-archive ls-none">
          <li>
            <figure style="background-image: url('images/sample_picture.jpg')"></figure>
            <h3>タイトルが入ります</h3>
            <a class="more" href="single.html">more</a>
			</li>
          <li>
            <figure style="background-image: url('')"></figure>
            <h3>タイトルが入ります</h3>
            <a class="more" href="single.html">more</a>
          </li>
          <li>
            <figure style="background-image: url('')"></figure>
            <h3>タイトルが入ります</h3>
            <a class="more" href="single.html">more</a>
          </li>
          <li>
            <figure style="background-image: url('')"></figure>
            <h3>タイトルが入ります</h3>
            <a class="more" href="single.html">more</a>
          </li>
          <li>
            <figure style="background-image: url('')"></figure>
            <h3>タイトルが入ります</h3>
            <a class="more" href="single.html">more</a>
          </li>
          <li>
            <figure style="background-image: url('')"></figure>
            <h3>タイトルが入ります</h3>
            <a class="more" href="single.html">more</a>
          </li>
          <li>
            <figure style="background-image: url('')"></figure>
            <h3>タイトルが入ります</h3>
            <a class="more" href="single.html">more</a>
          </li>
          <li>
            <figure style="background-image: url('')"></figure>
            <h3>タイトルが入ります</h3>
            <a class="more" href="single.html">more</a>
          </li>
          <li>
            <figure style="background-image: url('')"></figure>
            <h3>タイトルが入ります</h3>
            <a class="more" href="single.html">more</a>
          </li>
          <li>
            <figure style="background-image: url('')"></figure>
            <h3>タイトルが入ります</h3>
            <a class="more" href="single.html">more</a>
          </li>
          <li>
            <figure style="background-image: url('')"></figure>
            <h3>タイトルが入ります</h3>
            <a class="more" href="single.html">more</a>
          </li>
          <li>
            <figure style="background-image: url('')"></figure>
            <h3>タイトルが入ります</h3>
            <a class="more" href="single.html">more</a>
          </li>
        </ul>
      </div>
    </section>
  </article>
</main>
<footer id="page-footer" class="bk-cl-wh">
  <div class="copyContainer container">
    <p class="copy">Copyright&copy;untime All Rights Reserved.</p>
  </div>
</footer>
</body>
</html>