<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>untime / みずとそらの美容室</title>
<link rel="icon" href="favicon.ico">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="css/bootstrap-reboot.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/pctb.css" rel="stylesheet" type="text/css" media="screen and (min-width:768px)">
<link href="css/sp.css" rel="stylesheet" type="text/css" media="screen and (max-width:767px)">
<script src="js/jquery-3.7.1.min.js"></script> 
<script src="js/main.js"></script> 
</head>

<body>
<div id="body-cover"></div>
<div class="body-slide">
	<div style="background-image:url('images/sl1.webp')"></div>
	<div style="background-image:url('images/sl2.webp')"></div>
	<div style="background-image:url('images/sl3.webp')"></div>
	<div style="background-image:url('images/sl4.webp')"></div>
</div>
<a id="page-top"></a>
<header id="page-header">
  <div class="inner-page-header container-l">
    <nav id="nav-main">
		<div class="item-salon">
			<h3><a href="index.html"><img src="images/iconHome.svg" width="8" height="8" alt="最初のページ"></a></h3>
		</div>
		<div class="item-salon">
		<h3>[untime]</h3>
		  <ul>
			<li> <a href="https://beauty.hotpepper.jp/slnH000263980/"> <img src="images/logo_hp_wh.svg" width="150" height="75" alt="ホットペッパービューティー"> </a> </li>
			<li> <a href="https://www.instagram.com/untime.0303/"> <img src="images/icon_insta_wh.svg" width="48" height="48" alt="untime 公式インスタグラム"> </a> </li>
			<li> <a href=""> <img src="images/icon_line_wh.svg" width="48" height="48" alt="untime 公式LINE"> </a> </li>
		  </ul>
		</div>
		<div class="item-salon">
		<h3>[みずとそらの美容室]</h3>
		  <ul>
			<li> <a href="https://www.instagram.com/_mizusora_/"> <img src="images/icon_insta_wh.svg" width="48" height="48" alt="みずとそらの美容室 公式インスタグラム"> </a> </li>
			<li> <a href=""> <img src="images/icon_line_wh.svg" width="48" height="48" alt="みずとそらの美容室 公式LINE"> </a> </li>
		  </ul>
		</div>
		<div class="item-salon">
		  <ul>
			<li>
				<h3>
					<a href="archive.html"> [お知らせ] </a>
				</h3>
			</li>
		  </ul>
		</div>
		<div class="item-salon">
			<h3><a href="https://www.bibe.work/shop/untime/">[リクルート]</a></h3>
		  <ul>
			<li> <a href="https://www.bibe.work/shop/untime/">求人ページ</a> </li>
		  </ul>
		</div>
    </nav>
  </div>
</header>
<div id="btn-menu-container">
  <div id="btn-menu">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<main id="page-main">
  <article>
	  <section id="first-visual">
		  <nav id="nav-first-visual">
			  <ul>
				  <li>
					<a href="#item-untime">
						<img src="images/logo_untime.svg" width="300" height="104" alt="untime beloved be hair">
					</a>
				 </li>
				  <li>
					<a href="#item-mizusora">
						<img src="images/logo_mizusora.svg" width="159" height="150" alt="みずとそらの美容室">
					</a>
				 </li>
			  </ul>
		  </nav>
	  </section>
    <section id="sect-list-salon" class="bk-cl-wh">
      <div class="container">
		<ul class="list-salon">
			<li id="item-untime" class="item-salon">
				<div class="txt">
					<div class="inner-txt">
						<h3>[untime]</h3>
						<p class="address">〒950-0872 新潟市東区牡丹山5丁目12-3</p>
						<p class="tel"><a href="tel:0252787652">PHONE. 0252787652</a></p>
						<ul class="list-links">
							<li> <a href="https://beauty.hotpepper.jp/slnH000263980/"> <img src="images/logo_hp_bk.svg" width="150" height="75" alt="ホットペッパービューティー"> </a> </li>
							<li> <a href="https://www.instagram.com/untime.0303/"> <img src="images/icon_insta_bk.svg" width="48" height="48" alt="untime 公式インスタグラム"> </a> </li>
							<li> <a href=""> <img src="images/icon_line_bk.svg" width="48" height="48" alt="untime 公式LINE"> </a> </li>
						</ul>
					</div>
				</div>
				<div class="map">
					<div class="iframe-container">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3147.4801904120254!2d139.0944240759847!3d37.919211003826575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff4cbcb54d53d8b%3A0xb822554c6523d6ca!2suntime!5e0!3m2!1sja!2sjp!4v1718003328597!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>
			</li>
			<li id="item-mizusora" class="item-salon">
				<div class="txt">
					<div class="inner-txt">
						<h3>みずとそらの美容室</h3>
						<p class="address">〒950-0618 新潟市江南区早通3丁目4-26</p>
						<p class="tel"><a href="tel:07013680118">PHONE. 07013680118</a></p>
						<ul class="list-links">
							<li> <a href="https://www.instagram.com/_mizusora_/"> <img src="images/icon_insta_bk.svg" width="48" height="48" alt="みずとそらの美容室 公式インスタグラム"> </a> </li>
							<li> <a href=""> <img src="images/icon_line_bk.svg" width="48" height="48" alt="みずとそらの美容室 公式LINE"> </a> </li>
						</ul>
					</div>
				</div>
				<div class="map">
					<div class="iframe-container">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3150.264346412507!2d139.08528717598213!3d37.85410470758626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff4cfa36b2366e3%3A0x898b95a272ade48e!2z44G_44Ga44Go44Gd44KJ44Gu576O5a655a6k!5e0!3m2!1sja!2sjp!4v1718003453166!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>
			</li>
		  </ul>
      </div>
    </section>
  </article>
</main>
<footer id="page-footer" class="bk-cl-wh">
  <div class="copyContainer container">
    <p class="copy">Copyright&copy;untime All Rights Reserved.</p>
  </div>
</footer>
</body>
</html>