<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>untime / みずとそらの美容室</title>
<link rel="icon" href="favicon.ico">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="css/bootstrap-reboot.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/pctb.css" rel="stylesheet" type="text/css" media="screen and (min-width:768px)">
<link href="css/sp.css" rel="stylesheet" type="text/css" media="screen and (max-width:767px)">
<script src="js/jquery-3.7.1.min.js"></script> 
<script src="js/main.js"></script>
</head>

<body class="page">
<div id="body-cover"></div>
<a id="page-top"></a>
<header id="page-header">
  <div class="inner-page-header container-l">
    <nav id="nav-main">
		<div class="item-salon">
			<h3><a href="index.html"><img src="images/iconHome.svg" width="8" height="8" alt="最初のページ"></a></h3>
		</div>
      <div class="item-salon">
        <h3>[untime]</h3>
        <ul>
          <li> <a href="https://beauty.hotpepper.jp/slnH000263980/"> <img src="images/logo_hp_wh.svg" width="150" height="75" alt="ホットペッパービューティー"> </a> </li>
          <li> <a href="https://www.instagram.com/untime.0303/"> <img src="images/icon_insta_wh.svg" width="48" height="48" alt="untime 公式インスタグラム"> </a> </li>
          <li> <a href=""> <img src="images/icon_line_wh.svg" width="48" height="48" alt="untime 公式LINE"> </a> </li>
        </ul>
      </div>
      <div class="item-salon">
        <h3>[みずとそらの美容室]</h3>
        <ul>
          <li> <a href="https://www.instagram.com/_mizusora_/"> <img src="images/icon_insta_wh.svg" width="48" height="48" alt="みずとそらの美容室 公式インスタグラム"> </a> </li>
          <li> <a href=""> <img src="images/icon_line_wh.svg" width="48" height="48" alt="みずとそらの美容室 公式LINE"> </a> </li>
        </ul>
      </div>
      <div class="item-salon">
        <ul>
          <li>
            <h3> <a href="archive.html"> [お知らせ] </a> </h3>
          </li>
        </ul>
      </div>
      <div class="item-salon">
        <h3><a href="https://www.bibe.work/shop/untime/">[リクルート]</a></h3>
        <ul>
          <li> <a href="https://www.bibe.work/shop/untime/">求人ページ</a> </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<div id="btn-menu-container">
  <div id="btn-menu">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<main id="page-main">
  <article>
    <header class="header-article">
      <h2><img src="images/logo_all_salons_bk_gray.png" width="1200" height="450" alt="ロゴ">お知らせ</h2>
    </header>
    <section id="content-single">
		<header class="header-sect">
		<div class="container-ss">
		  <h3>タイトルが入ります</h3>
			<time>2024年8月1日</time>
		</div>
		</header>
      <div class="container-ss">
		  <p>本文が入ります。これはダミーコンテンツです。</p>
		  <img src="images/sample_picture.jpg" width="600" height="450" alt="ダミー画像">
		  <p>吾輩は猫である。名前はまだ無い。<br>
どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。その後猫にもだいぶ逢ったがこんな片輪には一度も出会わした事がない。のみならず顔の真中があまりに突起している。そうしてその穴の中から時々ぷうぷうと煙を吹く。どうも咽せぽくて実に弱った。これが人間の飲む煙草というものである事はようやくこの頃知った。</p>
		  <p>
この書生の掌の裏でしばらくはよい心持に坐っておったが、しばらくすると非常な速力で運転し始めた。書生が動くのか自分だけが動くのか分らないが無暗に眼が廻る。胸が悪くなる。到底助からないと思っていると、どさりと音がして眼から火が出た。それまでは記憶しているがあとは何の事やらいくら考え出そうとしても分らない。</p>
      </div>
    </section>
	  <nav id="nav-page-single">
	  	<ul class="ls-none container-ss">
		  <li>
			<a href="#">前の記事タイトル</a>
		</li>
		  <li>
			<a href="#">次の記事タイトル</a>
		</li>
		</ul>
	  </nav>
  </article>
</main>
<footer id="page-footer" class="bk-cl-wh">
  <div class="copyContainer container">
    <p class="copy">Copyright&copy;untime All Rights Reserved.</p>
  </div>
</footer>
</body>
</html>