<header id="header" class="show">
	<div class="container">
		<ul id="head-link">
<%= render :partial=>"#{LayoutScheme.asset_root}/fleur.de-lis.com/sns_links" %>
		</ul>
		<div id="nav-opener">
			<i class="icon-burger"></i>
	    </div>
    </div>
</header>
