<nav id="nav" class="">
	<div class="container">
		<i class="icon-times"></i>
	</div>
	<p>SHOP LISTs</p>
	<ul>
		<li>
<%  if request.host == 'sr2.swifty.jp' %>
			<a href="https://sr2.swifty.jp/home?wkey=27ac677851db26419e0d821b37dc9e22">
<%  else %>
			<a href="https://fleur.de-lis.com/lis/home">
<%  end %>
				<i class="icon-lis"></i>
			</a>
		</li>
		<li>
<%  if request.host == 'sr2.swifty.jp' %>
			<a href="https://sr2.swifty.jp/home?wkey=6d747da5bf38d7171f268545b0652d1c">
<%  else %>
			<a href="https://fleur.de-lis.com/ens/home">
<%  end %>
				<i class="icon-ens"></i>
			</a>
		</li>
		<li>
<%  if request.host == 'sr2.swifty.jp' %>
			<a href="https://sr2.swifty.jp/home?wkey=cd32ac74ed5ca6837f8c86d4ed67a149">
<%  else %>
			<a href="https://fleur.de-lis.com/lm/home">
<%  end %>
				<i class="icon-lm"></i>
			</a>
		</li>
		<li>
<%  if request.host == 'sr2.swifty.jp' %>
			<a href="https://sr2.swifty.jp/home?wkey=f90c2c82832eb4a51b59eb07559b7a05">
<%  else %>
			<a href="https://fleur.de-lis.com/codo/home">
<%  end %>
				<i class="icon-codo"></i>
			</a>
		</li>
		<li>
			<a href="https://fleur.de-lis.com/fix?id=15975" style="font-size:2rem;margin-top:1rem;">
				Recruit
			</a>
		</li>
		<li>
			<% if @website.enable_inquiry %>
				<%= link_to "お問い合わせ".html_safe, inquiry_new_path %>
			<% end %>
		</li>
<% if @author_mode %>
        <li><a href="<%= url_for(:action=>'manage_widget')%>">表示設定</a></li>
        <li><a href="<%= url_for(:controller=>'bs_config', :action=>'shop_show_website')%>">サイト編集終了</a></li>
<% end %>
	</ul>
</nav>
