<div class="mb-3 row">
	<label for="name" class="col-sm-4 col-form-label">タイトル</label>
	<div class="col-sm-8">
		<%= f.text_field :name,  {class: "form-control", placeholder: "ページタイトルを入力", :required => true, autofocus: true}  %>
	</div>
</div>
