<footer id="footer">
    <div id="followus">Follow us</div>
<%= render :partial=>"#{LayoutScheme.asset_root}/view/sns_list" %>
    <p class="right">
        <a href="../fix?id=31097">免責事項</a>
    </p>
    <p><%= copyright_notice(@website) %></p>
</footer>
