    <aside id="mov">
        <video id="video" loop playsinline controlslist="nodownload" width="1024" autoplay muted>
          <source src="../assets/movs/view_concept5.mp4" type="video/mp4">
        </video>
        <div id="volbox">
            <i class="icon-volume-mute" id="vol"></i>
        </div>
    </aside>
