        <li>
<% if request.host == 'sr2.swifty.jp' %>
            <a href="/fix?id=1514&wkey=<%= @website.wsite_hash_key %>">
<% else %>
            <a href="/fix?id=1514">
<% end %>
                About us
            </a>
        </li>
        <li>
<% if request.host == 'sr2.swifty.jp' %>
            <a href="/fix?id=1515&wkey=<%= @website.wsite_hash_key %>">
<% else %>
            <a href="/fix?id=1515">
<% end %>
                Advertising
            </a>
        </li>
        <li>
<% if request.host == 'sr2.swifty.jp' %>
            <a href="/fix?id=1516&wkey=<%= @website.wsite_hash_key %>">
<% else %>
            <a href="/fix?id=1516">
<% end %>
                Policy
            </a>
        </li>
        <li>
<% if request.host == 'sr2.swifty.jp' %>
            <a href="/fix?id=1517&wkey=<%= @website.wsite_hash_key %>">
<% else %>
            <a href="/fix?id=1517">
<% end %>
                Website Policy
            </a>
        </li>
