<%  widget_bag = VisualWidget.search_widget_bag_for(@website, "9054c9266e0b0acadd561120f24d6aac") %>
<%  if !widget_bag.blank? && widget_bag.is_valid? %>
        <aside id="carousel_area">
            <div class="container">
                <div id="carousel">
                    <ul id="carousel_ul">
<%      widget_bag.photos.each do | photo | %>
                        <li><img src="<%= photo.clip.url() %>"></li>
<%      end %>
                    </ul>
                    <div id="carousel_prev"><i class="fa fa-chevron-circle-left"></i></div>
                    <div id="carousel_next"><i class="fa fa-chevron-circle-right"></i></div>
                </div>
            </div>
        </aside>
<%  end %>
