        <aside id="good">
            <div class="container">
                <h1 class="h1">サヨ美容室のこだわり</h1>
                <ul class="wrapper">
<!-- たまご実験 -->
                    <li class="col-1p3">
                        <div class="col-inner">
<% if request.host == 'sr2.swifty.jp' %>
                            <div class="imgBox169">
                                <div style="background-image:url('/photo/image/0000/4803/egg.jpg')">
                                    <a href="/fix?id=2298&amp;wkey=b5cf383867652cd652456dd5d9185a5e#egg"><span>CLICK</span></a>
                                </div>
                            </div>
                            <h2 class="h2">
                                <a href="/fix?id=2298&amp;wkey=b5cf383867652cd652456dd5d9185a5e#egg">たまご実験</a>
                            </h2>
<% else %>
                            <div class="imgBox">
                                <div style="background-image:url('/photo/image/0000/4803/egg.jpg')">
                                    <a href="/fix?id=2298#egg"><span>CLICK</span></a>
                                </div>
                            </div>
                            <h2 class="h2">
                                <a href="/fix?id=2298#egg">たまご実験</a>
                            </h2>
<% end %>
                        </div>
                    </li>
<!-- ヘアエステ -->
                    <li class="col-1p3">
                        <div class="col-inner">
<% if request.host == 'sr2.swifty.jp' %>
                            <div class="imgBox169">
                                <div style="background-image:url('/photo/image/0000/4805/hair.jpg')">
                                    <a href="/fix?id=2298&amp;wkey=b5cf383867652cd652456dd5d9185a5e#hair"><span>CLICK</span></a>
                                </div>
                            </div>
                            <h2 class="h2">
                                <a href="/fix?id=2298&amp;wkey=b5cf383867652cd652456dd5d9185a5e#hair">ヘアエステ</a>
                            </h2>
<% else %>
                            <div class="imgBox">
                                <div style="background-image:url('/photo/image/0000/4805/hair.jpg')">
                                    <a href="/fix?id=2298#hair"><span>CLICK</span></a>
                                </div>
                            </div>
                            <h2 class="h2">
                                <a href="/fix?id=2298#hair">ヘアエステ</a>
                            </h2>
<% end %>
                        </div>
                    </li>
<!-- フットエステ -->
                    <li class="col-1p3">
                        <div class="col-inner">
<% if request.host == 'sr2.swifty.jp' %>
                            <div class="imgBox169">
                                <div style="background-image:url('/photo/image/0000/4804/foot.jpg')">
                                    <a href="/fix?id=2298&amp;wkey=b5cf383867652cd652456dd5d9185a5e#foot"><span>CLICK</span></a>
                                </div>
                            </div>
                            <h2 class="h2">
                                <a href="/fix?id=2298&amp;wkey=b5cf383867652cd652456dd5d9185a5e#foot">フットエステ</a>
                            </h2>
<% else %>
                            <div class="imgBox">
                                <div style="background-image:url('/photo/image/0000/4804/foot.jpg')">
                                    <a href="/fix?id=2298#foot"><span>CLICK</span></a>
                                </div>
                            </div>
                            <h2 class="h2">
                                <a href="/fix?id=2298#foot">フットエステ</a>
                            </h2>
<% end %>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
