        <aside id="shopList">
            <div class="container">
                <h1 class="h1">店舗案内</h1>
                <ul class="wrapper">
<!-- 豊店(本店) -->
                    <li class="col-2m3t1p5">
                        <div class="col-inner">
<% if request.host == 'sr2.swifty.jp' %>
                            <div class="imgBox">
                                <div style="background-image:url('/photo/image/0000/4810/yutaka189.png')">
                                    <a href="/fix?id=2297&amp;wkey=b5cf383867652cd652456dd5d9185a5e#yutaka"><span>CLICK</span></a>
                                </div>
                            </div>
                            <h2>
                                <a href="/fix?id=2297&amp;wkey=b5cf383867652cd652456dd5d9185a5e#yutaka">豊店(本店)</a>
                            </h2>
<% else %>
                            <div class="imgBox">
                                <div style="background-image:url('/photo/image/0000/4810/yutaka189.png')">
                                    <a href="/fix?id=2297#yutaka"><span>CLICK</span></a>
                                </div>
                            </div>
                            <h2>
                                <a href="/fix?id=2297#yutaka">豊店(本店)</a>
                            </h2>
<% end %>
                        </div>
                    </li>
<!-- 駅前店 -->
                    <li class="col-2m3t1p5">
                        <div class="col-inner">
<% if request.host == 'sr2.swifty.jp' %>
                            <div class="imgBox">
                                <div style="background-image:url('/photo/image/0001/0965/ekimae189new.png')">
                                    <a href="/fix?id=2297&amp;wkey=b5cf383867652cd652456dd5d9185a5e#ekimae"><span>CLICK</span></a>
                                </div>
                            </div>
                            <h2>
                                <a href="/fix?id=2297&amp;wkey=b5cf383867652cd652456dd5d9185a5e#ekimae">駅前店</a>
                            </h2>
<% else %>
                            <div class="imgBox">
                                <div style="background-image:url('/photo/image/0001/0965/ekimae189new.png')">
                                    <a href="/fix?id=2297#ekimae"><span>CLICK</span></a>
                                </div>
                            </div>
                            <h2>
                                <a href="/fix?id=2297#ekimae">駅前店</a>
                            </h2>
<% end %>
                        </div>
                    </li>
<!-- ウェーブハウス・サヨ -->
                    <li class="col-2m3t1p5">
                        <div class="col-inner">
<% if request.host == 'sr2.swifty.jp' %>
                            <div class="imgBox">
                                <div style="background-image:url('/photo/image/0000/4809/wave189.png')">
                                    <a href="/fix?id=2297&amp;wkey=b5cf383867652cd652456dd5d9185a5e#wave"><span>CLICK</span></a>
                                </div>
                            </div>
                            <h2>
                                <a href="/fix?id=2297&amp;wkey=b5cf383867652cd652456dd5d9185a5e#wave">ウェーブハウス・サヨ</a>
                            </h2>
<% else %>
                            <div class="imgBox">
                                <div style="background-image:url('/photo/image/0000/4809/wave189.png')">
                                    <a href="/fix?id=2297#wave"><span>CLICK</span></a>
                                </div>
                            </div>
                            <h2>
                                <a href="/fix?id=2297#wave">ウェーブハウス・サヨ</a>
                            </h2>
<% end %>
                        </div>
                    </li>
<!-- ミニョン・サヨ -->
<!--
                    <li class="col-2m3t1p5">
                        <div class="col-inner">
<% if request.host == 'sr2.swifty.jp' %>
                            <div class="imgBox">
                                <div style="background-image:url('/photo/image/0000/4807/mignon189.png')">
                                    <a href="/fix?id=2297&amp;wkey=b5cf383867652cd652456dd5d9185a5e#mignon"><span>CLICK</span></a>
                                </div>
                            </div>
                            <h2>
                                <a href="/fix?id=2297&amp;wkey=b5cf383867652cd652456dd5d9185a5e#mignon">ミニョン・サヨ</a>
                            </h2>
<% else %>
                            <div class="imgBox">
                                <div style="background-image:url('/photo/image/0000/4807/mignon189.png')">
                                    <a href="/fix?id=2297#mignon"><span>CLICK</span></a>
                                </div>
                            </div>
                            <h2>
                                <a href="/fix?id=2297#mignon">ミニョン・サヨ</a>
                            </h2>
<% end %>
                        </div>
                    </li>
-->
<!-- 十日町店 -->
                    <li class="col-2m3t1p5">
                        <div class="col-inner">
<% if request.host == 'sr2.swifty.jp' %>
                            <div class="imgBox">
                                <div style="background-image:url('/photo/image/0000/4808/tokamachi189.png')">
                                    <a href="/fix?id=2297&amp;wkey=b5cf383867652cd652456dd5d9185a5e#tokamachi"><span>CLICK</span></a>
                                </div>
                            </div>
                            <h2>
                                <a href="/fix?id=2297&amp;wkey=b5cf383867652cd652456dd5d9185a5e#tokamachi">十日町店</a>
                            </h2>
<% else %>
                            <div class="imgBox">
                                <div style="background-image:url('/photo/image/0000/4808/tokamachi189.png')">
                                    <a href="/fix?id=2297#tokamachi"><span>CLICK</span></a>
                                </div>
                            </div>
                            <h2>
                                <a href="/fix?id=2297#tokamachi">十日町店</a>
                            </h2>
<% end %>
                        </div>
                    </li>
<!-- Siesta -->
<!--
                    <li class="col-2m3t1p5">
                        <div class="col-inner">
<% if request.host == 'sr2.swifty.jp' %>
                            <div class="imgBox">
                                <div style="background-image:url('/photo/image/0001/1228/siesta300.jpg')">
                                    <a href="/fix?id=2297&amp;wkey=b5cf383867652cd652456dd5d9185a5e#siesta"><span>CLICK</span></a>
                                </div>
                            </div>
                            <h2>
                                <a href="/fix?id=2297&amp;wkey=b5cf383867652cd652456dd5d9185a5e#siesta">Siesta</a>
                            </h2>
<% else %>
                            <div class="imgBox">
                                <div style="background-image:url('/photo/image/0001/1228/siesta300.jpg')">
                                    <a href="/fix?id=2297#siesta"><span>CLICK</span></a>
                                </div>
                            </div>
                            <h2>
                                <a href="/fix?id=2297#siesta">Siesta</a>
                            </h2>
<% end %>
                        </div>
                    </li>
-->
                </ul>
            </div>
        </aside>
