<aside id="footInfo">
  <h1>Access <span>スクールのアクセス</span></h1>
  <div id="footInformation">
    <div id="gmap">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1574.2745597706057!2d139.03709851233867!3d37.894225795891415!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff4c8ff801ce245%3A0x7c9604d4f761191d!2z44CSOTUwLTA5NDYg5paw5r2f55yM5paw5r2f5biC5Lit5aSu5Yy65aWz5rGg6KW_77yR5LiB55uu77yR4oiS77yV77yVIOWls-axoOODleOCuOODk-ODqw!5e0!3m2!1sja!2sjp!4v1538016422924" width="525" height="420" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div id="footAbout">
      <h2>WILL Nail School</h2>
      <p>ウィル ネイルスクール</p>
      <p>
        〒950-0946新潟市中央区女池西1-1-55女池西ビル1F<br>
        TEL.025-250-7829 FAX.025-250-7829
      </p>
      <p>
        OPEN<br>
        10:00-18:00（水曜日／10:00-21:00）
      <p>
        CLOSE<br>
        第一・第三木曜、毎週金曜<br>
        およびスクールスケジュールに準ずる
      </p>
    </div>
    <div id="footSub">
      <div id="callme">
        <a href="tel:0252507829">
          <img src="/images/assets/willnailschool.com/schoolinfo2.png" alt="CALL ME">
        </a>
      </div>
      <div id="schoolblog">
<% if request.host == 'sr2.swifty.jp' %>
        <a href="/streams?wkey=<%= @website.wsite_hash_key %>">
<% else %>
        <a href="/streams">
<% end %>
          <img src="/images/assets/willnailschool.com/blog_botton.jpg" alt="BLOG">
        </a>
      </div>
      <div id="nailstudiowill">
        <a href="http://www.nailstudio-will.com/" target="_blank">
          <img src="/images/assets/willnailschool.com/will_link.jpg" alt="nail studio WILL">
        </a>
      </div>
    </div>
  </div>
</aside>
