<% unless photo.blank? %>

    <div class="thumbnail thumbnail-1">
        <div class=""  align="center">
			<%= image_tag photo.clip.url(:panel) %>
		</div>
		<% unless photo.info.blank? %>
			<section>
				<p><%=photo.info%></p>
			</section>
		<% end %>
    </div>

<% end %>
