<%  instaid = VisualWidget.search_widget_bag_for(@website, "b81c49067a4791cd67acc33d64adeee2") %>
<%  instatk = VisualWidget.search_widget_bag_for(@website, "60bace4326a58eba29a70d635babc6e5") %>
<%  if !instaid.blank? && !instatk.blank? && !instaid.data_string.blank? && !instatk.data_string.blank? %>
<script>
$.ajax({
    type: 'GET',
    url: 'https://graph.facebook.com/v8.0/<%= instaid.data_string %>?fields=name%2Cmedia.limit(9)%7Bcaption%2Cmedia_type%2Cmedia_url%2Cpermalink%2Cthumbnail_url%7D&access_token=<%= instatk.data_string %>',
    dataType: 'json',
    success: function(json) {
        var ig = json.media.data;
        var ht = '';
        for (var i = 0; i < ig.length; i++) {
            if (ig[i].media_type == 'VIDEO'){
                ht += '<li class="m3p3"><div class="imgbox"><div><a href="' + ig[i].permalink + '" target="_blank"><img src="' + ig[i].thumbnail_url + '" alt="' + ig[i].caption + '"></a></div></div></li>';
            } else {
                ht += '<li class="m3p3"><div class="imgbox"><div><a href="' + ig[i].permalink + '" target="_blank"><img src="' + ig[i].media_url + '" alt="' + ig[i].caption + '"></a></div></div></li>';
            }
        }
        $("#instafeed").append(ht);
    }
});
</script>
<%  end %>
