                <p>株式会社 モリビューティーコーポレーション</p>
                <ul>
                    <li>本社：福島県いわき市植田町中央1丁目14-5 森ビル2F</li>
                    <li>電話：0246-63-7386 FAX：0246-62-3644</li>
                </ul>
                <p id="copy"><%= copyright_notice(@website) %></p>
