                <section id="salonlist">
<%  if request.host == 'sr2.swifty.jp' %>
                    <h3 class="en"><a href="/fix?id=1&wkey=08ebd0bbcad881d718362fef54ee81e8">SALON</a> <span>店舗情報</span></h3>
<%  else %>
                    <h3 class="en"><a href="/fix?id=1">SALON</a> <span>店舗情報</span></h3>
<%  end %>
                    <div id="salon_map2" class=clearfix>
                        <div id="salon_map2_left">
                            <div id="salon_map2_iwaki">
                                <img src="/photo/image/clip/3621/MORI-shop2-iwaki.png" alt="いわき市の地図と各店舗の所在地">
                            </div>
                            <div id="salon_map2_family" class="clearfix">
                                <div id="salon_map2_feel">
<!--
<%  if request.host == 'sr2.swifty.jp' %>
                                    <a href="//sr2.swifty.jp/home?wkey=d8a66c34d753c4ab08d9b4dd0a6fcd3b">
<%  else %>
                                    <a href="http://feel.mori-bc.co.jp/">
<%  end %>
-->
                                    <a href="http://feel.mori-bc.co.jp/">
                                        <img src="/photo/image/clip/3618/MORI-shop2-feel.png" alt="フィール・オーガニック・フォトサロン(feel organic photo salon)">
                                    </a>
                                </div>
                                <div id="salon_map2_wedding">
<%  if request.host == 'sr2.swifty.jp' %>
                                    <a href="//sr2.swifty.jp/home?wkey=39e8502a1682c954819fb23dcb515433">
<%  else %>
                                    <a href="//wedding.mori-bc.co.jp/">
<%  end %>
                                        <img src="/photo/image/clip/3624/MORI-shop2-wedding.png" alt="モリ・ウエディング(MORI WEDDING)">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="salon_map2_right">
                            <div id="salon_map2_mori">
<%  if request.host == 'sr2.swifty.jp' %>
                                <a href="//sr2.swifty.jp/home?wkey=9a6b3d0a73b16215b331252b73e5aff0">
<%  else %>
                                <a href="http://salon.mori-bc.co.jp/">
<%  end %>
                                    <img src="/photo/image/clip/3623/MORI-shop2-mori.png" alt="サロン・ド・モリ(Salon de MORI)">
                                </a>
                            </div>
                            <div id="salon_map2_irom">
<%  if request.host == 'sr2.swifty.jp' %>
                                <a href="//sr2.swifty.jp/home?wkey=1619cf7b4ebde9cd3a6b83d1d57a7e59">
<%  else %>
                                <a href="http://irom.mori-bc.co.jp/">
<%  end %>
                                    <img src="/photo/image/clip/3620/MORI-shop2-irom.png" alt="モリ・アイロム・ヘア・サロン(mori irom HAIR SALON)">
                                </a>
                            </div>
                            <div id="salon_map2_green">
<%  if request.host == 'sr2.swifty.jp' %>
                                <a href="//sr2.swifty.jp/home?wkey=4f160f902541b6f384630d66ceff5cbb">
<%  else %>
                                <a href="http://green.mori-bc.co.jp/">
<%  end %>
                                    <img src="/photo/image/clip/3619/MORI-shop2-green.png" alt="アヴェダ・サロン＆スパ・グリーン(AVEDA Salin&amp;Spa GREEN)">
                                </a>
                            </div>
                            <div id="salon_map2_leaf">
<%  if request.host == 'sr2.swifty.jp' %>
                                <a href="//sr2.swifty.jp/home?wkey=8077ed2b1aa6712717293e46f93cf59f">
<%  else %>
                                <a href="http://leaf.mori-bc.co.jp/">
<%  end %>
                                    <img src="/photo/image/clip/3783/MORI-shop2-leaf.png" alt="リーフ(Leaf)">
                                </a>
                            </div>
                            <div id="salon_map2_wings">
<%  if request.host == 'sr2.swifty.jp' %>
                                <a href="//sr2.swifty.jp/home?wkey=b03e55355ea5ac4a8e7f0916a24a2505">
<%  else %>
                                <a href="http://wings.mori-bc.co.jp/">
<%  end %>
                                    <img src="/photo/image/clip/3625/MORI-shop2-wings.png" alt="モリ・ウイングス(MORI WiNGS)">
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
