<%  if false %>
<%      unless @website.wsite_description_business.blank? %>
<!-- 店舗基本情報 -->
                <%=raw @website.wsite_description_business%>
<%      end %>
<%  end %>
<%  if request.host == 'sr2.swifty.jp' %>
<h3><a href="/fix?id=1&wkey=08ebd0bbcad881d718362fef54ee81e8">SALON</a> <span>店舗情報</span></h3>
<%  else %>
<h3><a href="/fix?id=1">SALON</a> <span>店舗情報</span></h3>
<%  end %>
<div id="iwaki"><img src="../photo/image/clip/3616/iwaki2.png" alt="いわき市の地図と各店舗の所在地" /></div>
<ul>
<li>
    <h4>SALON DE MORI</h4>
    <div>
<%  if request.host == 'sr2.swifty.jp' %>
        <a href="/home?wkey=9a6b3d0a73b16215b331252b73e5aff0">
<%  else %>
        <a href="http://salon.mori-bc.co.jp/">
<%  end %>
            <img src="../../photo/image/clip/10191/MORI-shop-mori.png" alt="サロン・ド・モリ(SALON DE MORI)" />
        </a>
    </div>
    <div>
        サロン・ド・モリ
    </div>
    <div>
        0120-244-180
    </div>
</li>
<li>
    <h4>MORI IROM</h4>
    <div>
<%  if request.host == 'sr2.swifty.jp' %>
        <a href="/home?wkey=1619cf7b4ebde9cd3a6b83d1d57a7e59">
<%  else %>
        <a href="http://irom.mori-bc.co.jp/">
<%  end %>
            <img src="../../photo/image/clip/10189/MORI-shop-irom.png" alt="モリ・アイロム(MORI irom)" />
        </a>
    </div>
    <div>
        モリ・アイロム
    </div>
    <div>
        0120-634-180
    </div>
</li>
<li>
    <h4>MORI WINGS</h4>
    <div>
<%  if request.host == 'sr2.swifty.jp' %>
        <a href="/home?wkey=b03e55355ea5ac4a8e7f0916a24a2505">
<%  else %>
        <a href="http://wings.mori-bc.co.jp/">
<%  end %>
            <img src="../../photo/image/clip/10192/MORI-shop-wings.png" alt="モリ・ウイングス(MORI WINGS)" />
        </a>
    </div>
    <div>
        モリ・ウイングス
    </div>
    <div>
        0120-064-180
    </div>
</li>
<li>
    <h4>AVEDA Salon＆Spa GREEN</h4>
    <div>
<%  if request.host == 'sr2.swifty.jp' %>
        <a href="/home?wkey=4f160f902541b6f384630d66ceff5cbb">
<%  else %>
        <a href="http://green.mori-bc.co.jp/">
<%  end %>
            <img src="../../photo/image/clip/10188/MORI-shop-green.png" alt="アヴェダ・サロン＆スパ・グリーン(AVEDA Salon＆Spa GREEN)" />
        </a>
    </div>
    <div>
        アヴェダ・サロン＆スパ・グリーン
    </div>
    <div>
        0800-800-5554
    </div>
</li>
<li>
    <h4>Leaf</h4>
    <div>
<%  if request.host == 'sr2.swifty.jp' %>
        <a href="/home?wkey=8077ed2b1aa6712717293e46f93cf59f">
<%  else %>
        <a href="http://leaf.mori-bc.co.jp/">
<%  end %>
            <img src="../../photo/image/clip/10190/MORI-shop-leaf.png" alt="リーフ(Leaf)" />
        </a>
    </div>
    <div>
        リーフ
    </div>
    <div>
        0120-394-180
    </div>
</li>
</ul>
<h3 class="break">MORI FAMILY</h3>
<ul>
<li>
    <h4 class="feel">feel Organic Photo Salon</h4>
    <div>
<!--
<%  if request.host == 'sr2.swifty.jp' %>
        <a href="/home?wkey=d8a66c34d753c4ab08d9b4dd0a6fcd3b">
<%  else %>
        <a href="http://feel.mori-bc.co.jp/">
<%  end %>
-->
        <a href="http://feel.mori-bc.co.jp/">
            <img src="../../photo/image/clip/10187/MORI-feel.png" alt="フィール・オーガニック・フォトサロン(feel Organic Photo Salon)" />
        </a>
    </div>
    <div>
        フィール・オーガニック・フォトサロン
    </div>
    <div>
        0246-84-0436
    </div>
</li>
<li>
    <h4 class="wedding">MORI WEDDING</h4>
    <div>
<%  if request.host == 'sr2.swifty.jp' %>
        <a href="/home?wkey=39e8502a1682c954819fb23dcb515433">
<%  else %>
        <a href="//wedding.mori-bc.co.jp/">
<%  end %>
            <img src="../../photo/image/clip/10193/MORI-wedding.png" alt="モリ・ウエディング(MORI WEDDING)" />
        </a>
    </div>
    <div>
        モリ・ウエディング
    </div>
    <div>
        0246-63-2300
    </div>
</li>
</ul>
