<form id="contact">
  <div class="container-form">
    <div class="control-group">
        <%= f.text_field  :name, :class=>"input-block-level", :placeholder=>"お名前", :autocomplete=>false%>
    </div>
    <div class="control-group">
	    <%= f.text_field  :email, :class=>"input-block-level", :placeholder=>"メールアドレス", :autocomplete=>false%>
    </div>
    <div class="control-group">
        <%= f.text_area  :body, :class=>"input-block-level", :placeholder=>"お問い合わせ内容", :autocomplete=>false%>
    </div>
    <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
        <div class="alt-send-button">
          <i class="fa fa-paper-plane"></i><span class="send-text">送信</span>
        </div>
    </button>
  </div>
</form>
