<style>
    .alert-success {
        color: #0f5132;
        background-color: #d1e7dd;
        border-color: #badbcc;
        padding: 10px;
    }
</style>
<div class="alert alert-success">
    <h3>お問い合わせありがとうございました。</h3>
</div>
