<% main_logo = VisualWidget.search_widget_bag_for(@website, "7225ffe2215772b5804f93ee1fe36309") %>
<% bk_slider = VisualWidget.search_widget_bag_for(@website, "a8feff68bca9619f8da7c6140a1ac044") %>
<% if !bk_slider.blank? && bk_slider.is_valid? %>
<ul id="carouselback">
<%   bk_slider.photos.each do | photo | %>
	<li><img src="<%= photo.clip.url() %>" alt=""></li>
<% end %>
</ul>
<aside id="carousel2">
<% else %>
<aside id="carousel">
<% end %>
<% if !main_logo.blank? && main_logo.is_valid? %>
	<img src="<%= main_logo.photos[0].clip.url() %>" alt="logo">
<% end %>
</aside>
