<%
    gallery_count = VisualWidget.search_widget_bag_for(@website, "d081c2384091c0ace31a003e79df60d3")
    if gallery_count.blank?
        cmax = 0
    else
        cmax = gallery_count.data_string.to_i
    end
    if cmax != 0 && cmax != 3 && cmax != 6 && cmax != 9 && cmax != 12 && cmax != 15 && cmax != 18
        cmax = 0
    end
    if cmax != 0

        @max = cmax
        type_root = ContentCategory.type_root(@website, ContentCategory::TYPE_GALLERY)
        navigation = type_root.web_page
        bag_categories = type_root.children.where("is_public=?", true) #type_root.children.find(:all, :conditions=>["is_public=?", true])
        public_categories  = []
        bag_categories.each do | cat |
            public_categories.concat(cat.sons)
            public_categories << cat
        end
        latest_leafs = @website.public_leafs.where("content_category_id",public_categories).order(position: :desc).limit(@max)
        #c = ContentLeaf.public_leafs
        #c.and "content_category_id", public_categories
        #latest_leafs =  @website.content_leafs.find(:all, :limit=>@max, :conditions=>c.where, :order=>'position desc')
        unless latest_leafs.blank?
%>
	<aside id="style-list">
		<div class="container">
            <h1><%= link_to model_name(navigation), :action=>navigation.action_name, :id=>navigation.content_category.id %></h1>
			<ul class="gallery-list wrapper">
<%
            latest_leafs.each do | leaf |
                if request.host == 'sr2.swifty.jp'
                    page_url  = url_for(:action=>'gallery_show', :id=>leaf, :wkey=>@website.wsite_hash_key)
                else
                    page_url  = url_for(:action=>'gallery_show', :id=>leaf)
                end
                key_photo = key_photo(leaf)
                unless key_photo.blank?
                    image_url = key_photo.clip.url(:panel)
                else
                    image_url = '//placehold.jp/320x320.png?text=No Photo'
                end
%>
				<li class="m3p3">
					<div class="imgbox">
						<div>
							<a href="<%= page_url %>">
								<img src="<%= image_url %>" alt="<%= model_title(leaf) %>">
								<span class="arrowbutton"></span>
							</a>
						</div>
					</div>
				</li>
<%          end %>
			</ul>
		</div>
	</aside>
<%      end %>
<%  end %>
