<% brand = VisualWidget.search_widget_bag_for(@website, "11444d4aba2f8c2810e62a15de34b91c") %>
<% catch = VisualWidget.search_widget_bag_for(@website, "c56056bf40df5d5e90eaabcf1d107db6") %>
<header id="header" class="show">
	<div class="container">
		<div class="wrapper">
			<div class="header">
				<div class="logo">
<% if !brand.blank? && brand.is_valid? %>
					<a href="/home">
		                <img src="<%= brand.photos[0].clip.url() %>" alt="logo">
					</a>
<% end %>
				</div>
<% if !catch.blank? && catch.is_valid? && !catch.data_string.blank? %>
				<p>
					<%= catch.data_string %>
				</p>
<% end %>
			</div>
			<div class="navopener">
				<div id="navopener"></div>
			</div>
		</div>
	</div>
</header>
