<%  instaid = VisualWidget.search_widget_bag_for(@website, "d71ef946747018b2cb7256b0d60b9a4b") %>
<%  instatk = VisualWidget.search_widget_bag_for(@website, "3c92d49de01a72cbcf21d703f876a9e4") %>
<%  instaun = VisualWidget.search_widget_bag_for(@website, "21559d7a9ad6e2665fb00f05ef07c79d") %>
<%  if !instaun.blank? && !instaun.data_string.blank? %>
<script>
$.getJSON("/php/insta_feed9.php",
    {id: "<%= instaun.data_string %>"},
    function(json){
        if ('business_discovery' in json){
            var ig = json.business_discovery.media.data;
            var j  = 0;
            var ht = '';
            for (var i = 0; i < ig.length; i++) {
                if (ig[i].media_type != 'VIDEO'){
                    ht += '<li class="m3p3"><div class="imgbox"><div><a href="' + ig[i].permalink + '" target="_blank"><img src="' + ig[i].media_url + '" alt="' + ig[i].caption + '"></a></div></div></li>';
                    j++;
                }
                if (j >= 9){
                    break;
                }
            }
        }else{
            var ht = '<li>Error: Instagramのアカウントをプロアカウントに変更してください。</li>';
        }
        $("#instafeed").append(ht);
    }
);
</script>
<%  elsif !instaid.blank? && !instatk.blank? && !instaid.data_string.blank? && !instatk.data_string.blank? %>
<script>
$.ajax({
    type: 'GET',
    url: 'https://graph.facebook.com/<%= instaid.data_string %>?fields=name%2Cmedia.limit(9)%7Bcaption%2Cmedia_type%2Cmedia_url%2Cpermalink%2Cthumbnail_url%7D&access_token=<%= instatk.data_string %>',
    dataType: 'json',
    success: function(json) {
        var ig = json.media.data;
        var ht = '';
        for (var i = 0; i < ig.length; i++) {
            if (ig[i].media_type == 'VIDEO'){
                ht += '<li class="m3p3"><div class="imgbox"><div><a href="' + ig[i].permalink + '" target="_blank"><img src="' + ig[i].thumbnail_url + '" alt="' + ig[i].caption + '"></a></div></div></li>';
            } else {
                ht += '<li class="m3p3"><div class="imgbox"><div><a href="' + ig[i].permalink + '" target="_blank"><img src="' + ig[i].media_url + '" alt="' + ig[i].caption + '"></a></div></div></li>';
            }
        }
        $("#instafeed").append(ht);
    }
});
</script>
<%  end %>
