<%  instaid = VisualWidget.search_widget_bag_for(@website, "d71ef946747018b2cb7256b0d60b9a4b") %>
<%  instatk = VisualWidget.search_widget_bag_for(@website, "3c92d49de01a72cbcf21d703f876a9e4") %>
<%  instaun = VisualWidget.search_widget_bag_for(@website, "21559d7a9ad6e2665fb00f05ef07c79d") %>
<%
    if (!instaid.blank? && !instatk.blank? && !instaid.data_string.blank? && !instatk.data_string.blank?) || (!instaun.blank? && !instaun.data_string.blank?)
%>
	<aside id="style-list">
		<div class="container">
            <h1>
<%    if @website.social_instagram_uri.blank? %>
                INSTAGRAM
<%    else %>
                <a href="<%= @website.social_instagram_uri %>" target="_blank">INSTAGRAM</a>
<%    end %>
            </h1>
			<ul id="instafeed" class="gallery-list wrapper">
			</ul>
		</div>
	</aside>
<%  end %>
