<aside>
    <div class="container">
        <h1 class="page_head"><a href="/menu_table?id=203">メニュー・料金</a></h1>
        <div id="contents_list">
            <ul>
                <li class="wrapper">
                    <div class="col-1p3">
                        <div class="imgbox"><div style="background-image:url('/photo/image/clip/76821/original/area_menu.jpg')">
                            <a href="/menu_table?id=203"><img src="/photo/image/clip/76821/original/area_menu.jpg" alt=""></a>
                        </div></div>
                    </div>
                    <div class="col-2p3">
                        <h1><a href="/menu_table?id=203">メニュー・料金</a></h1>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</aside>
