<div class="mb-3 row">
	<label for="name" class="col-sm-4 col-form-label">__ラベル_１__</label>
	<div class="col-sm-8">
		<%= f.text_field :__属性名__,  {class: "form-control", placeholder: "__を入力", :required => __true_false__, autofocus: true}  %>
	</div>
</div>
<div class="mb-3 row">
	<label for="description" class="col-sm-4 col-form-label">__ラベル２__</label>
	<div class="col-sm-8">
        __入力項目-2__
	</div>
</div>
