<table class="table table-hover table-bordered">
	<thead>
		<tr xclass='table-info text-dark'>
			<th width='50%' class="span3 table-dark">記事・項目数</th>
			<th width='50%' class="span3 table-dark">ファイル</th>
		</tr>
	</thead>
	<tbody>
		<% root_cat = ContentCategory.shop_root(@shop) %>
		<tr>
			<td><div  class="text-right"><%= commify(root_cat.total_leafs.size.to_s) %></div></td>
			<td>
				<div  class="text-right">
					<% total_photos = root_cat.total_photos %>
					<%= total_photos.size %>
					<% 
						photo_sum_size = Photo.total_file_size(total_photos)
						#total_photos.each{ |photo|  photo_sum_size+=photo.my_size }	unless total_photos.blank?
					%> 
					【<%= number_to_human_size(photo_sum_size)  %>】							
				</div>
			</td>
		</tr>
	</tbody>
</table>
