<div class="control-group">
	<label class="control-label" for="shop[option_attendance_management]">勤怠管理</label>
	<div class="controls">
		<label class="radio inline">
			<input type="radio" id="shop[option_attendance_management]" name="shop[option_attendance_management]" value="1" <% if @shop.option_attendance_management %>checked<% end %>>
			利用する
		</label>
		<label class="radio inline">
			<input type="radio" id="shop[option_attendance_management]" name="shop[option_attendance_management]" value="0" <% if !@shop.option_attendance_management %>checked<% end %>>
			利用しない
		</label>
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="shop[option_reservation_management]">予約管理</label>
	<div class="controls">
		<label class="radio inline">
			<input type="radio" id="shop[option_reservation_management]" name="shop[option_reservation_management]" value="1" <% if @shop.option_reservation_management %>checked<% end %>>
			利用する
		</label>
		<label class="radio inline">
			<input type="radio" id="shop[option_reservation_management]" name="shop[option_reservation_management]" value="0" <% if !@shop.option_reservation_management %>checked<% end %>>
			利用しない
		</label>
	</div>
</div>

<% if false %>

<div class="control-group">
	<label class="control-label" for="shop[option_customer_management]">顧客管理</label>
	<div class="controls">
		<label class="radio inline">
			<input type="radio" id="shop[option_customer_management]" name="shop[option_customer_management]" value="1" <% if @shop.option_customer_management %>checked<% end %>>
			利用する
		</label>
		<label class="radio inline">
			<input type="radio" id="shop[option_customer_management]" name="shop[option_customer_management]" value="0" <% if !@shop.option_customer_management %>checked<% end %>>
			利用しない
		</label>
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="shop[option_sales_management]">売上管理</label>
	<div class="controls">
		<label class="radio inline">
			<input type="radio" id="shop[option_sales_management]" name="shop[option_sales_management]" value="1" <% if @shop.option_sales_management %>checked<% end %>>
			利用する
		</label>
		<label class="radio inline">
			<input type="radio" id="shop[option_sales_management]" name="shop[option_sales_management]" value="0" <% if !@shop.option_sales_management %>checked<% end %>>
			利用しない
		</label>
	</div>
</div>
<% end %>
