<div class="mb-3 row">
	<label for="staticEmail" class="col-sm-4 col-form-label">公開設定</label>
	<div class="col-sm-8">
		<label class="radio inline">
			<input type="radio" id="color[is_public]" name="color[is_public]" value="1" <% if @color.is_public %>checked<% end %>>
			公開
		</label>
		<label class="radio inline">
			<input type="radio" id="color[is_public]" name="color[is_public]" value="0" <% if !@color.is_public %>checked<% end %>>
			非公開
		</label>
	</div>
</div>
<div class="mb-3 row">
	<label for="name" class="col-sm-4 col-form-label">カラー・スキーム名</label>
	<div class="col-sm-8">
		<%= text_field 'color', 'name', {class: "form-control", placeholder: "名称を入力", :required => true, autofocus: true} %>
	</div>
</div>
<div class="mb-3 row">
	<label for="description" class="col-sm-4 col-form-label">説明文</label>
	<div class="col-sm-8">
		<%= text_area 'color', 'description', {class: "form-control", :rows=>"5", placeholder: "説明文を入力", autofocus: true} %>
	</div>
</div>
<div class="mb-3 row">
	<label for="repository_path" class="col-sm-4 col-form-label">アセット・パス</label>
	<div class="col-sm-8">
		<%= text_field 'color', 'repository_path', {class: "form-control", placeholder: "アセット・パスを入力", :required => true, autofocus: true} %>
	</div>
</div>
