<div class="mb-3 row">
	<label for="name" class="col-sm-4 col-form-label">新パスワード</label>
	<div class="col-sm-8">
		<%= f.password_field :password, {class: "form-control", :minlength=>'6', :placeholder=>"新しいパスワード", :required => true, autofocus: true} %>
		<span class="help-block">6文字以上</span>
	</div>
</div>
<div class="mb-3 row">
	<label for="name" class="col-sm-4 col-form-label">再入力</label>
	<div class="col-sm-8">
		<%= f.password_field :password_confirmation, {class: "form-control", :minlength=>'6', :placeholder=>"もう一度入力", :required => true, autofocus: true} %>
	</div>
</div>
