<%= form_tag({:action => 'content_category_update', :id=>@item}, :class=>"well form-horizontal", method: :patch)  do %>
	<legend>カテゴリー編集</legend>
	<div class="control-group">
		<label class="control-label" for="item_title">カテゴリー</label>
		<div class="controls">
			<%= text_field  'item', 'title', :placeholder=>"カテゴリー名称"%>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<%= link_to_remote(
				'キャンセル', 
				{ :url => {:action=>'clear_sandbox'}}, :class=>"btn btn-secondary btn-sm") %>
			<button type="submit" class="btn btn-sm btn-primary"><%= update_icon('更新') %> 更新</button>
		</div>
	</div>
<% end %>

<hr/>
