<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
<% fbappid = VisualWidget.search_widget_bag_for(@website, "ab81113c316f011b80bf97aa53180a0c") %>
<% if !fbappid.blank? && fbappid.is_valid? %>
  js.src = "https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.7&appId=<%= fbappid.data_string %>";
<% else %>
  js.src = "https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.7";
<% end %>
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
