<footer id="footer">
    <ul class="icons">
        <%= render :partial=>"#{LayoutScheme.asset_root}/parallax_one_speed/social", locals:{magic: @website} %>
    </ul>
    <ul class="copyright">
        <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
</footer>
