<% brand = VisualWidget.search_widget_bag_for(@website, "53dfbd5f5ea0d980139a7d25668d67db") %>
<% if brand.data_string.blank? %>
        <div id="brand"><a href="/home"><%= @website.name %></a></div>
<% else %>
        <div id="brand"><a href="/home"><%= brand.data_string %></a></div>
<% end %>
        <a id="nav_btn"><i class="fa fa-bars"></i><span>MENU</span></a>
