<%
	# 最大コンテンツ数
	@max = 10
	# STREAM ブログ
	type_root = ContentCategory.type_root(@website, ContentCategory::TYPE_STREAM)
	# ブログ.ウェブページ
	navigation = type_root.web_page
	# ブログ中の全て＆有効
	bag_categories = type_root.children.find(:all, :conditions=>["is_public=?", true])

	public_categories  = []
	bag_categories.each do | cat |
		# concat(arr) arrを末尾に結合 <<, push は要素を追加
		public_categories.concat(cat.sons)
		public_categories << cat
	end
	c = ContentLeaf.public_leafs_condition
	c.and "content_category_id", public_categories
	latest_leafs =  @website.content_leafs.find(:all, :limit=>@max, :conditions=>c.where, :order=>'publish_from desc')
%>
<% unless latest_leafs.blank? %>
	<h3><%= model_name(navigation) %></h3>
	<ul>
		<% latest_leafs.each do | leaf |  %>
		    <li>
				<%= render :partial=>"#{LayoutScheme.asset_root}/DEMO-TEST/home_latest_blog_item", :locals => {:temp_local => leaf}  %>
	        </li>
		<% end %>
	</ul>
<% end %>