<%  if false %>
<%      unless @website.wsite_description_business.blank? %>
<!-- 店舗基本情報 -->
                <%=raw @website.wsite_description_business%>
<%      end %>
<%  end %>
<%  if true || request.host == 'sr2.swifty.jp' %>
<h1><a href="/fix?id=1&wkey=08ebd0bbcad881d718362fef54ee81e8">SALON</a> <span>店舗情報</span></h1>
<%  else %>
<h1><a href="/fix?id=1">SALON</a> <span>店舗情報</span></h1>
<%  end %>
<div id="iwaki"><img src="/photo/image/clip/731/original/iwaki.png" alt="店舗の位置地図" /></div>
<ul>
<li>
    <div>
<%  if true || request.host == 'sr2.swifty.jp' %>
        <a href="/home?wkey=9a6b3d0a73b16215b331252b73e5aff0">
<%  else %>
        <a href="//salon.mori-bc.co.jp/">
<%  end %>
            <img src="/photo/image/clip/727/original/MORI-shop-mori.png" alt="SALON DE MORI" />
        </a>
    </div>
</li>
<li>
    <div>
<%  if true || request.host == 'sr2.swifty.jp' %>
        <a href="/home?wkey=1619cf7b4ebde9cd3a6b83d1d57a7e59">
<%  else %>
        <a href="//irom.mori-bc.co.jp/">
<%  end %>
            <img src="/photo/image/clip/728/original/MORI-shop-irom.png" alt="MORI irom" />
        </a>
    </div>
</li>
<li>
    <div>
<%  if true || request.host == 'sr2.swifty.jp' %>
        <a href="/home?wkey=b03e55355ea5ac4a8e7f0916a24a2505">
<%  else %>
        <a href="//wings.mori-bc.co.jp/">
<%  end %>
            <img src="/photo/image/clip/734/original/MORI-shop-wings2.png" alt="MORI WINGS" />
        </a>
    </div>
</li>
<li>
    <div>
<%  if true || request.host == 'sr2.swifty.jp' %>
        <a href="/home?wkey=4f160f902541b6f384630d66ceff5cbb">
<%  else %>
        <a href="//green.mori-bc.co.jp/">
<%  end %>
            <img src="/photo/image/clip/730/original/MORI-shop-green.png" alt="AVEDA Salon＆Spa GREEN" />
        </a>
    </div>
</li>
</ul>
<h1 class="break">MORI FAMILY</h1>
<ul>
<li>
    <div>
<!--
<%  if true || request.host == 'sr2.swifty.jp' %>
        <a href="/home?wkey=d8a66c34d753c4ab08d9b4dd0a6fcd3b">
<%  else %>
        <a href="//feel.mori-bc.co.jp/">
<%  end %>
-->
            <img src="/photo/image/clip/733/original/MORI-feel.png" alt="feel" />
<!--
        </a>
-->
    </div>
</li>
<li>
    <div>
<%  if true || request.host == 'sr2.swifty.jp' %>
        <a href="/home?wkey=39e8502a1682c954819fb23dcb515433">
<%  else %>
        <a href="//wedding.mori-bc.co.jp/">
<%  end %>
            <img src="/photo/image/clip/732/original/MORI-wedding.png" alt="MORI WEDDING" />
        </a>
    </div>
</li>
</ul>
