        <aside>
            <div class="container">
                <div class="content_box">
                    <div class="wrapper">
                        <div class="col-1p2">
                            <div id="gmap"></div>
                            <div class="text-right">
                                <a href="https://www.google.co.jp/maps/@<%= @website.lat %>,<%= @website.lng %>,16z?hl=ja" target="_blank">大きな地図で見る</a>
                            </div>
                        </div>
                        <div class="col-1p2 contents">
                            <div class="col-in">
                                <h1><%= model_name(@website) %></h1>
<% unless @website.wsite_description_business.blank? %>
                                <%=raw @website.wsite_description_business%>
<% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
