<span style='color: #CFC'>■</span> : 予約
<% if shop.option_attendance_management %>
    ,
    <span style='color: #FAA'>■</span> : 予約 (不在時)
    ,
    <span style='color: #000'>□</span> : 勤務
    ,
    <span style='color: #DDD'>■</span> : 不在
<% end %>