<div class="control-group">
	<label class="control-label" for="login">表示名</label>
	<div class="controls">
		<%= text_field 'user', 'name', :placeholder=>"表示名を入力", :autocomplete => "off" %>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="login">ログイン</label>
	<div class="controls">
		<%= text_field 'user', 'email', :placeholder=>"ログインIDを入力", :autocomplete => "off" %>
		<span class="help-block">メールアドレスの様式でご指定ください</span>
	</div>
</div>
<% if false %>
<div class="control-group">
	<label class="control-label" for="email">メールアドレス</label>
	<div class="controls">
		<%= text_field 'user', 'email_org', :placeholder=>"メールアドレスを入力", :autocomplete => "off" %>
	</div>
</div>
<% end %>
