<div class="control-group">
	<label class="control-label" for="web_page[name]">タイトル</label>
	<div class="controls">
		<%= text_field 'web_page', 'name', :placeholder=>"ページタイトルを入力", :autocomplete => "off" %>
	</div>
</div>
