        <footer id="footer">
            <div class="container">
                <p>株式会社 アトリエ ピカソ 山形県庄内地方(酒田市・鶴岡市・東田川郡三川町)で５店舗を展開する美容室・美容院・ヘアサロングループです。</p>
                <small><%= copyright_notice(@website) %></small>
            </div>
        </footer>