<% typo = VisualWidget.search_widget_bag_for(@website, "0587c6108a1aa937f68fe65c704d158d") %>
<% if typo.data_string.blank? %>
                <p><%= @website.name %></p>
<% else %>
                <p><%= typo.data_string %></p>
<% end %>
