////設定項目
@import "hensu";

p,
li {
	font-size: $base-text-size;
}

.sp {
	display: none !important;
}
#btn-menu {
	top: 64px;
	right: 48px;
}
#nav-main {
	min-width: 20vw;
	padding: 128px 64px 8px;
	& li,& h3 {
		margin-bottom: 16px;
	}
	& .item-salon {
		margin-bottom: 36px;
	}
}
#first-visual {
	& #nav-first-visual {
		& ul {
			width: 90%;
			& li {
				padding-left: 96px;
				padding-right: 96px;
				width: 38%;
			}
		}
	}
}
#sect-list-salon {
	& .list-salon {
		&>li {
			display: flex;
			&>div {
				width: 50%;
			}
			& .txt {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
			}
		}
	}
	& .item-salon {
		margin-bottom: 48px;
	}
}
.list-archive {
	& li {
		width: 30%;
		margin-bottom: 48px;
	}
}
#nav-page-single {
	& ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		& li {
			max-width: 49%;
			&:first-child {
				&::before {
					content: "◀";
				}
			}
			&:last-child {
				&::after {
					content: "▶";
				}
			}
		}
	}
}
