    <div class="brand">
      	<% widget_bag = VisualWidget.search_widget_bag_for(@website, "c2f0419ca1dd69a31990dc1c272935d9") %>
		<% if widget_bag.blank? || !widget_bag.is_valid? %>
			<img src="//placehold.it/250x75&amp;text=Logo-S">
		<% else %>
			<img src="<%= url_for_file_column(widget_bag.photos[0], :image) %>" title=<%=model_name(@website) %>>
		<% end %>			
	</div>
	<% unless @website.wsite_telephone.blank? %>
	    <div class="address-bar">
	    	<h4>
				<i class="icon-phone-sign"></i><a href="tel:<%=@website.wsite_telephone %>"><%=@website.wsite_telephone %></a>
			</h4>
		</div>
	<% end %>
