<!-- シェアボタン -->
                    <aside>
                        <ul class="share">
                            <li class="fblike"><div class="fb-like" data-width="80" data-layout="box_count" data-action="like" data-share="true"></div></li>
                            <li><a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-count="vertical">ツイート</a></li>
                            <li>
                                <script type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411" ></script>
                                <script type="text/javascript">
                                    new media_line_me.LineButton({"pc":true,"lang":"ja","type":"e"});
                                </script>
                            </li>
                        </ul>
                    </aside>
<% unless @website.wsite_description_business.blank? %>
<!-- 店舗基本情報 -->
                    <aside class="clearfix">
                        <div id="site_logo">
<% logomark = VisualWidget.search_widget_bag_for(@website, "0dc7d13534b21f60bbf2dc0d0dc115c5") %>
<% if logomark.blank? || !logomark.is_valid? %>
                            <img src="//placehold.it/240x120" alt="logo mark">
<% else %>
                            <img src="<%= logomark.photos[0].clip.url() %>" alt="logo mark">
<% end %>
                        </div>
                        <div id="site_description">
                            <%=raw @website.wsite_description_business%>
                        </div>
                    </aside>
<% end %>
<% if @website.gps? %>
<!-- google maps -->
                    <aside class="wrapper">
                        <div class="col-2p3"><div id="gmap"></div></div>
<% unless @website.social_facebook_uri.blank? %>
<!-- Facebook LikeBox -->
                        <div id="likebox" class="col-1p3">
                            <div class="fb-page" data-href="<%= @website.social_facebook_uri %>" data-width="599" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"></div>
                        </div>
<% end %>
                    </aside>
<% end %>
