<% slider = VisualWidget.search_widget_bag_for(@website, "0cb279a0d65c30aa99293472c3ad0b38") %>
<% if !slider.blank? && slider.is_valid? %>
<aside id="carousel">
  <div id="carousel-list">
    <ul id="carousel-ul">
    <% slider.photos.each do | photo | %>
      <li><img src="<%= photo.clip.url() %>" alt=""></li>
    <% end %>
    </ul>
  </div>
  <ul id="carousel-nav">
  </ul>
</aside>
<% end %>
