<% slider = VisualWidget.search_widget_bag_for(@website, "6e4501c67e7d2ab8f5ede4ba0c9d109c") %>
<% if !slider.blank? && slider.is_valid? %>
<aside id="carousel">
  <div id="carousel-list">
    <ul id="carousel-ul">
    <% slider.photos.each do | photo | %>
      <li><img src="<%= photo.clip.url(:image) %>" alt=""></li>
    <% end %>
    </ul>
  </div>
  <ul id="carousel-nav">
  </ul>
</aside>
<% end %>
