<% slider = VisualWidget.search_widget_bag_for(@website, "0deba3cb437400f9052396a257a66bda") %>
<% logo   = VisualWidget.search_widget_bag_for(@website, "f75c22ae6a1dd7eeddae35b718c36221") %>
<% if !slider.blank? && slider.is_valid? %>
<aside id="carousel">
  <div id="carousel-list">
    <ul id="carousel-ul">
    <% slider.photos.each do | photo | %>
      <li><img src="<%= photo.clip.url(:image) %>" alt=""></li>
    <% end %>
    </ul>
    <% if !logo.blank? && logo.is_valid? %>
    <div id="logo">
      <img src="<%= logo.photos[0].clip.url(:image) %>" alt="ロゴ">
    </div>
    <% end %>
  </div>
  <ul id="carousel-nav">
  </ul>
</aside>
<% end %>
