<footer id="footer">
	<div class="container">
		<ul class="wrapper ksp">
			<li class="text-center">
				<span class="icon icon-kum">&nbsp;</span>
			</li>
			<li>
				<h1 class="ksp">KUM support planning.</h1>
				<dl class="ksp">
					<dt>add.</dt>
					<dd>〒950-0813 新潟市東区大形本町6-8-14</dd>
					<dt>tel.</dt>
					<dd>025-275-6666</dd>
					<dt>fax.</dt>
					<dd>025-279-1708</dd>
				</dl>
				<p class="privacy">
					<a href="https://www.jbl-tachikawa.co.jp/%E3%83%97%E3%83%A9%E3%82%A4%E3%83%90%E3%82%B7%E3%83%BC%E3%83%9D%E3%83%AA%E3%82%B7%E3%83%BC%E3%83%BB%E5%85%8D%E8%B2%AC%E4%BA%8B%E9%A0%85/" target="_blank">
						<span class="icon icon-angle-right">&nbsp;</span>
						Privacy policy
					</a>
				</p>
				<p class="copy"><%= copyright_notice(@website) %></p>
			</li>
		</ul>
	</div>
</footer>
