<article id="home-concept">
	<div class="container">
		<div class="logoarea">
			<div>
				<div class="logo">
					<span class="icon icon-kum">&nbsp;</span>
				</div>
				<p class="contactlink nomobile text-center">
					<a href="https://www.jbl-tachikawa.co.jp/contact/" target="_blank" class="linkbutton">
						<span class="icon icon-chevron-right">&nbsp;</span>
						<span>お問合せはこちら</span>
					</a>
				</p>
			</div>
		</div>
		<div class="conceptarea">
			<div>
				<p>
					タッグを組む<br>
					ベストなプランを組み立てる<br>
					お客様のニーズ、想いを汲み取る…
				</p>
				<p>
					私たちが日々大切にしている<br>
					様々な 「くむ=KUM」 を基軸として<br>
					サロン様経営にまつわるあらゆるサポートを<br>
					各エキスパートスタッフが<br>
					チームで全力で取り組んで参ります。<br>
					他に類をみないディーラーならではのサポート部門を<br>
					ぜひご活用ください。
				</p>
				<p class="en">
					form a tag team.<br>
					Assemble the best plan.<br>
					Understanding the needs and thoughts of our customers...
				</p>
				<p class="en">
					With "Kumu = KUM" as our core value, our expert staff members will work together<br>
					as a team to provide you with all the support you need to run your salon.<br>
					Please make the most of our unique dealer support department.
				</p>
				<p class="contactlink mobileonly text-center">
					<a href="https://www.jbl-tachikawa.co.jp/contact/" target="_blank" class="linkbutton">
						<span class="icon icon-chevron-right">&nbsp;</span>
						<span>お問合せはこちら</span>
					</a>
				</p>
			</div>
		</div>
	</div>
	<p id="scroll" class="show">
		SCROLL
		<span class="icon icon-chevron-right">&nbsp;</span>
	</p>
</article>
