<%
	@max = 6
	type_root = ContentCategory.type_root(@website, ContentCategory::TYPE_NEWS)
	navigation = type_root.web_page
	bag_categories = type_root.children.find(:all, :conditions=>["is_public=?", true])

	public_categories  = []
	bag_categories.each do | cat |
		public_categories.concat(cat.sons)
		public_categories << cat
	end
	latest_leafs = @website.public_leafs.where("content_category_id IN (?)", public_categories).order(publish_from: :desc).limit(@max)
	#c = ContentLeaf.public_leafs_condition
	#c.and "content_category_id", public_categories
	#latest_leafs =  @website.content_leafs.find(:all, :limit=>@max, :conditions=>c.where, :order=>'publish_from desc')
%>
<% unless latest_leafs.blank? %>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="latest_h1"><%= model_name(navigation) %></h1>
		</div>
	</div>
	<div class="row">
		<ul class="box latest_ul clearfix">
<% latest_leafs.each do | leaf |  %>
		    <li class="latest_li col-lg-4 col-md-4 col-sm-6 col-xs-12">
<%= render :partial=>"#{LayoutScheme.asset_root}/hurrah/home_latest_news_item", :locals => {:temp_local => leaf}  %>
	        </li>
<% end %>
		</ul>
	</div>
<% end %>
