<% link_url = url_for(:action=>'gallery_show', :id=>@leaf, :page=>@page, :wkey=>@website.wsite_hash_key) %>
<li class="latest_li col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <!-- 記事リストへのリンク -->
    <a href="<%= link_url %>">
    <% key_photo = key_photo(@leaf) %>
    <% unless key_photo.blank? %>
        <!-- 最初の記事の写真 -->
        <div class="latest_imgbox"><div><%= image_tag key_photo.clip.url(:panel) %></div></div>
    <% else %>
        <div class="latest_imgbox"><div><img src="//placehold.it/480x360/ffffff/cccccc&amp;text=No photo"></div></div>
    <% end %>
    </a>
    <!-- 記事タイトル -->
    <h2 class="latest_h2">
        <a href="<%= link_url %>">
            <%= h model_title(@leaf) %>
        </a>
    </h2>
</li>
