/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
pre,textarea{overflow:auto}
[hidden],audio:not([controls]),template{display:none}
details,main,summary{display:block}
input[type=number]{width:auto}
input[type=search]{-webkit-appearance:textfield}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
progress{display:inline-block}
small{font-size:75%}
textarea{resize:vertical}
[unselectable]{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
*,::after,::before{box-sizing:inherit;border-style:solid;border-width:0}
*{font-size:inherit;line-height:inherit;margin:0;padding:0}
::after,::before{text-decoration:inherit;vertical-align:inherit}
:root{-ms-overflow-style:-ms-autohiding-scrollbar;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;box-sizing:border-box;cursor:default;font:16px/1.5 sans-serif;text-rendering:optimizeLegibility}
a{text-decoration:none}
audio,canvas,iframe,img,svg,video{vertical-align:middle}
button,input,select,textarea{background-color:transparent;color:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;min-height:1.5em}
code,kbd,pre,samp{font-family:monospace,monospace}
nav ol,nav ul{list-style:none}
select{-moz-appearance:none;-webkit-appearance:none}
select::-ms-expand{display:none}
select::-ms-value{color:currentColor}
table{border-collapse:collapse;border-spacing:0}
::-moz-selection{background-color:#B3D4FC;text-shadow:none}
::selection{background-color:#B3D4FC;text-shadow:none}
@media screen{[hidden~=screen]{display:inherit}
[hidden~=screen]:not(:active):not(:focus):not(:target){clip:rect(0 0 0 0)!important;position:absolute!important}
}
/*
 *      init
 */
* {
    /* 要素をタップしたときの枠 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* iOSでリンクを長押ししたときのポップアップメニュー */
    -webkit-touch-callout: none;
}
button:active, button:focus {
    outline: 0;
}
a:hover {
    text-decoration: underline;
}
a img,
a i.fa {
    opacity: 1;
    -webkit-transition: opacity .3s;
        -ms-transition: opacity .3s;
            transition: opacity .3s;
}
a:hover img,
a:hover i.fa {
    opacity: .7;
}
img {
    max-width: 100%;
    height: auto;
}
iframe {
    max-width: 100%;
}
#gmap img, #gMap img, .gmap img, .gMap img, .googlemaps img {
    max-width: none;
}
.fa-home {
    color: #484848;
}
.fa-facebook,
.fa-facebook-official {
    color: #305097;
}
.fa-google-plus,
.fa-google-plus-square {
    color: #db4a39;
}
.fa-twitter,
.fa-twitter-square {
    color: #00aced;
}
.fa-instagram {
    color: #3f729b;
}
.fa-pinterest,
.fa-pinterest-square {
    color: #cc2127;
}
.fa-tumblr,
.fa-tumblr-square {
    color: #34526f;
}
/*
 *      utils
 */
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
img.pull-left {
    margin-right: 1em;
}
img.pull-right {
    margin-left: 1em;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
/*
 *
 *      grid
 *
 */
.container {
    margin: 0 auto;
    padding: 0 .5em;
    padding: 0 .5rem;
    max-width: 1280px;
}
.container:before,
.container:after {
    display: table;
    content: " ";
}
.container:after {
    clear: both;
}
.wrapper {
    margin: 0 -0.5em;
    margin: 0 -0.5rem;
}
.col-1p4,
.col-3p4,
.col-1p3,
.col-2p3,
.col-1p2 {
    float: left;
    width: 100%;
    margin: .5em 0;
    margin: .5rem 0;
    padding: .5em;
    padding: .5rem;
}
.imgbox {
    position: relative;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 100%;
    height: 100%;
    padding: 100% 0 0; // 正方形
}
.imgbox > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-position: center top;
    background-size: cover;
}
.imgbox > div img {
    opacity: 0;
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 600px) {
    .col-1p4,
    .col-3p4,
    .col-1p3,
    .col-2p3,
    .col-1p2 {
        width: 50%;
    }
}
@media screen and (min-width: 801px) {
    .col-1p4,
    .col-1p3 {
        width: 33.3333333333%;
    }
    .col-3p4,
    .col-2p3 {
        width: 66.6666666667%;
    }
}
@media screen and (min-width: 968px) {
    .col-1p4,
    .col-3p4,
    .col-1p3,
    .col-2p3 {
        width: 50%;
    }
    #home .col-1p4 {
        width: 33.3333333333%;
    }
    #home .col-3p4 {
        width: 66.6666666667%;
    }
}
@media screen and (min-width: 1145px) {
    .col-1p4,
    .col-1p3 {
        width: 33.3333333333%;
    }
    .col-3p4,
    .col-2p3 {
        width: 66.6666666667%;
    }
    #home .col-1p4 {
        width: 25%;
    }
    #home .col-3p4 {
        width: 75%;
    }
}
/*
 *
 *      IE8 AND OLD BROWSER
 *
 */
#browserupgrade {
    margin: 1em 2em;
    padding: 1em;
    background-color: #fce4ec;
}
/*
 *
 *      root
 *
 */
html {
    color: #f8f8f8;
    background-color: #212121;
    width: 100%;
    height: 100%;
    min-width: 320px;
    overflow: hidden
}
body {
    width: 100%;
    height: 100%;
    overflow: scroll;
}
/*
 *
 *      smart_nav
 *
 */
#smart_nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 16em;
    width: 16rem;
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
#smart_nav h1 {
    display: none;
}
#smart_nav_inner {
    list-style: none;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}
#smart_nav_inner li {
    line-height: 2.75em;
    white-space: nowrap;
    padding: 0 .5em;
    border-bottom: 1px solid #777;
}
#smart_nav_inner a {
    display: block;
    color: inherit;
    text-shadow: 1px 0 1px rgba(255,255,255,.3);
}
#smart_nav_inner ul {
    list-style-type: none;
    margin: 0 -.5em;
    border-top: 1px solid #777;
}
#smart_nav_inner ul li {
    padding-left: 1.5em;
}
#smart_nav_inner ul li a {
    font-size: .875em;
    line-height: 3.142857em;
}
#smart_nav_inner ul li a:before {
    content: '- ';
}
@media screen and (min-width: 801px) {
    #smart_nav {
        overflow: hidden;
    }
}
/*
 *
 *      body
 *
 */
#body {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #484848;
    background-color: #fff;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: -webkit-transform .3s ease-in-out;
            transition:         transform .3s ease-in-out;
}
#body.navshow {
    -webkit-transform: translateX(-16em);
            transform: translateX(-16em);
    -webkit-transform: translateX(-16rem);
            transform: translateX(-16rem);
}
#body_inner {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}
/*
 *
 *      header
 *
 */
#header {
    padding-top: 1em;
    border-bottom: 1px solid rgba(251,140,0,.8);
}
#header h1 {
    display: none;
}
#header_main {
}
#header_logomark {
    float: left;
}
#header_logomark img {
    width: 200px;
    height: auto;
}
#smart_nav_opener {
    float: right;
}
#smart_nav_opener button {
    font-size: 1.6em;
    line-height: 1em;
    border: 1px solid #999;
    padding: 1px 5px 4px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    cursor: pointer;
}
#smart_nav_opener button div {
    font-size: .625em;
    font-size: .625rem;
    line-height: 1.1em;
}
#header_summary {
    clear: both;
    max-width: 27em;
    max-width: 375px;
    padding: .5em 0 .75em;
    font-size: .875em;
}
#header_side {
    display: none;
}
@media screen and (min-width: 801px) {
    #header {
        border-bottom-style: none;
    }
    #header_main {
        float: left;
    }
    #smart_nav_opener {
        display: none;
    }
    #header_summary {
        float: left;
        clear: none;
        margin: 21px 0 0 1em;
        padding-top: 0;
    }
    #header_side {
        display: block;
        float: right;
        text-align: right;
    }
    #header_link {
        font-size: 2.25em;
        line-height: 1em;
    }
    #header_call {
        font: .875em/1em Times, 'Times New Roman', serif;
    }
    #header_call address {
        display: inline;
        font: normal 1.7143em/1em Times, 'Times New Roman', serif;
        font: normal 1.5rem/1em Times, 'Times New Roman', serif;
    }
}
/*
 *
 *      nav
 *
 */
#nav {
    display: none;
    margin-top: .5em;
    border-bottom: 2px solid rgba(251,140,0,1);
}
#nav h1 {
    display: none;
}
#nav a {
    display: block;
    padding: 0 1em;
    color: inherit;
    white-space: nowrap;
}
#nav a:hover {
    text-decoration: none;
}
#nav ul.container {
    font-size: 0;
    padding: 0;
}
#nav > ul > li {
    position: relative;
    display: inline-block;
    font-size: .875em;
    font-size: .875rem;
    line-height: 3em;
    padding: 0 1em;
    cursor: pointer;
}
#nav > ul > li > a {
    margin: 0 -1em;
}
#nav > ul > li:hover {
    color: #fff;
    background-color: rgba(251,140,0,.8);
}
#nav > ul > li:hover li {
    overflow: visible;
    height: 3em;
}
#nav > ul ul {
    position: absolute;
    top: 3em;
    margin: 0 -1em;
    z-index: 11;
}
#nav > ul ul li {
    height: 0;
    overflow: hidden;
    -webkit-transition: .3s;
        -ms-transition: .3s;
            transition: .3s;
}
#nav > ul ul a {
    color: #fff;
    background-color: rgba(251,140,0,1);
    opacity: .8;
    -webkit-transition: .6s;
        -ms-transition: .6s;
            transition: .6s;
}
#nav > ul ul a:hover {
    opacity: 1;
}
@media screen and (min-width: 801px) {
    #nav {
        display: block;
    }
}
/*
 *
 *      breadcrumbs
 *
 */
#breadcrumbs {
    background-color: #fff;
    border-bottom: 1px solid rgba(251,140,0,1);
    box-shadow: 0 0 2px rgba(251,140,0,.4);
}
#breadcrumbs ol {
    list-style: none;
    font-size: 0;
    overflow: hidden;
    white-space: nowrap;
}
#breadcrumbs li {
    display: inline-block;
    font-size: .875em;
    font-size: .875rem;
    line-height: 2em;
}
/*
#breadcrumbs li:last-child {
    padding-left: 2.4em;
}
*/
#breadcrumbs li {
    padding-left: 2.4em;
}
#breadcrumbs li a {
    position: relative;
    display: block;
/*
    padding-left: 2.4em;
*/
    color: inherit;
}
#breadcrumbs li:first-child {
    padding-left: 0em;
}
/*
#breadcrumbs li:first-child a {
    padding-left: 0em;
}
*/
#breadcrumbs li a:after {
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1.5em solid #fff;
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    left: 100%;
    z-index: 2;
}
#breadcrumbs li a:before {
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1.5em solid rgba(251,140,0,.5);
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    margin-left: 2px;
    left: 100%;
    z-index: 1;
}
/*
 *
 *      main - sidebar
 *
 */
#wrapper {
    display:  -webkit-box;
    display:     -moz-box;
    display:  -ms-flexbox;
    display: -webkit-flex;
    display:         flex;
}
#main {
    -webkit-box-ordinal-group: 1;
       -moz-box-ordinal-group: 1;
               -ms-flex-order: 1;
                -webkit-order: 1;
                        order: 1;
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
            -ms-flex: 1 0;
        -webkit-flex: 1 0;
                flex: 1 0;
}
#sidebar {
    display: none;
    -webkit-box-ordinal-group: 2;
       -moz-box-ordinal-group: 2;
               -ms-flex-order: 2;
                -webkit-order: 2;
                        order: 2;
    -webkit-box-flex: 0;
       -moz-box-flex: 0;
            -ms-flex: none;
        -webkit-flex: none;
                flex: none;
    width: 304px;
    margin-left: 5%;
}
#ie9 #main {
    float: left;
    width: 66%;
}
#ie9 #sidebar {
    display: block;
    float: right;
    width: 30%;
    margin-left: 0;
}
#ie8 #sidebar {
    display: block;
    width: 100%;
    margin-left: 0;
}
@media screen and (min-width: 968px) {
    #sidebar {
        display: block;
    }
}
/*
 *
 *      user contents
 *
 */
#sidebar {
    font-size: .875em;
}
#article h1,
#sidebar h1 {
    font: bold 1.25em/1.2 sans-serif;
    margin: 2em 0 1em;
    padding-left: .125em;
    padding-left: .125rem;
}
#article h2,
#sidebar h2 {
    font: bold 1em/1.2 sans-serif;
    margin: 2em 0 1em;
    padding-left: .125em;
    padding-left: .125rem;
}
#article h3,
#sidebar h3 {
    font: bold .875em/1.2 sans-serif;
    margin: 2em 0 1em;
    padding-left: .125em;
    padding-left: .125rem;
}
#article h4,
#article h5,
#article h6,
#sidebar h4,
#sidebar h5,
#sidebar h6 {
    font: bold .75em/1.2 sans-serif;
    margin: 2em 0 1em;
    padding-left: .125em;
    padding-left: .125rem;
}
#article p,
#sidebar p,
#article ul,
#sidebar ul,
#article ol,
#sidebar ol,
#article dl,
#sidebar dl {
    margin: 1em 0;
}
#article ul,
#article ol,
#sidebar ul,
#sidebar ol {
    padding-left: 2em;
}
#article dt,
#sidebar dt {
    margin-left: 1em;
    font-weight:  bold;
}
#article dd,
#sidebar dd {
    margin-left: 1em;
}
#article blockquote,
#sidebar blockquote {
    margin-left: 2em;
}
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #aaa;
    margin: .5em auto;
    padding:0;
}
/*
 *
 *      main
 *
 */
#article {
    margin: 1em 0;
    margin: 1rem 0;
}
#article header {
    margin: 1em -.5em;
    margin: 1rem -.5rem;
}
#article header h1 {
    font: bold 1.5em/1.2 serif;
    padding: 0 0 .125em .5em;
    padding: 0 0 .125em .5rem;
    margin: 0;
    border-bottom: 2px solid rgba(251,140,0,1);
    box-shadow: 0 1px 0 rgba(251,140,0,.3);
}
#article header p {
    font-size: .875em;
    text-align: right;
    margin: 0 .5em 1em;
    margin: 0 .5rem 1rem;
}
.sns_buttons {
    margin: 2em 0 1em;
    margin: 2rem 0 1rem;
}
.pagenation {
    margin: 1em 0;
    margin: 1rem 0;
}
@media screen and (min-width: 801px) {
    #article {
        margin: 2em 0;
        margin: 2rem 0;
    }
}
/*
 *
 *      footer
 *
 */
#footer {
    margin-top: 1em;
    border-top: 1px solid #ccc;
    text-align: right;
    color: #666;
}
/*
 *
 *      gotop
 *
 */
#gotop {
    display: none;
    position: absolute;
    right: .45455em;
    right: 1rem;
    bottom: .68182em;
    bottom: 1.5rem;
    width: 1.25em;
    width: 2.75rem;
    height: 1.25em;
    height: 2.75rem;
    overflow: hidden;
    font-size: 2.2em;
    font-size: 2.2rem;
    text-align: center;
    line-height: 1em;
    color: #fff;
    background-color: rgba(0,0,0,.75);
    border-radius: .17em;
    border-radius: .375rem;
    cursor: pointer;
}
/*
 *
 *      carousel
 *
 */
#carousel {
    margin: 2em 0;
    margin: 2rem 0;
}
#carousel_inner {
    position: relative;
            box-sizing: content-box;
    width: 100%;
    height: 100%;
    padding: 45% 0 0;
}
#carousel_inner > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 150px;
    background-color: #fff;
}
.bx-wrapper,
.bx-viewport,
ul.bxslider,
ul.bxslider li {
    height: 100% !important;
}
.bx-controls {
    position: absolute;
    bottom: 36px;
    right: 310px;
}
.bx-wrapper .bx-pager {
    text-align: right;
    width: 300px;
}
.bx-wrapper .bx-pager .bx-pager-item {
    overflow: hidden;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background-color: #fff;
    text-indent: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background-color: rgba(251,140,0,1);
}
.bx-wrapper .bx-pager.bx-default-pager a:hover {
    background-color: rgba(251,140,0,1);
}
.bx_caption {
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.5);
}
.bx_caption a h1 {
    font-size: 1.5em;
    font-size: 1.5rem;
    font-weight:bold;
}
.bx_caption a h1,
.bx_caption a p {
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
}
.bx_caption a:hover h1,
.bx_caption a:hover p {
    text-decoration: underline;
}
@media screen and (max-width: 599px) {
    .bx-controls {
        bottom: 26px;
        right: 305px;
    }
    .bx_caption {
        padding: 6px 8px;
    }
    .bx_caption a h1,
    .bx_caption a p {
        font-size: 66.7%;
    }
    .bx_caption a p span {
        display: none;
    }
}
/*
 *
 *      what's new
 *
 */
#home h1 {
    font-size: 1.2em;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1.667em 0 .83em;
    margin: 2rem 0 1rem;
}
#home h1 span {
    font-size: .72917em;
    font-size: .875rem;
    font-weight: normal;
}
#home h2 {
    font: bold 1em/1.2em serif;
    font: bold 1rem/1.2em serif;
    height: 3.6em;
    height: 3.6rem;
    margin-bottom: .25em;
    margin-bottom: .25rem;
    overflow: hidden;
}
#home h2 a {
    color: #484848;
}
#whats {
    list-style: none;
}
.cat {
    font: normal .875em/1em sans-serif;
    font: normal .875rem/1em sans-serif;
    text-align: right;
    height: 1em;
    height: .875rem;
    overflow: hidden;
}
/*
 *
 *      other
 *
 */
#article ul.wrapper {
    list-style: none;
    margin: 0 -0.5em;
    margin: 0 -0.5rem;
    padding: 0;
}
#index #article h2 {
    font: bold 1em/1.2em serif;
    font: bold 1rem/1.2em serif;
    height: 3.6em;
    height: 3.6rem;
    margin: 0 0 .25em;
    margin: 0 0 .25rem;
    overflow: hidden;
}
#index #article h2 a {
    color: #484848;
}
#list #article h2 {
    font: bold 1em/1.2em serif;
    font: bold 1rem/1.2em serif;
    margin: 0;
}
#list #article h2 a {
    color: #484848;
}
