	<div class="control-group">
		<label class="control-label" for="alt_id">電話番号</label>
		<div class="controls">
			<%= text_field 'item', 'telephone', :placeholder=>"電話番号を入力" %>
			<span class="help-inline">半角数字、ハイフン不要</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="name">顧客名</label>
		<div class="controls">
			<%= text_field 'item', 'name', :placeholder=>"氏名を入力" %>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="name">ふりがな</label>
		<div class="controls">
			<%= text_field 'item', 'furigana', :placeholder=>"ふりがなを入力" %>
		</div>
	</div>

