<table class="timeline">
	<tr>
		<th class="head_space"><%= @shop.name unless @shop.blank? %></th>
		<%
			now = Time.now 
			is_today = (now.to_date==@target_date)?	true: false 
			cur_hour = now.hour
		%>
		<% for i in @shop.business_hour_from...(@shop.business_hour_until) %>
			<th colspan="4" class="head_timeline table-info">
				<%= (Time.mktime(@target_date.year,@target_date.month,@target_date.day, 0, 0, 0)+(i*60*60)).strftime("%l:%M %p") %>
			</th>
		<% end %>
	</tr>

	<%
		staffs = @shop.staffs.where("staffs.staff_status >=?", Staff::STAFF_HELPER).order(position: :asc, alt_id: :asc)
		@finder_range_from  = Time.mktime(@target_date.year, @target_date.month, @target_date.day, @shop.business_hour_from,0,0) 
		@finder_range_until = Time.mktime(@target_date.year, @target_date.month, @target_date.day, @shop.business_hour_until,59,59) 
	%>

	<% staffs.each do | staff | %>
		<% @reservations = Reservation.in_range(@finder_range_from, @finder_range_until, @shop, staff) %> 
		<%= render :partial=>"timeline_quarter_staff", locals: {staff: staff} %>
	<% end %>
	<%= render :partial=>"timeline_quarter_open" %>
</table>
