<%
    @max = 12
    type_root = ContentCategory.type_root(@website, ContentCategory::TYPE_NEWS)
    navigation = type_root.web_page
    bag_categories = type_root.children.find(:all, :conditions=>["is_public=?", true])

    public_categories  = []
    bag_categories.each do | cat |
        public_categories.concat(cat.sons)
        public_categories << cat
    end
    c = ContentLeaf.public_leafs_condition
    c.and "content_category_id", public_categories
    latest_leafs =  @website.content_leafs.find(:all, :limit=>@max, :conditions=>c.where, :order=>'publish_from desc')
%>
<% unless latest_leafs.blank? %>
            <div class="container">
                <ul id="whats" class="wrapper">
    <% latest_leafs.each do | leaf |  %>
                    <li class="col-1p4">
<%= render :partial=>"#{LayoutScheme.asset_root}/enchant/latest_news_item", :locals => {:temp_local => leaf}  %>
                    </li>
    <% end %>
                </ul>
            </div>
<% end %>
