<% hsummary = VisualWidget.search_widget_bag_for(@website, "89fef5226b94ee611019f69b546d4449") %>
<% logomark = VisualWidget.search_widget_bag_for(@website, "8688bb3714a72e091b4a9fb2aaf70841") %>
<header id="header" class="clearfix">
    <div id="header_summary_block" class="clearfix">
        <div id="tnav_open_btn"><i class="fa fa-bars"></i><span>MENU</span></div>
<% if !hsummary.blank? && hsummary.is_valid? %>
        <div id="header_summary"><%= hsummary.data_string %></div>
<% end %>
    </div>
<% if !logomark.blank? && logomark.is_valid? %>
    <img id="header_image" src="<%= logomark.photos[0].clip.url(:image) %>" alt="logo mark">
<% end %>
</header>
