<div id="btn-menu-container" class="sp">
    <div id="btn-menu">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="btn-reserve btn-reserve-2">
    <p>
        <img src="/assets/lenahc.co.jp.new/images/common/icon-calendar.svg" width="26" heighT="25" alt="予約">
        <span class="txt">予約する</span>
    </p>
</div>
