<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>レナークグループ｜宮城県仙台市</title>
    <link rel="icon" href="./favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="./css/bootstrap-reboot.css" rel="stylesheet" type="text/css">
    <link href="./css/style.css" rel="stylesheet" type="text/css">
    <link href="./css/pctb.css" rel="stylesheet" type="text/css" media="screen and (min-width:768px)">
    <link href="./css/sp.css" rel="stylesheet" type="text/css" media="screen and (max-width:767px)">
    <script src="./js/jquery-3.7.1.min.js"></script>
    <script src="./js/main.js"></script>
    <script src="./jquery.inview/jquery.inview.min.js"></script>
    <script src="./jquery.inview/jquery.inview.custom.js"></script>
    <link href="./jquery.inview/jquery.inview.custom.css" rel="stylesheet" type="text/css">
    <script src="./slick/slick.js"></script>
    <link href="./slick/slick.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">
        $(document).ready(function () {
            $('#slick-mv').slick({
                autoplay: true,
                arrows: false,
                fade: true,
                speed: 3000,
                pauseOnHover: false,
                pauseOnFocus: false,
                touchMove: false,
                draggable: false,
            });
            $('#slick-staff').slick({
                dots: true,
                swipe: false,
                draggable: false,
            });
            $('.slick-salon').slick({
                autoplay: true,
                arrows: false,
                fade: true,
                pauseOnHover: false,
                pauseOnFocus: false,
                speed: 3000,
            });
        });
    </script>
</head>

<body class="news-list legrand">
    <div id="body-cover"></div>
    <a id="page-top"></a>
    <header id="page-header">
        <div class="inner-page-header container-l">
            <h1><a href="./index.html"><img src="./images/common/logo_black.svg" width="283" height="36"
                        alt="宮城・仙台市のレナークグループ" class="d-block">宮城・仙台市のレナークグループ</a></h1>
            <nav id="nav-main">
                <ul>
                    <li>
                        <a href="./index.html">
                            <span class="sup">
                                ホーム
                            </span>
                            <span class="txt">
                                HOME
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="./information-single.html">
                            <span class="sup">
                                レナークからのお知らせ
                            </span>
                            <span class="txt">
                                INFORMATION
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="./salon.html">
                            <span class="sup">
                                サロン紹介
                            </span>
                            <span class="txt">
                                SALON
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="./staff.html">
                            <span class="sup">
                                スタッフ紹介
                            </span>
                            <span class="txt">
                                STAFF
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="./aboutus.html">
                            <span class="sup">
                                コンセプト
                            </span>
                            <span class="txt">
                                ABOUT US
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="./menu.html">
                            <span class="sup">
                                メニュー
                            </span>
                            <span class="txt">
                                MENU
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="./news.html">
                            <span class="sup">
                                各店舗からのお知らせ
                            </span>
                            <span class="txt">
                                NEWS
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://recruit.lenahc.co.jp/" target="_blank">
                            <span class="sup">
                                求人情報
                            </span>
                            <span class="txt">
                                RECRUIT
                            </span>
                        </a>
                    </li>
                    <li id="item-webreserve">
                        <div class="btn-reserve btn-reserve-1">
                            <span class="up">
                                WEB&nbsp;RESERVE
                            </span>
                            <span class="under">
                                ネット予約はこちらから
                            </span>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="btn-menu-container" class="sp">
        <div id="btn-menu">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="btn-reserve btn-reserve-2">
        <p>
            <img src="./images/common/icon-calendar.svg" width="26" heighT="25" alt="予約">
            <span class="txt">予約する</span>
        </p>
    </div>
    <nav id="nav-reserve">
        <ul>
            <li>
                <figure>
                    <img src="./images/common/logo-aria-white.svg" alt="レナーク アリア" width="110" height="38">
                </figure>
                <p>
                    <a href="https://direct.salondenet.jp/udtM9d17mbSy5UBf7" target="_blank">WEB予約</a>
                    <a href="tel:0120135098">電話予約 0120-135-098</a>
                </p>
            </li>
            <li>
                <figure>
                    <img src="./images/common/logo-ist-white.svg" width="57" height="38" alt="レナーク イスト">
                </figure>
                <p>
                    <a href="https://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000039762" target="_blank">WEB予約</a>
                    <a href="tel:0120979431">電話予約 0120-979-431</a>
                </p>
            </li>
            <li>
                <figure>
                    <img src="./images/common/logo-soin-white.svg" alt="レナーク ソワン" width="110" height="38">
                </figure>
                <p>
                    <a href="https://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000039792" target="_blank">WEB予約</a>
                    <a href="tel:0120079041">電話予約 0120-079-041</a>
                </p>
            </li>
            <li>
                <figure>
                    <img src="./images/common/logo-legrand-white.svg" alt="レナーク ルグラン" width="126" height="38">
                </figure>
                <p>
                    <a href="https://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000302877" target="_blank">WEB予約</a>
                    <a href="tel:0120079041">電話予約 0120-079-041</a>
                </p>
            </li>
            <li>
                <figure>
                    <img src="./images/common/logo-with-white.svg" alt="レナーク ウィズ" width="57" height="38">
                </figure>
                <p>
                    <a href="tel:0120979698">電話予約 0120-979-698</a>
                </p>
            </li>
            <li>
                <figure>
                    <img src="./images/common/logo-coffret-white.svg" alt="レナーク コフレ" width="85" height="38">
                </figure>
                <p>
                    <a href="tel:0120074843">電話予約 0120-074-843</a>
                </p>
            </li>
        </ul>
    </nav>
    <main id="page-main">
        <article id="pageArticle">
            <header id="pageTitle">
                <h1>
                    NEWS </h1>
            </header> <!--各店NEWS一覧共通フォーマット-->
            <section>
                <div class="container container-news-list">
                    <ul>
                        <li class="inview-fadeIn">
                            <div class="img-box">
                                <figure>
                                    <img src="./images/common/dummy-news.gif" width="1240" height="1754"
                                        alt="サムネイル画像があった場合のダミー">
                                </figure>
                            </div>
                            <div class="txt">
                                <h3>
                                    記事タイトル
                                </h3>
                                <time>2023.10.16 thu</time>
                            </div>
                            <a href="./news-single-legrand.html">READ MORE</a>
                        </li>
                        <li class="inview-fadeIn">
                            <div class="img-box">
                                <figure>
                                    <!--サムネイル画像がないときは出力しない-->
                                </figure>
                            </div>
                            <div class="txt">
                                <h3>
                                    記事タイトル記事タイトル記事タイトル記事タイトル記事タイトル
                                </h3>
                                <time>2023.10.16 thu</time>
                            </div>
                            <a href="./news-single-legrand.html">READ MORE</a>
                        </li>
                        <li class="inview-fadeIn">
                            <div class="img-box">
                                <figure>
                                    <!--サムネイル画像がないときは出力しない-->
                                </figure>
                            </div>
                            <div class="txt">
                                <h3>
                                    記事タイトル
                                </h3>
                                <time>2023.10.16 thu</time>
                            </div>
                            <a href="./news-single-legrand.html">READ MORE</a>
                        </li>
                        <li class="inview-fadeIn">
                            <div class="img-box">
                                <figure>
                                    <!--サムネイル画像がないときは出力しない-->
                                </figure>
                            </div>
                            <div class="txt">
                                <h3>
                                    記事タイトル
                                </h3>
                                <time>2023.10.16 thu</time>
                            </div>
                            <a href="./news-single-legrand.html">READ MORE</a>
                        </li>
                        <li class="inview-fadeIn">
                            <div class="img-box">
                                <figure>
                                    <!--サムネイル画像がないときは出力しない-->
                                </figure>
                            </div>
                            <div class="txt">
                                <h3>
                                    記事タイトル
                                </h3>
                                <time>2023.10.16 thu</time>
                            </div>
                            <a href="./news-single-legrand.html">READ MORE</a>
                        </li>
                        <li class="inview-fadeIn">
                            <div class="img-box">
                                <figure>
                                    <!--サムネイル画像がないときは出力しない-->
                                </figure>
                            </div>
                            <div class="txt">
                                <h3>
                                    記事タイトル
                                </h3>
                                <time>2023.10.16 thu</time>
                            </div>
                            <a href="./news-single-legrand.html">READ MORE</a>
                        </li>
                    </ul>
                </div>
            </section>
        </article>
    </main>
    <footer id="page-footer">
        <div class="container">
            <address>
                <img src="./images/common/logo_white.svg" width="305" height="39" alt="LENAHC">
                <p class=company_name>株式会社　和田商</p>
                <p class="jusho">
                    宮城県仙台市青葉区旭ヶ丘四丁目30-15
                </p>
                <p class="d-inline-block">
                    <a class="btn-style-1" href="https://queen.swifty.jp/lenahc.co.jp/contact/"
                        target="_blank">お問い合わせ</a>
                </p>
                <ul id="footer-nav-2">
                    <li><a href="./company.html">会社概要</a></li>
                    <li><a href="./privacy-policy.html">プライバシーポリシー</a></li>
                </ul>
            </address>
            <nav>
                <ul>
                    <li>
                        <a href="./index.html">
                            HOME
                        </a>
                    </li>
                    <li>
                        <a href="./information-single.html">
                            INFORMATION
                        </a>
                    </li>
                    <li>
                        <a href="./news.html">
                            NEWS
                        </a>
                    </li>
                    <li>
                        <a href="./aboutus.html">
                            CONCEPT
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="./staff.html">
                            STAFF
                        </a>
                    </li>
                    <li>
                        <a href="./menu.html">
                            MENU
                        </a>
                    </li>
                    <li>
                        <a href="./salon.html">
                            SALON
                        </a>
                    </li>
                    <li>
                        <a href="https://recruit.lenahc.co.jp/" target="_blank">
                            RECRUIT
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="copyContainer container">
            <p class="copy">Copyright&copy;2023 LENAHC All Rights Reserved.</p>
        </div>
    </footer>
    <div id="gotop"><a href="#page-top"></a></div>
    <div id="body-cover"></div>
</body>

</html>