<%= render :partial=>"#{LayoutScheme.asset_root}/nico-hairsalon.jp/sns_links" %>
<footer id="footer">
<%= render :partial=>"#{LayoutScheme.asset_root}/nico-hairsalon.jp/navigation" %>
	<p class="copy"><%= copyright_notice(@website) %></p>
</footer>
