<nav id="gnav" class="">
    <div id="navcloser"></div>
<%= render :partial=>"#{LayoutScheme.asset_root}/nico-hairsalon.jp/navigation" %>
<%= render :partial=>"#{LayoutScheme.asset_root}/nico-hairsalon.jp/sns_links" %>
</nav>
