<div id="gnavback"></div>
<nav id="gnav" class="">
    <div id="navcloser"></div>
    <div id="gnavcontent">
<%= render :partial=>"#{LayoutScheme.asset_root}/nico-hairsalon.jp/navigation" %>
<%= render :partial=>"#{LayoutScheme.asset_root}/nico-hairsalon.jp/sns_links" %>
    </div>
</nav>
