<% brand = VisualWidget.search_widget_bag_for(@website, "0587c6108a1aa937f68fe65c704d158d") %>
<header id="header" class="">
    <img src="<%= brand.photos[0].clip.url() %>" alt="logo">
    <div id="navopner"></div>
</header>
