	<ul class="nav">

        <li>
            <a href="/home?wkey=7a56344f6350b71916082b31aa2b7e0d">home</a>
        </li>
        <li>
            <a href="/fix?id=34623&amp;wkey=7a56344f6350b71916082b31aa2b7e0d">about</a>
        </li>
        <li>
            <a href="/menu_list?id=4651&amp;wkey=7a56344f6350b71916082b31aa2b7e0d">menu / price</a>
        </li>
        <li>
            <a href="/fix?id=34836&amp;wkey=7a56344f6350b71916082b31aa2b7e0d">online</a>
        </li>
        <li>
            <a href="/streams?id=4649&amp;wkey=7a56344f6350b71916082b31aa2b7e0d">日々雑記</a>
        </li>

<% if @author_mode %>
    <% unless @website.wsite_layout_deploy.is_public.blank? %>
        <li><a href="<%= url_for(:action=>'list_layout_schemes') %>">デザイン</a></li>
    <% end %>
        <li><a href="<%= url_for(:action=>'manage_widget')%>">表示設定</a></li>
        <% if current_user.ui_version.blank? %>
            <li><a href="<%= url_for(:controller=>'bs_config', :action=>'shop_show_website')%>"><i class="icon-off"></i>&nbsp;サイト編集終了</a></li>
        <% else %>
            <li><a href="<%= url_for(:controller=>'admin_config', :action=>'shop_show_website')%>"><i class="icon-off"></i>&nbsp;サイト編集終了</a></li>
        <% end %>
<% end %>
	</ul>
