<%
	type_root = ContentCategory.type_root(@website, ContentCategory::TYPE_GALLERY)
	navigation = type_root.web_page
	gallery_bags =  type_root.public_bags
%>
<% unless gallery_bags.blank? %>
        <aside>
            <div class="container">
                <h1><%= link_to model_name(navigation), :action=>navigation.action_name, :id=>navigation.content_category.id %></h1>
                <div class="container2">
					<ul class="wrapper2">
<% gallery_bags.each do | leaf |  %>
						<li class="col-1p3f">
                            <div class="col-in2">
<%= render :partial=>"#{LayoutScheme.asset_root}/milktea-hair.com/gallery_stream_list_item", :locals => {:temp_local => leaf}  %>
							</div>
						</li>
<% end %>
					</ul>
				</div>
			</div>
		</aside>
<% end %>
