        <article>
            <div class="container">
                <h1>SALON</h1>
                <div class="container2">
<!-- Milktea -->
                    <div class="wrapper">
                        <div class="col-1p2">
                            <div class="col-in">
                                <div class="wrapper">
                                    <div class="col-1p3f">
                                        <div class="col-in">
                                            <div class="imgbox"><div style="background-image:url('/photo/image/clip/20772/original/milktea_thumb.jpg')">
                                                <img src="/photo/image/clip/20772/original/milktea_thumb.jpg" alt="">
                                            </div></div>
                                        </div>
                                    </div>
                                    <div class="col-2p3f">
                                        <div class="col-in">
                                            <div class="shop_logo">
                                                <img src="/photo/image/clip/10167/original/milktea.png" alt="">
                                            </div>
                                            <div class="shop_info">
                                                <a href="https://beauty.hotpepper.jp/slnH000230521/coupon/" target="_blank"><img src="/photo/image/clip/1222/original/hpb_bunner.png" alt="予約"></a><br>
                                                新潟市中央区新島町通1-1977-2<br>
                                                ロイヤル礎1階<br>
                                                Phone. 025-211-4595<br>
                                                OPEN / 10:00 - 20:00<br>
                                                【日・祝】9:00 - 18:30<br>
                                                CLOSE / 毎週月曜日、第3火曜日<br>
                                                駐車場（Milk tea 専用駐車場は8、10です！）
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1p2">
                            <div class="col-in">
                                <div class="gmap">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1573.7025859949547!2d139.04804265845846!3d37.92096396327256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff4c9f2734779b9%3A0xbf5d6a4fc4f9e4f1!2sHair+Garden+Milk+tea!5e0!3m2!1sja!2sjp!4v1538444645226" width="480" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- Ruelle -->
<!--
                    <div class="wrapper">
                        <div class="col-1p2">
                            <div class="col-in">
                                <div class="wrapper">
                                    <div class="col-1p3f">
                                        <div class="col-in">
                                            <div class="imgbox"><div style="background-image:url('/photo/image/clip/1021/original/ruelle.png')">
                                                <img src="/photo/image/clip/1021/original/ruelle.png" alt="">
                                            </div></div>
                                        </div>
                                    </div>
                                    <div class="col-2p3f">
                                        <div class="col-in">
                                            <div class="shop_logo">
                                                <img src="/photo/image/clip/1018/original/ruelle_logo.png" alt="">
                                            </div>
                                            <div class="shop_info">
                                                <a href="https://beauty.hotpepper.jp/slnH000230521/coupon/" target="_blank"><img src="/photo/image/clip/1222/original/hpb_bunner.png" alt="予約"></a><br>
                                                新潟市中央区新島町通1-1977-2<br>
                                                ロイヤル礎2階<br>
                                                Phone. 025-201-6088<br>
                                                OPEN / 10:00 - 20:00<br>
                                                【日・祝】9:00 - 18:30<br>
                                                CLOSE / 毎週月曜日、第3火曜日<br>
                                                駐車場（Milk tea 専用駐車場は8、10です！）
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1p2">
                            <div class="col-in">
                                <div class="gmap">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1573.7025859949547!2d139.04804265845846!3d37.92096396327256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff4c9f2734779b9%3A0xbf5d6a4fc4f9e4f1!2sHair+Garden+Milk+tea!5e0!3m2!1sja!2sjp!4v1538444645226" width="480" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
-->
<!-- Hatimitu -->
                    <div class="wrapper">
                        <div class="col-1p2">
                            <div class="col-in">
                                <div class="wrapper">
                                    <div class="col-1p3f">
                                        <div class="col-in">
                                            <div class="imgbox"><div style="background-image:url('/photo/image/clip/22124/original/hatimitu.jpg')">
                                                <img src="/photo/image/clip/22124/original/hatimitu.jpg" alt="">
                                            </div></div>
                                        </div>
                                    </div>
                                    <div class="col-2p3f">
                                        <div class="col-in">
                                            <div class="shop_logo">
                                                <img src="/photo/image/clip/10164/original/hatimitu.png" alt="">
                                            </div>
                                            <div class="shop_info">
                                                <a href="https://beauty.hotpepper.jp/slnH000348459/coupon/" target="_blank"><img src="/photo/image/clip/1222/original/hpb_bunner.png" alt="予約"></a><br>
                                                新潟市西区大学南2-2-7日報ビル<br>
                                                Phone. 025-263-1633<br>
                                                OPEN / 9:30 - 19:00<br>
                                                【日・祝】9:00 - 18:30<br>
                                                CLOSE / 毎週月曜日、第3火曜日<br>
                                                駐車場完備
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1p2">
                            <div class="col-in">
                                <div class="gmap">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3149.7473056049685!2d138.94222757229238!3d37.866202678471986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff4c70851f414b9%3A0x24bc42f5ced5b9a6!2z44OP44OB44Of44OEKEhhdGltaXR1IGJ5IGhhaXIgZ2FyZGVuIE1pbGsgdGVhKQ!5e0!3m2!1sja!2sjp!4v1538444785342" width="480" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- Fuwarica -->
                    <div class="wrapper">
                        <div class="col-1p2">
                            <div class="col-in">
                                <div class="wrapper">
                                    <div class="col-1p3f">
                                        <div class="col-in">
                                            <div class="imgbox"><div style="background-image:url('/photo/image/clip/20773/original/fuwarica_thumb.jpg')">
                                                <img src="/photo/image/clip/20773/original/fuwarica_thumb.jpg" alt="">
                                            </div></div>
                                        </div>
                                    </div>
                                    <div class="col-2p3f">
                                        <div class="col-in">
                                            <div class="shop_logo">
                                                <img src="/photo/image/clip/10163/original/fuwarica.png" alt="">
                                            </div>
                                            <div class="shop_info">
                                                <a href="https://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000349275" target="_blank"><img src="/photo/image/clip/1222/original/hpb_bunner.png" alt="予約"></a><br>
                                                新潟市西区小新4-8-47<br>
                                                Phone. 025-378-3449<br>
                                                OPEN / 10:00 - 19:30<br>
                                                【日・祝】9:00 - 18:00<br>
                                                CLOSE / 毎週月曜日、第3火曜日<br>
                                                駐車場完備
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1p2">
                            <div class="col-in">
                                <div class="gmap">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3149.0782960458846!2d139.00220591605844!3d37.88185161376311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff4c87dbb775eb3%3A0x6b1897fb59549051!2zRnV3YXJpY2EgYnkgaGFpciBnYXJkZW4gTWlsayB0ZWEo44OV44Ov44Oq44KrKeaWsOa9n-W4giDopb_ljLrjga7nvo7lrrnlrqQ!5e0!3m2!1sja!2sjp!4v1545023839444" width="480" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- Kinomama -->
                    <div class="wrapper">
                        <div class="col-1p2">
                            <div class="col-in">
                                <div class="wrapper">
                                    <div class="col-1p3f">
                                        <div class="col-in">
                                            <div class="imgbox"><div style="background-image:url('/photo/image/clip/10165/original/kinomama_shop.png')">
                                                <img src="/photo/image/clip/10165/original/kinomama_shop.png" alt="">
                                            </div></div>
                                        </div>
                                    </div>
                                    <div class="col-2p3f">
                                        <div class="col-in">
                                            <div class="shop_logo">
                                                <img src="/photo/image/clip/10166/original/kinomama.png" alt="">
                                            </div>
                                            <div class="shop_info">
                                                <a href="https://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000424555" target="_blank"><img src="/photo/image/clip/1222/original/hpb_bunner.png" alt="予約"></a><br>
                                                新潟市東区大形本町5-16-2, 2F<br>
                                                Phone. 025-288-5031<br>
                                                OPEN / 9:30 - 19:00<br>
                                                【日・祝】9:00 - 18:00<br>
                                                CLOSE / 毎週月曜日、第3火曜日<br>
                                                駐車場完備
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1p2">
                            <div class="col-in">
                                <div class="gmap">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3147.3446145231837!2d139.12147221699945!3d37.92237896259424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff4cb3324ff832b%3A0x41efa80eeea0d33b!2z44Kt44OO44Oe44Oe772ea2lub21hbWHvvZ4!5e0!3m2!1sja!2sjp!4v1545024676954" width="480" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- Kinomama END -->
<!-- Milktea kameda -->
                    <div class="wrapper">
                        <div class="col-1p2">
                            <div class="col-in">
                                <div class="wrapper">
                                    <div class="col-1p3f">
                                        <div class="col-in">
                                            <div class="imgbox"><div style="background-image:url('/photo/image/clip/30340/original/kameda.jpg')">
                                                <img src="/photo/image/clip/30340/original/kameda.jpg" alt="">
                                            </div></div>
                                        </div>
                                    </div>
                                    <div class="col-2p3f">
                                        <div class="col-in">
                                            <div class="shop_logo">
                                                <img src="/photo/image/clip/10167/original/milktea.png" alt="">
                                            </div>
                                            <div class="shop_info">
                                                <a href="https://beauty.hotpepper.jp/slnH000536979/coupon/" target="_blank"><img src="/photo/image/clip/1222/original/hpb_bunner.png" alt="予約"></a><br>
                                                Milktea亀田店<br>
                                                新潟市江南区亀田緑町2-1-39<br>
                                                Phone. 025-384-0692<br>
                                                OPEN / 9:00 - 17:00<br>
                                                【日曜日】9:00 - 19:00<br>
                                                CLOSE / 毎週水曜日<br>
                                                駐車場完備
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1p2">
                            <div class="col-in">
                                <div class="gmap">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d787.3770820249954!2d139.10212786368612!3d37.87179327964228!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff4cec49608c819%3A0x506df333e3face41!2z44CSOTUwLTAxNTIg5paw5r2f55yM5paw5r2f5biC5rGf5Y2X5Yy65LqA55Sw57eR55S677yS5LiB55uu77yR4oiS77yT77yZ!5e0!3m2!1sja!2sjp!4v1622684611323!5m2!1sja!2sjp" width="480" height="320" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- Milktea kameda END -->
<!-- Canele -->
                    <div class="wrapper">
                        <div class="col-1p2">
                            <div class="col-in">
                                <div class="wrapper">
                                    <div class="col-1p3f">
                                        <div class="col-in">
                                            <div class="imgbox"><div style="background-image:url('/photo/image/clip/30338/original/canele.jpg')">
                                                <img src="/photo/image/clip/30338/original/canele.jpg" alt="">
                                            </div></div>
                                        </div>
                                    </div>
                                    <div class="col-2p3f">
                                        <div class="col-in">
                                            <div class="shop_logo">
                                                <img src="/photo/image/clip/30339/original/canele.png" alt="">
                                            </div>
                                            <div class="shop_info">
                                                <a href="https://beauty.hotpepper.jp/slnH000526228/coupon/" target="_blank"><img src="/photo/image/clip/1222/original/hpb_bunner.png" alt="予約"></a><br>
                                                新潟市西区寺尾朝日通16-24<br>
                                                Phone. 025-369-5370<br>
                                                OPEN / 9:30 - 19:00<br>
                                                【土・日・祝】9:00 - 19:00<br>
                                                CLOSE / 毎週月曜日、第3火曜日<br>
                                                駐車場完備
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1p2">
                            <div class="col-in">
                                <div class="gmap">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d787.2411024882606!2d138.98545318817685!3d37.88451499872755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff4c72d61bc9ef7%3A0x13d50f0726a40308!2shair%20atelier%20Canel%C3%A9%20by%20Milk%20tea!5e0!3m2!1sja!2sjp!4v1622684831472!5m2!1sja!2sjp" width="480" height="320" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- Canele END -->
                </div>
            </div>
        </article>
