<% widget_bag = VisualWidget.search_widget_bag_for(@website, "f1dcc97994a28a9cb7658b36ba390bb8") %>
<% if !widget_bag.blank? && widget_bag.is_valid? %>
            <aside id="carousel">
<!--
                <ul class="clearfix">
-->
                <ul>
    <% widget_bag.photos.each do | photo | %>
                    <li><img src="<%= photo.clip.url() %>" alt=""></li>
    <% end %>
                </ul>
                <div id="carousel_prev"><i class="fa fa-chevron-circle-left"></i></div>
                <div id="carousel_next"><i class="fa fa-chevron-circle-right"></i></div>
            </aside>
<% end %>
