  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v5.0"></script>
  <script async defer src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js"></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script async src="https://www.instagram.com/embed.js"></script>
