        <!-- このサイトはIE9未満では正しく表示されません。 -->
        <!--[if lt IE 9]>
        <p id="browserupgrade">あなたは<strong>古いブラウザ</strong>をご利用のようです。安心してインターネットをお楽しみいただくために<a href="http://http://browsehappy.com/">最新のブラウザにアップグレード</a>してください。このサイトは古いブラウザでは正しく表示されません。</p>
        <![endif]-->
        <aside>
            <div class="container" id="header_sanjo">
                <div class="sanjologo">
                    <a href="http://sanjo.area-web.jp/">
                        <img src="/images/assets/area-web.jp/area_sanjo_logo.png" alt="AREA三条店">
                    </a>
                </div>
                <div class="sanjotel">
                    <a href="tel:0256-35-3653">
                        <img src="/images/assets/area-web.jp/tel.png" alt="AREA三条店電話">
                    </a>
                    <a href="http://line.me/ti/p/%40imp-ketty" target="_blank">
                        <img src="/images/assets/area-web.jp/line.png" alt="AREA三条店LINE@">
                    </a>
                </div>
            </div>
        </aside>
