        <aside>
            <div class="container">
                <div class="wrapper">
                    <div class="col-1p2">
                        <div class="content_box">
                            <a href="http://tsubame.area-web.jp/">
                                <img src="/images/assets/area-web.jp/tsubame.jpg" alt="燕店外観">
                                <h1>ヘアスタジオ エリア 燕店</h1>
                            </a>
                            <p>
                                〒959-1234 新潟県燕市南1-18-18<br>
                                Tel. 0256-61-5865<br>
                                営業時間／10:00～19:00<br>
                                【土・日・祝】9:00～18:00<br>
                                定休日／毎週月曜日、第3日曜・火曜日
                            </p>
                        </div>
                    </div>
                    <div class="col-1p2">
                        <div class="content_box">
                            <a href="http://sanjo.area-web.jp/">
                                <img src="/images/assets/area-web.jp/sanjo.jpg" alt="三条店店内">
                                <h1>ヘアスタジオ エリア 三条店</h1>
                            </a>
                            <p>
                                〒955-0065 新潟県三条市旭町2-7-56<br>
                                Tel. 0256-35-3653<br>
                                営業時間／10:00～19:00<br>
                                【土・日・祝】9:00～18:00<br>
                                定休日／毎週月曜日、第3日曜・火曜日
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
