  <div class="thumbnail">
	<% key_photo = temp_local.photos.first %>
	<% unless key_photo.blank? %>
    <%= image_tag key_photo.clip.url(:panel) %>
	<% else %>
		<img src="https://placehold.jp/50/cfcfcf/ffffff/800x500.png?text=No%20Face%20Photo%0A">
	<% end %>
    <div class="caption">
      <h3><%= truncate(model_name(temp_local), :length=>50) %></h3>
      <% unless temp_local.description.blank? %><p><%= h temp_local.description %></p><% end %>
      <p><a href="<%= url_for(:action=>'portfolio_list', :id=>temp_local, :wkey=>@website.wsite_hash_key) %>" class="btn btn-primary">Read</a></p>
    </div>
  </div>
