<a href="<%= url_for(:action=>'gallery_list', :id=>temp_local, :wkey=>@website.wsite_hash_key) %>">
	<div class="thumbnail">
	    <div class="caption">
	        <h4>
				<i class="icon-folder-close"></i>
	        	<%= truncate(temp_local.title, :length=>50) %>
	        	<span class='pull-xright'><span class="badge badge-success"><%= temp_local.content_leafs.size %></span></span>
			</h4>
			<p><%= h truncate(temp_local.description, :length=>20) %></p>
	    </div>
	</div>
</a>
