                <li><a href="<%= url_for(:action=>'list_color_schemes')%>">カラー</a></li>
				<li class="divider"></li>
				<% unless @website.wsite_layout_deploy.is_public %>
	                <li><a href="#">デザイン変更不可</a></li>
				<% else %>
	                <li><a href="<%= url_for(:action=>'list_layout_schemes')%>">デザイン</a></li>
				<% end %>
                <li><a href="<%= url_for(:action=>'manage_widget')%>">表示設定</a></li>
				<li class="divider"></li>
                <li><a href="<%= url_for(:controller=>'bs_config', :action=>'shop_show_website')%>"><i class="icon-off"></i>&nbsp;サイト編集終了</a></li>
