<footer id="footer">
    <img src="/assets/lenahc.co.jp/img/logo.png" alt="レナークロゴ">
    <ul>
        <li><a href="//recruit.lenahc.co.jp/">リクルート</a></li>
        <li><a href="/fix?id=16845">会社概要</a></li>
        <li><a href="/fix?id=16846">プライバシーポリシー</a></li>
        <li><a href="/contact/index.php">お問い合わせ</a></li>
    </ul>
    <p><%= copyright_notice(@website) %></p>
</footer>
