<header id="header" class="show">
    <div class="container">
        <div id="bland">
            <a href="/home">
                <img class="logo" src="/photo/image/0003/0497/logo.png">
            </a>
        </div>
        <div id="reserve-button">
            <p>24H WEB 予約</p>
        </div>
        <div id="nav-opener">
            <div></div>
            <div></div>
        </div>
    </div>
</header>
