<footer id="footer">
    <div class="container">
        <div class="top">
        </div>
        <div>
            <img src="/assets/rental.lenahc.co.jp/img/lenahc_logo.png" alt="レナーク ロゴ">
        </div>
        <ul id="footer-nav">
            <li><a href="https://recruit.lenahc.co.jp/" target="_blank">リクルート</a></li>
            <li><a href="https://www.lenahc.co.jp/fix?id=16845" target="_blank">会社概要</a></li>
            <li><a href="https://www.lenahc.co.jp/fix?id=16846" target="_blank">プライバシーポリシー</a></li>
            <li><a href="https://rental.lenahc.co.jp/contact/index.php" target="_blank">お問い合わせ</a></li>
        </ul>
    </div>
</footer>
<div id="grad-nav">
    <div class="container">
        <ul>
            <li>卒業式</li>
            <li>
                <a href="/fix?id=18874">
                    プラン
                </a>
            </li>
            <li>
                <a href="/galleries?id=3384">
                    スタイル
                </a>
            </li>
            <li>
                <a href="/fix?id=18880">
                    料　金
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="cage-nav">
    <div class="container">
        <ul>
            <li>成人式</li>
            <li>
                <a href="/fix?id=18875">
                    プラン
                </a>
            </li>
            <li>
                <a href="/galleries?id=3838">
                    スタイル
                </a>
            </li>
            <li>
                <a href="/fix?id=18880">
                    料　金
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="mobile-nav">
    <div class="mnav">
        <h2>卒業式</h2>
        <ul>
            <li><a href="/fix?id=18874">プラン</a></li>
            <li><a href="/galleries?id=3384">スタイル</a></li>
            <li><a href="/fix?id=18880">料　金</a></li>
        </ul>
        <p><a href="https://rental.lenahc.co.jp/contact/index.php" target="_blank">お問い合わせ</a></p>
    </div>
    <div class="mnav">
        <h2>成人式</h2>
        <ul>
            <li><a href="/fix?id=18875">プラン</a></li>
            <li><a href="/galleries?id=3838">スタイル</a></li>
            <li><a href="/fix?id=18880">料　金</a></li>
        </ul>
        <p><a href="https://rental.lenahc.co.jp/contact/index.php" target="_blank">お問い合わせ</a></p>
    </div>
    <div class="mnav">
        <h2>プラン</h2>
        <ul>
            <li><a href="/fix?id=18876">レンタルプラン</a></li>
            <li><a href="/fix?id=18877">持ち込みプラン</a></li>
            <li><a href="/fix?id=18878">フォトプラン</a></li>
        </ul>
    </div>
    <div class="mnav">
        <h2>ギャラリー</h2>
        <ul>
            <li><a href="/galleries?id=3839">袴ギャラリー</a></li>
            <li><a href="/galleries?id=3840">振り袖ギャラリー</a></li>
            <li><a href="/galleries?id=3841">小物ギャラリー</a></li>
        </ul>
    </div>
    <div class="last">
        <div>
            <a href="https://rental.lenahc.co.jp/home#information">店舗案内</a>
        </div>
        <div>
            <a href="/fix?id=18879">Q &amp; A</a>
        </div>
        <div>
            <a href="https://reserva.be/rentalreserve" target="_blank">WEB予約</a>
        </div>
    </div>
</div>
<header id="header">
    <div class="container">
        <h1 id="bland">
            <a href="/home">
                <img src="/assets/rental.lenahc.co.jp/img/rental_logo.png" alt="レナーク・レンタル・コレクション ロゴ">
            </a>
        </h1>
        <div id="pc-nav">
            <div id="subnav">
                <ul>
                    <li>&nbsp;</li>
                    <li class="subnavlist">
                        <a href="https://rental.lenahc.co.jp/contact/index.php" target="_blank">お問い合わせ</a>
                    </li>
                    <li class="subnavlist">
                        <a href="https://rental.lenahc.co.jp/home#information">店舗案内</a>
                    </li>
                    <li class="subnavlist">
                        <a href="/fix?id=18879">Q &amp; A</a>
                    </li>
                </ul>
            </div>
            <nav id="nav">
                <ul>
                    <li id="grad-nav-opener">卒業式</li>
                    <li id="cage-nav-opener">成人式</li>
                    <li><a href="https://rental.lenahc.co.jp/home#instagram">Instagram</a></li>
                    <li class="navlist">
                        <a href="https://rental.lenahc.co.jp/contact/index.php" target="_blank">お問い合わせ</a>
                    </li>
                    <li class="navlist">
                        <a href="https://rental.lenahc.co.jp/home#information">店舗案内</a>
                    </li>
                    <li class="navlist">
                        <a href="/fix?id=18879">Q &amp; A</a>
                    </li>
                    <li><a href="https://reserva.be/rentalreserve" target="_blank">WEB予約</a></li>
                </ul>
            </nav>
        </div>
        <div id="mobile-nav-opener-box">
            <div id="mobile-nav-opener">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</header>
<div id="gotop" class="show">
    <a href="#top"><span class=""></span></a>
</div>
