        <aside id="fnav">
            <div class="container">
                <ul id="fnav_main">
<%= render :partial=>"#{LayoutScheme.asset_root}/caelum-web.jp/navigation" %>
                </ul>
            </div>
        </aside>
