<header id="header">
    <div class="container">
<%= render :partial=>"#{LayoutScheme.asset_root}/caelum-web.jp/sns_links" %>
        <a id="nav_btn"><img src="/assets/caelum-web.jp/img/nav-opener.png" alt=""></a>
    </div>
</header>

<!-- ナビゲーション -->
<nav id="nav">
    <ul>
<%= render :partial=>"#{LayoutScheme.asset_root}/caelum-web.jp/navigation" %>
    </ul>
    <div class="text-center" style="margin: 2rem auto;">
        <a href="https://www.aveda.jp/locator/get_the_facts.tmpl?vanity=1&SalonID=58694&utm_medium=referral&utm_source=aveda-salon&utm_campaign=acom_site-traffic&utm_content=caelum_fs&utm_keyword=online" target="_blank">
            <img src="/photo/image/clip/34197/original/a-commerce_bnr_D_1200x500_211110.jpg" alt="公式ショップ">
        </a>
    </div>
    <div class="text-center" style="margin: 2rem auto;">
        <a href="http://recruit.caelum-web.jp/" target="_blank">
            <img src="/photo/image/clip/28671/original/recruit_bunner.png" alt="お問い合わせ">
        </a>
    </div>
</nav>
